<div class="modal-header">
    <h5 class="modal-title">Please review and edit your Account Information as necessary</h5>
    <button type="button" class="close" (click)="activeModal.close()">
        <span aria-hidden="true">&times;</span>
    </button>
  </div>
  
  <div class="modal-body dash-modal-body">
  
      <app-loading *ngIf="submitting"></app-loading>
        
      <form *ngIf="!submitting && !producer" [formGroup]="userForm" (ngSubmit)="onSubmit(userForm, 'consumer')">
  
          <div class="row form-section">
  
              <div class="col-12 form-section-header">
                  <h4>Your Profile Information</h4>
              </div>
          
              <div class="col-12 form-section-body">
  
                  <div class="row">
                      <label for="firstName" class="col-4 col-form-label text-right">First Name:</label>
                      <div class="col-8">
                          <input 
                          id="firstName"
                          type="text"
                          class="form-control"
                          formControlName="firstName">
                      </div>
                  </div>
  
                  <div class="row">
                      <label for="email" class="col-4 col-form-label text-right">Email:</label>
                      <div class="col-8">
                          <input 
                          id="email"
                          type="text"
                          class="form-control"
                          formControlName="email">
                      </div>
                  </div>
          
              </div>
  
              <div class="col-12 text-center">
                  <button 
                      class="btn btn-olf-primary" 
                      type="submit"
                      [disabled]="(userForm.invalid)"
                      >Update Profile</button>
              </div>
  
          </div>
  
      </form>
  
      <form *ngIf="!submitting && producer" [formGroup]="producerForm"  (ngSubmit)="onSubmit(producerForm, 'producer')">
  
          <div class="row form-section">
  
              <div class="col-12 form-section-header">
                  <h4>Your Profile Information</h4>
              </div>
  
              <div class="col-12 form-section-body">
  
                  <div class="row">
                      <label for="firstName" class="col-4 col-form-label text-right">First Name:</label>
                      <div class="col-8">
                          <input 
                          id="firstName"
                          type="text"
                          class="form-control"
                          formControlName="firstName">
                      </div>
                  </div>
  
                  <div class="row">
                      <label for="email" class="col-4 col-form-label text-right">Email:</label>
                      <div class="col-8">
                          <input 
                          id="email"
                          type="text"
                          class="form-control"
                          formControlName="email">
                      </div>
                  </div>
  
              </div>
  
              <div class="col-12 form-section-header">
                  <h4>Your Business Information</h4>
              </div>
        
              <div class="col-12 form-section-body">
  
                  <div class="row">
                      <label for="name" class="col-4 col-form-label text-right">Business Name:</label>
                      <div class="col-8">
                          <input 
                              id="name"
                              type="text"
                              class="form-control"
                              formControlName="name">
                      </div>
                  </div>
  
                  <div class="row">
                      <label for="description" class="col-4 col-form-label text-right">Description of your Business:</label>
                      <div class="col-8">
                          <textarea
                              id="description"
                              type="text" 
                              class="md-textarea"
                              formControlName="description"
                              class="form-control"></textarea>
                      </div>
                  </div>

                  <!-- logo -->
                  <div class="row form-section">
                        <div class="col-12 form-section-header">
                            <h4>Logo</h4>
                        </div>
                        <div class="col-12 form-section-body">

                        <!-- current image -->
                            <div class="row" *ngIf="!addingImage">
                                <div class="col-6 offset-3">
                                    <!-- image does not exist for product -->
                                    <div class="text-center">
                                        <p>No logo has been uploaded.</p>
                                        <button class="btn btn-olf-primary btn-sm" (click)="onAddImage()">Add Logo</button>
                                    </div>
                                </div>
                            </div>


                        <!-- Adding new image or changing current image -->
                            <div class="row" *ngIf="addingImage">
                                <div class="col-6">
                                    <label class="col-12 col-form-label text-center">Upload and Crop:</label>
                                </div>
                                <div class="col-6">
                                    <label class="col-12 col-form-label text-center">Preview:</label>
                                </div>
                                <div class="col-12">
                                    <app-logo-cropper [name]="imageName"></app-logo-cropper>
                                </div>
                            </div>

                        </div>
                    </div>
  
                  <!-- <div class="row">
                      <label for="logoUrl" class="col-4 col-form-label text-right">Upload a Logo</label>
                      <div class="col-8">
                          <input
                              #logoUrl
                              type="file"
                              accept=".png, .jpg, .jpeg"
                              formControlName="logoUrl"
                              (change)="fileChange($event)"
                              class="form-control">
                      </div>
                  </div> -->



                </div>

                <div class="col-12 form-section-header">
                    <h4>Your Location Details</h4>
                </div>
            
                <div class="col-12 form-section-body">

                    <div class="row">
                        <label for="name" class="col-4 col-form-label text-right">Address:</label>
                        <div class="col-8">
                            <p>{{ producer.address }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <label for="name" class="col-4 col-form-label text-right">Location:</label>
                        <div class="col-8">
                            <p>{{ producer.location }}, {{ producer.province }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 text-center">
                            <a  
                                (click)="toggleLocationSearch()"
                                >Edit Location Details</a>
                        </div>
                    </div>

                    <div class="row" [hidden]="!locationSearchDisplay">

                        <!-- location -->
                        <div class="col-12">

                            <h5 class="h5-responsive">
                                <label for="search">Enter Your Location</label>
                                <p><small>If you only do deliveries and off-farm pickups, your city or town is specific enough. But if you plan on offering the option of scheduled farmgate pickups, then we'll need an address.</small></p>                                    
                            </h5>
                            <div class="md-form pl-3">
                                <i class="fa fa-map-marker prefix"></i>
                                <input  
                                    autocorrect="off" 
                                    autocapitalize="off" 
                                    spellcheck="off" 
                                    type="text" 
                                    class="form-control" 
                                    #search 
                                    id="search"
                                    [formControl]="searchControl">
                            </div>

                        </div>

                        <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
                            <agm-marker [latitude]="latitude" [longitude]="longitude">
                                <!-- <agm-info-window>Börk</agm-info-window> -->
                            </agm-marker>
                        </agm-map>

                    </div>
            
              </div>
        
              <div class="col-12 text-center">
                  <button 
                      class="btn btn-olf-primary" 
                      type="submit"
                      [disabled]="(producerForm.invalid)"
                      >Update Profile</button>
              </div>
  
          </div>
  
      </form>
      
  </div>
  
  <div class="modal-footer justify-content-center">
      <div class="row">
          <div>
              <a (click)="activeModal.close()">Cancel Changes</a>
          </div>
      </div>
  </div>