<div class="modal-header">
  <h5 class="modal-title">Edit</h5>
  <button type="button" class="close" (click)="activeModal.close()">
      <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body dash-modal-body">

  <app-loading *ngIf="submitting"></app-loading>


<form *ngIf="!submitting" [formGroup]="scheduleForm" (ngSubmit)="onSubmit()">

  <div class="row">
    <div class="col-12">
        <p>The location details of a scheduled pickup or delivery cannot be modified. If necessary, please delete this instance and create a new one.</p>			
    
        <div *ngIf="hasOrders" class="row">
            <div class="col-8 offset-2">
                <blockquote class="blockquote bq-warning p-0">
                  <p class="bq-title pb-0">Please Note:</p>
                  <p>This {{ record.type }} already has at least one order attached to it. Therefore the date, times, and fee settings cannot be changed. The deadline and details can still be modified, however.</p>
                </blockquote>
              </div>
        </div>
    </div>
  </div>

  <div class="row">
  
    <div class="col-12">

      <div class="row form-section">
          <div class="col-12 form-section-header">
              <h5>General Details</h5>
          </div>

          <div class="col-12 form-section-body">

              <!-- Type -->
              <div class="row">
                <div class="col-xs-12 col-sm-4 col-form-label text-sm-right">
                  <strong>Schedule Type:</strong>
                </div>
                <div class="col-xs-12 col-sm-8 input-group col-form-value">
                  <p>{{ record.type }}</p>
                </div>
              </div>
              <!-- Description -->
              <div class="row">
                <label for="description" class="col-xs-12 col-sm-4 col-form-label text-sm-right">Description</label>
                <div class="col-xs-12 col-sm-8 input-group">
                  <textarea 
                    class="form-input-custom" 
                    id="description" 
                    formControlName="description"></textarea>
                </div>
              </div>
              <!-- Address -->
              <div *ngIf="record.address" class="row">
                <div class="col-xs-12 col-sm-4 col-form-label text-sm-right">
                  <strong>Address:</strong>
                </div>
                <div class="col-xs-12 col-sm-8 input-group col-form-value">
                  <p>{{ record.address }}</p>
                </div>
              </div>
              <!-- City -->
              <div class="row">
                <div class="col-xs-12 col-sm-4 col-form-label text-sm-right">
                  <strong>Location:</strong>
                </div>
                <div class="col-xs-12 col-sm-8 input-group col-form-value">
                  <p>{{ record.city }}, {{ record.province }}</p>
                </div>
              </div>

          </div>
      </div>
    
      <div class="row form-section">
          <div class="col-12 form-section-header">
              <h5>Dates and Times</h5>
          </div>

          <div class="col-12 form-section-body">

          <!-- Dates -->
          <div class="row">
                  
              <!-- IF THE SCHED ALREADY HAS ORDERS, DATES ARE NOT CHANGEABLE -->
              <div *ngIf="hasOrders"  class="col-12">
              
                <div class="row">
                  
                  <div class="col-12">
                    <div class="row">
                      <div class="col-xs-12 col-sm-4 col-form-label text-sm-right">
                        <strong>Date:</strong>
                      </div>
                      <div class="col-xs-12 col-sm-8 input-group col-form-value">
                        <p>{{ record.startDateTime | date:'mediumDate' }}</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-12 col-sm-4 col-form-label text-sm-right">
                        <strong>Time:</strong>
                      </div>
                      <div class="col-xs-12 col-sm-8 input-group col-form-value">
                        <p>{{ record.startDateTime | date:'shortTime' }} - {{ record.endDateTime | date:'shortTime' }}</p>
                      </div>
                    </div>
                  </div>
                </div>
              
              </div>
              
              <!-- IF THE SCHED DOES NOT HAVE ORDERS, DATES ARE CHANGEABLE -->
              <div *ngIf="!hasOrders" class="col-12">
              
                <!-- DATE - USES DATEPICKER MODULE -->
                  <div class="row">
                    <label for="date" class="col-4 col-form-label text-right">Date: </label>
                    <div class="col-xs-12 col-sm-8 input-group ">
                      <input 
                        [owlDateTime]="date" 
                        [owlDateTimeTrigger]="date" 
                        [(ngModel)]="dateMoment" 
                        [ngModelOptions]="{standalone: true}"
                        [formControl]="scheduleForm.controls['date']"
                        [min]="dateMin"
                        ngDefaultControl>
                      <owl-date-time
                        #date
                        [dateFormat]="'YYYY-MM-DD'"
                        [pickerType]="'calendar'" 
                        [placeHolder]="'YYYY-MM-DD'"
                        [autoClose]="true"
                        [inputId]="'date'"
                        (afterPickerClosed)="onChooseDate()"
                        ></owl-date-time>
                    </div>
                  </div>
            
                <!-- START TIME - USES DATEPICKER MODULE -->
                  <div class="row">
                    <label for="startTime" class="col-xs-12 col-sm-4 col-form-label text-sm-right">Start Time:</label>
                    <div class="col-xs-12 col-sm-8 input-group ">
                      <input 
                        [owlDateTime]="startTime" 
                        [owlDateTimeTrigger]="startTime" 
                        [(ngModel)]="startTimeMoment" 
                        [ngModelOptions]="{standalone: true}"
                        [formControl]="scheduleForm.controls['startTime']"
                        ngDefaultControl>
                      <owl-date-time
                        #startTime
                        [dateFormat]="'HH:MM'"
                        [pickerType]="'timer'" 
                        [placeHolder]="'HH:MM'"
                        [autoClose]="true"
                        [inputId]="'startTime'"
                        [stepMinute]="15"
                        (afterPickerClosed)="onChooseStartTime()"
                        ></owl-date-time>
                    </div>
                  </div>

                <!-- END TIME - USES DATEPICKER MODULE -->
                  <div class="row">
                    <label for="endTime" class="col-xs-12 col-sm-4 col-form-label text-sm-right">End Time:</label>
                    <div class="col-xs-12 col-sm-8 input-group ">
                      <input 
                        [owlDateTime]="endTime" 
                        [owlDateTimeTrigger]="endTime" 
                        [(ngModel)]="endTimeMoment" 
                        [ngModelOptions]="{standalone: true}"
                        [formControl]="scheduleForm.controls['endTime']"
                        [min]="endTimeMin"
                        ngDefaultControl>
                      <owl-date-time
                        #endTime
                        [dateFormat]="'HH:MM'"
                        [pickerType]="'timer'" 
                        [placeHolder]="'HH:MM'"
                        [autoClose]="true"
                        [inputId]="'endTime'"
                        [stepMinute]="15"
                        (afterPickerClosed)="onChooseEndTime()"
                        ></owl-date-time>
                    </div>
                  </div>
              
              </div>
              
              <!-- DEADLINE DATE - USES DATEPICKER MODULE -->
              <div class="col-12">

                <div class="row">
                    <label for="deadlineDate" class="col-xs-12 col-sm-4 col-form-label text-sm-right">Order Deadline Date:</label>
                    <div class="col-xs-12 col-sm-8 input-group ">
                      <input 
                        [owlDateTime]="deadlineDate" 
                        [owlDateTimeTrigger]="deadlineDate" 
                        [(ngModel)]="deadlineDateMoment" 
                        [ngModelOptions]="{standalone: true}"
                        [formControl]="scheduleForm.controls['deadlineDate']"
                        [max]="deadlineDateTimeMax"
                        [min]="deadlineDateTimeMin"
                        ngDefaultControl>
                      <owl-date-time
                        #deadlineDate
                        [dateFormat]="'YYYY-MM-DD'"
                        [pickerType]="'calendar'" 
                        [placeHolder]="'YYYY-MM-DD'"
                        [autoClose]="true"
                        [inputId]="'date'"
                        (afterPickerClosed)="onChooseDeadlineDate()"
                        ></owl-date-time>
                      </div>
                </div>

              <!-- DEADLINE TIME - USES DATEPICKER MODULE -->
                <div class="row">
                  <label for="deadlineTime" class="col-xs-12 col-sm-4 col-form-label text-sm-right">Order Deadline Time:</label>
                  <div class="col-xs-12 col-sm-8 input-group ">
                    <input 
                      [owlDateTime]="deadlineTime" 
                      [owlDateTimeTrigger]="deadlineTime" 
                      [(ngModel)]="deadlineTimeMoment" 
                      [ngModelOptions]="{standalone: true}"
                      [formControl]="scheduleForm.controls['deadlineTime']"
                      ngDefaultControl>
                    <owl-date-time
                      #deadlineTime
                      [dateFormat]="'HH:MM'"
                      [pickerType]="'timer'" 
                      [placeHolder]="'HH:MM'"
                      [autoClose]="true"
                      [inputId]="'endTime'"
                      [stepMinute]="15"
                      (afterPickerClosed)="onChooseDeadlineTime()"
                      ></owl-date-time>
                  </div>
                </div>

              </div>
                
            
            </div>


          </div>
      </div>


      <!-- options only for D2D deliveries -->
      <div class="row form-section" *ngIf="record.type == 'Door-to-door Delivery'">
          <div class="col-12 form-section-header">
              <h5>Door-to-door Delivery Details</h5>
          </div>

          <div class="col-12 form-section-body">


            <!-- there are orders, so fees cannot be changed -->
            <div *ngIf="hasOrders" class="col-12">
            
              <div *ngIf="record.type === 'Door-to-door Delivery'">
      
                <div class="row">
                  <div class="col-xs-12 col-sm-4 col-form-label text-sm-right">
                    <strong>Delivery Fee:</strong>
                  </div>
                  <div class="col-xs-12 col-sm-8 input-group col-form-value">
                    <p>{{ record.fee | currency:'USD':true:'1.2-2' }}</p>
                  </div>
                </div>
                
                <div class="row">
                <div class="col-xs-12 col-sm-4 col-form-label text-sm-right">
                  <strong>Fee Waiver Amount:</strong>
                </div>
                <div class="col-xs-12 col-sm-8 input-group col-form-value">
                  <p *ngIf="record.feeWaiver">{{ record.feeWaiver | currency:'USD':true:'1.2-2' }}</p>
                  <p *ngIf="!record.feeWaiver">None. Fee applies to all orders.</p>
                </div>
                </div>
              
              </div>
            
            </div>
            
            <!-- there are NO orders, so fees can be changed -->
            <div *ngIf="!hasOrders" class="col-12">
                      
              <div class="row">
                <label for="unit" class="col-xs-12 col-sm-4 col-form-label text-sm-right">Delivery fee?</label>
                <div class="col-xs-12 col-sm-8 input-group pl-5">
                  <div class="form-check form-check-inline">
                    <input 
                      [formControl]="scheduleForm.controls['hasFee']" 
                      type="radio" 
                      name="hasFee" 
                      [(ngModel)]="hasDelFee"
                      id="feeYes" 
                      [value]="true">
                    <label class="form-check-label" for="feeYes">Yes</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input 
                      [formControl]="scheduleForm.controls['hasFee']" 
                      type="radio" 
                      name="hasFee"
                      [(ngModel)]="hasDelFee" 
                      id="feeNo" 
                      [value]="false"
                      (click)="setDeliveryFeeToZero()">
                    <label class="form-check-label" for="feeNo">No</label>
                  </div>
                </div>
              </div>
        
              <div *ngIf="hasDelFee">
                <div class="row">
                  <label for="fee" class="col-xs-12 col-sm-4 col-form-label text-sm-right">Fee amount?</label>
                  <div class="col-xs-12 col-sm-8 input-group ">
                    <div class="input-group-addon">$</div>
                    <input 
                      [(ngModel)]="delFee"
                      class="form-control" 
                      type="number"
                      min="0"
                      step="1"
                      id="fee" 
                      [formControl]="scheduleForm.controls['fee']">
                  </div>
                </div>

                <br>
        
                <div class="row">
                  <label for="hasWaiver" class="col-xs-12 col-sm-4 col-form-label text-sm-right">Is there an order value at which you will waive the fee?</label>
                  <div class="col-xs-12 col-sm-8 input-group  pl-5">
                    <div class="form-check form-check-inline">
                      <input 
                        [formControl]="scheduleForm.controls['hasWaiver']" 
                        type="radio" 
                        name="hasWaiver" 
                        [(ngModel)]="hasFeeWaiver"
                        id="waiverYes" 
                        [value]="true">
                      <label class="form-check-label" for="waiverYes">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input 
                        [formControl]="scheduleForm.controls['hasWaiver']" 
                        type="radio" 
                        name="hasWaiver"
                        [(ngModel)]="hasFeeWaiver" 
                        id="waiverNo" 
                        [value]="false"
                        (click)="setFeeWaiverToZero()">
                      <label class="form-check-label" for="waiverNo">No</label>
                    </div>
                  </div>
                </div>
        
                <div *ngIf="hasFeeWaiver">
                <div class="row">
                  <label for="feeWaiver" class="col-xs-12 col-sm-4 col-form-label text-sm-right">What is the order amount?</label>
                  <div class="col-xs-12 col-sm-8 input-group">
                    <div class="input-group-addon">$</div>
                    <input 
                      class="form-control" 
                      type="number"
                      min="0"
                      step="1"
                      id="feeWaiver" 
                      [formControl]="scheduleForm.controls['feeWaiver']">
                  </div>
                </div>
                </div>
                
              </div>
            
            </div>

          </div>
      </div>
              
    
      <div class="row justify-content-center">
        <button 
          class="btn btn-olf-primary" 
          type="submit"
          >Update this Schedule</button>
          <!-- <button 
          class="btn btn-olf-primary" 
          type="submit"
          [disabled]="(form.invalid)"
          >Add to Schedule</button> -->
      </div>
      
    </div>
  
  </div>

</form>
  

</div>

<div class="modal-footer justify-content-center">
  <div class="row">
      <div>
          <a (click)="activeModal.close()">Cancel Changes</a>
      </div>
  </div>
</div>