<div class="modal-header">
  <h5 class="modal-title"> Viewing {{ record.name | uppercase }}</h5>
  <button type="button" class="close" (click)="activeModal.close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body dash-modal-body">

  <div class="row">

    <div class="col-12">

      <div class="row form-section">

        <div class="col-12 form-section-header">
          <h5>Details</h5>
        </div>

        <div class="col-12 form-section-body">

          <div class="row text-center">
            <div class="col-4 offset-4" *ngIf="record.image">
              <img src="https://s3-us-west-2.amazonaws.com/onlylocalfood-images/{{ record.image }}?{{ randomNumber }}" class="img-fluid" alt="">
            </div>
            <div class="col-4 offset-4" *ngIf="!record.image">
              <p>No image added.</p>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12 col-sm-4 col-form-label text-sm-right">
              <strong>Name:</strong>
            </div>
            <div class="col-xs-12 col-sm-8 input-group col-form-value">
              <p>{{ record.name }}</p>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12 col-sm-4 col-form-label text-sm-right">
              <strong>Description:</strong>
            </div>
            <div class="col-xs-12 col-sm-8 input-group col-form-value">
              <p>{{ record.description }}</p>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12 col-sm-4 col-form-label text-sm-right">
              <strong>Category:</strong>
            </div>
            <div class="col-xs-12 col-sm-8 input-group col-form-value">
              <p>{{ record.category }} > {{ record.subcategory }}</p>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12 col-sm-4 col-form-label text-sm-right">
              <strong>>Date Added:</strong>
            </div>
            <div class="col-xs-12 col-sm-8 input-group col-form-value">
              <p>{{ record.dateAdded | date:'mediumDate' }}</p>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12 col-sm-4 col-form-label text-sm-right">
              <strong>Status:</strong>
            </div>
            <div class="col-xs-12 col-sm-8 input-group col-form-value">
              <p *ngIf="!record.isObsolete">Active</p>
              <p *ngIf="record.isObsolete">Obsolete</p>
            </div>
          </div>

        </div>

      </div>

      <div class="row form-section">

        <div class="col-12 form-section-header">
          <h5>Pricing & Quantities</h5>
        </div>

        <div class="col-12 form-section-body">

          <div class="row">
            <div class="col-xs-12 col-sm-4 col-form-label text-sm-right">
              <strong>Price per Unit:</strong>
            </div>
            <div class="col-xs-12 col-sm-8 input-group col-form-value">
              <p>{{ record.pricePerUnit | currency:'USD':'symbol-narrow':'1.2-2' }}</p>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12 col-sm-4 col-form-label text-sm-right">
              <strong>Unit:</strong>
            </div>
            <div class="col-xs-12 col-sm-8 input-group col-form-value">
              <p>{{ record.unit | uppercase }}</p>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12 col-sm-4 col-form-label text-sm-right">
              <strong>Units Per Product:</strong>
            </div>
            <div class="col-xs-12 col-sm-8 input-group col-form-value">
              <p>{{ record.unitsPer }}</p>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12 col-sm-4 col-form-label text-sm-right">
              <strong>Average Product Price:</strong>
            </div>
            <div class="col-xs-12 col-sm-8 input-group col-form-value">
              <p>{{ totalPrice | currency:'USD':'symbol-narrow':'1.2-2' }}</p>
            </div>
          </div>

        </div>

      </div>

      <div class="row form-section">

        <div class="col-12 form-section-header">
          <h5>Pricing & Quantities</h5>
        </div>

        <div class="col-12 form-section-body">

          <div class="row">
            <div class="col-xs-12 col-sm-4 col-form-label text-sm-right">
              <strong>Available:</strong>
            </div>
            <div class="col-xs-12 col-sm-8 input-group col-form-value">
              <p>{{ record.qtyAvailable }}</p>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12 col-sm-4 col-form-label text-sm-right">
              <strong>Pending:</strong>
            </div>
            <div class="col-xs-12 col-sm-8 input-group col-form-value">
              <p>{{ record.qtyPending }}</p>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12 col-sm-4 col-form-label text-sm-right">
              <strong>Accepted:</strong>
            </div>
            <div class="col-xs-12 col-sm-8 input-group col-form-value">
              <p>{{ record.qtyAccepted }}</p>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12 col-sm-4 col-form-label text-sm-right">
              <strong>Completed:</strong>
            </div>
            <div class="col-xs-12 col-sm-8 input-group col-form-value">
              <p>{{ record.qtyCompleted }}</p>
            </div>
          </div>

        </div>

      </div>

    </div>

  </div>

</div>

<div class="modal-footer justify-content-center">
  <div class="row">
    <div>
      <a (click)="activeModal.close()">Close</a>
    </div>
  </div>
</div>