<nav class="navbar navbar-expand-sm navbar-toggleable-sm grey lighten-2">
  
  <div class="row">
    
    <div class="col-6 col-sm-4 text-center">
      <a class="navbar-brand m-0" routerLink="">
        <img class="w-100" src="../../assets/images/logo.png">
      </a>
    </div>
    
    <ul class="navbar-collapse navbar-nav col-2 col-sm-1">
      <li class="nav-item ml-auto">
        <a class="nav-link fa-lg" routerLink="/cart">
          <span class="fa-layers fa-fw">
            <i class="fas fa-shopping-cart" data-fa-transform="left-6 down-3 grow-3"></i>
            <span class="fa-layers-counter fa-2x btn-olf-primary">{{ cartCount }}</span>
          </span>
        </a>
        
      </li>
    </ul>
    
    <ul class="navbar-collapse navbar-nav col-2 col-sm-1">
      <li class="nav-item" style="max-height: 2rem">
        <a class="nav-link" routerLink="/search">
          <i class="fa fa-search fa-lg" aria-hidden="true"></i>
        </a>
      </li>
    </ul>
    
    <div class="col-2 hidden-sm-up">
      
      <button 
        class="p-2 navbar-toggler navbar-toggler-right btn btn-olf-primary btn-sm" 
        type="button" 
        data-toggle="collapse" 
        data-target="#navbar-collapse-44" 
        aria-controls="navbar-collapse-44" 
        aria-expanded="false" 
        aria-label="Toggle navigation">
        <span class="fa fa-bars fa-lg"></span>
      </button>
    </div>
    
    <div class="collapse navbar-collapse text-center col-12 col-sm-6 small" id="navbar-collapse-44">
      <ul class="nav navbar-nav ml-auto"> 
        
        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
          <a class="nav-link" routerLink="/learn-more-producer">Selling?</a>
        </li>
        
        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
          <a class="nav-link" routerLink="/learn-more-consumer">Buying?</a>
        </li>
        
        <li class="nav-item" *ngIf="loggedIn && !isAdmin" data-toggle="collapse" data-target=".navbar-collapse.show">
          <a class="nav-link" routerLink="/dashboard">My Account</a>
        </li>
        
        <li class="nav-item" *ngIf="loggedIn" data-toggle="collapse" data-target=".navbar-collapse.show">
          <a *ngIf="isAdmin" class="nav-link" routerLink="/admin">Admin</a>
        </li>
        
        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
          <button class="btn btn-olf-primary btn-sm" *ngIf="!loggedIn" (click)="onLogin($event)">Sign in/Register</button>
          <button class="btn btn-olf-primary btn-sm" *ngIf="loggedIn" (click)="onLogout()">Logout</button>
        </li>
        
      </ul>
      
    </div>
    
  </div>
  
</nav>
