<nav class="navbar navbar-toggleable-md grey lighten-2 fixed-top">
        <div class="container flex-center">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav1" aria-controls="navbarNav1" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a  href="#" style="width:25%">
                <img src="../../assets/images/logo.png" style="max-width: 100%">
            </a>
            <div class="collapse navbar-collapse" id="navbarNav1">
                <ul class="navbar-nav ml-auto flex-center">
                    <li class="nav-item">
                        <a class="nav-link" href="search">Search</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="learn-more">Learn More</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-primary" href="signup">Sign Up</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-primary" href="signin">Sign In</a>

                    </li>
                </ul>
            </div>
        </div>
    </nav>