<div class="mx-1 my-4">
  
  <!-- Nav tabs -->
  <ul class="nav nav-tabs nav-justified tabs-2 grey lighten-2 flex-column flex-sm-row hidden-md-down dash-nav" role="tablist">
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#products" role="tab" (click)="setActive('productsLink')"><i class="fa fa-list mr-1"></i> Products</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#deliveries" role="tab" (click)="setActive('schedulesLink')"><i class="fa fa-truck mr-1"></i> Schedule</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#orders" role="tab" (click)="setActive('ordersLink')"><i class="fa fa-shopping-cart mr-1"></i> Orders</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#ordersAsBuyer" role="tab" (click)="setActive('orderAsBuyerLink')"><i class="fa fa-shopping-cart mr-1"></i> Orders To Other Producers</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#accountInfo" role="tab" (click)="setActive('accountInfoLink')"><i class="fa fa-info-circle mr-1"></i> Account Info</a>
    </li>
  </ul>
  
  <div class="dropdown hidden-lg-up">
    <button class="btn btn-olf-primary dropdown-toggle btn-block" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Choose your Section
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" data-toggle="tab" href="#products" role="tab" [ngClass]="activeLink == 'productsLink'  ? 'active' : ''" (click)="setActive('productsLink')">Products</a>
      <a class="dropdown-item" data-toggle="tab" href="#deliveries" role="tab" [ngClass]="activeLink == 'schedulesLink'  ? 'active' : ''" (click)="setActive('schedulesLink')">Schedule</a>
      <a class="dropdown-item" data-toggle="tab" href="#orders" role="tab" [ngClass]="activeLink == 'ordersLink'  ? 'active' : ''" (click)="setActive('ordersLink')">Orders</a>
      <a class="dropdown-item" data-toggle="tab" href="#ordersAsBuyer" role="tab" [ngClass]="activeLink == 'orderAsBuyerLink'  ? 'active' : ''" (click)="setActive('orderAsBuyerLink')">Orders To Other Producers</a>
      <a class="dropdown-item" data-toggle="tab" href="#accountInfo" role="tab" [ngClass]="activeLink == 'accountInfoLink'  ? 'active' : ''" (click)="setActive('accountInfoLink')">Account Info</a>
    </div>
  </div>
  
  <!-- Tab panels -->
  <div class="tab-content" style="padding: 1em;">
    
    <!-- Products Panel -->
    <div class="tab-pane fade" id="products" role="tabpanel" [ngClass]="activeLink == 'productsLink'  ? 'active show in' : ''">
      <app-producer-products></app-producer-products>
    </div>
    <!--/ Products Panel-->
    
    <!-- Deliveries Panel -->
    <div class="tab-pane fade" id="deliveries" role="tabpanel"  [ngClass]="activeLink == 'schedulesLink'  ? 'active show in' : ''">
      <app-producer-schedule></app-producer-schedule>
    </div>
    <!--/ Deliveries Panel-->
    
    <!-- Orders Panel -->
    <div class="tab-pane fade" id="orders" role="tabpanel" [ngClass]="activeLink == 'ordersLink'  ? 'active show in' : ''">
      <app-producer-orders></app-producer-orders>
    </div>
    <!--/ Orders Panel-->
    
    <!-- Orders Panel -->
    <div class="tab-pane fade" id="ordersAsBuyer" role="tabpanel" [ngClass]="activeLink == 'orderAsBuyerLink'  ? 'active show in' : ''">
      <app-consumer-orders [id]="id"></app-consumer-orders>
    </div>
    <!--/ Orders Panel-->
    
    <!-- Account Panel -->
    <div class="tab-pane fade" id="accountInfo" role="tabpanel" [ngClass]="activeLink == 'accountInfoLink'  ? 'active show in' : ''">
      <app-account-info [user]="user" [producer]="producer"  [customUrlObject]="customUrlObject"></app-account-info>
    </div>
    <!--/ Account Panel-->
    
  </div>
  
</div>
