<div class="modal-body mb-1">
    <div class="md-form form-sm">
        <i class="fa fa-envelope prefix"></i>
        <input type="text" id="form22" class="form-control">
        <label for="form22">Your email</label>
    </div>

    <div class="md-form form-sm">
        <i class="fa fa-lock prefix"></i>
        <input type="password" id="form23" class="form-control">
        <label for="form23">Your password</label>
    </div>
    <div class="text-center mt-2">
        <a routerLink="dashboard" class="btn btn-olf-primary">Log in <i class="fa fa-sign-in ml-1"></i></a>
    </div>
</div>
<!--Footer-->
<div class="modal-footer display-footer">
    <div class="options text-center text-md-right mt-1">
        <p>Not a member? <a routerLink="register">Sign Up</a></p>
        <p>Forgot <a routerLink="#">Password?</a></p>
    </div>
    <button type="button" class="btn btn-outline-olf-primary waves-effect ml-auto" style="color:#893d63 !important;" data-dismiss="modal">Close</button>
</div>