<footer class="page-footer center-on-small-only mt-0">

        <!--Footer Links-->
        <div class="container-fluid">
            <div class="row">

                <div class="col-md-3 offset-lg-1 hidden-lg-down">
                    <h5 class="title">ABOUT OLF</h5>
                    <p>Onlylocalfood.com is a platform for local food producers to advertise and sell directly to consumers.</p>
                </div>

                <div class="col-md-6 col-lg-3 offset-lg-1">
                    <h5 class="title">Have Questions?</h5>
                    <ul>
                        <li><a class="footer-link" pageScroll [pageScrollDuration]="750" [routerLink]="['/']" href="#contact">Contact Us</a></li>
                        <!-- <li><a class="footer-link" pageScroll [pageScrollDuration]="750" [routerLink]="['/faq']">FAQ</a></li> -->
                        <li><a class="footer-link" routerLink="/learn-more-consumer">How it Works for Buyers</a></li>
                        <li><a class="footer-link" routerLink="/learn-more-producer">How it Works for Producers</a></li>
                        <li><a class="footer-link" routerLink="/privacy">Privacy Policy</a></li>
                    </ul>
                    <hr class="hidden-md-up">
                </div>

                <div class="col-md-6 col-lg-3 offset-lg-1">
                    <h5 class="title">Find us on:</h5>
                    <ul class="footer-link">
                        <li><a class="footer-link" href="https://www.facebook.com/onlylocalfood" target="_blank">Facebook</a></li>
                        <li><a class="footer-link" href="https://www.twitter.com/onlylocalfood" target="_blank">Twitter</a></li>
                    </ul>
                </div>

            </div>
        </div>
        <!--/.Footer Links-->

        <!--Copyright-->
        <div class="footer-copyright grey lighten-2">
            <div class="container-fluid">
                <p class="text-muted">© 2018 Copyright: <a href="http://www.onlylocalfood.com"> Onlylocalfood.com </a></p>

            </div>
        </div>
        <!--/.Copyright-->

    </footer>