<footer class="page-footer center-on-small-only">

        <!--Footer Links-->
        <div class="container-fluid">
            <div class="row">

                <!--First column-->
                <div class="col-md-3 offset-lg-1 hidden-lg-down">
                    <h5 class="title">ABOUT OLF</h5>
                    <p>Onlylocalfood.com is a platform for local food producers to advertise and sell directly to consumers.</p>
                </div>
                <!--/.First column-->

                <hr class="hidden-md-up">

                <!--Second column-->
                <div class="col-lg-2 col-md-4 offset-lg-1">
                    <h5 class="title">Our Projects</h5>
                    <ul>
                        <li><a href="#!">Jeffs Bike Shop</a></li>
                        <li><a href="#!">Main Street Restaurant</a></li>
                        <li><a href="#!">Connect Groceries</a></li>
                        <li><a href="#!">White-To-Black Coffe Shop</a></li>
                    </ul>
                </div>
                <!--/.Second column-->

                <hr class="hidden-md-up">

                <!--Third column-->
                <div class="col-lg-2 col-md-4">
                    <h5 class="title">Useful Resources</h5>
                    <ul>
                        <li><a href="#!">2016 Advertising Report</a></li>
                        <li><a href="#!">Best NY Agencies</a></li>
                        <li><a href="#!">Trends for 2017</a></li>
                        <li><a href="#!">World Advertisement Report</a></li>
                    </ul>
                </div>
                <!--/.Third column-->

                <hr class="hidden-md-up">

                <!--Fourth column-->
                <div class="col-lg-2 col-md-4">
                    <h5 class="title">Find us on</h5>
                    <ul>
                        <li><a href="https://www.facebook.com/onlylocalfood" target="_blank">Facebook</a></li>
                        <li><a href="https://www.twitter.com/onlylocalfood" target="_blank">Twitter</a></li>
                    </ul>
                </div>
                <!--/.Fourth column-->

            </div>
        </div>
        <!--/.Footer Links-->

        <hr>

        <!--Copyright-->
        <div class="footer-copyright grey lighten-2">
            <div class="container-fluid">
                <p class="text-muted">© 2018 Copyright: <a href="http://www.onlylocalfood.com"> Onlylocalfood.com </a></p>

            </div>
        </div>
        <!--/.Copyright-->

    </footer>