<footer class="page-footer center-on-small-only">

        <!--Footer Links-->
        <div class="container-fluid">
            <div class="row">

                <!--First column-->
                <div class="col-md-3 offset-lg-1 hidden-lg-down">
                    <h5 class="title">ABOUT MATERIAL DESIGN</h5>
                    <p>Material Design (codenamed Quantum Paper) is a design language developed by Google. </p>

                    <p>Material Design for Bootstrap (MDB) is a powerful Material Design UI KIT for most popular HTML, CSS, and JS framework - Bootstrap.</p>
                </div>
                <!--/.First column-->

                <hr class="hidden-md-up">

                <!--Second column-->
                <div class="col-lg-2 col-md-4 offset-lg-1">
                    <h5 class="title">Our Projects</h5>
                    <ul>
                        <li><a href="#!">Jeffs Bike Shop</a></li>
                        <li><a href="#!">Main Street Restaurant</a></li>
                        <li><a href="#!">Connect Groceries</a></li>
                        <li><a href="#!">White-To-Black Coffe Shop</a></li>
                    </ul>
                </div>
                <!--/.Second column-->

                <hr class="hidden-md-up">

                <!--Third column-->
                <div class="col-lg-2 col-md-4">
                    <h5 class="title">Useful Resources</h5>
                    <ul>
                        <li><a href="#!">2016 Advertising Report</a></li>
                        <li><a href="#!">Best NY Agencies</a></li>
                        <li><a href="#!">Trends for 2017</a></li>
                        <li><a href="#!">World Advertisement Report</a></li>
                    </ul>
                </div>
                <!--/.Third column-->

                <hr class="hidden-md-up">

                <!--Fourth column-->
                <div class="col-lg-2 col-md-4">
                    <h5 class="title">Find us on</h5>
                    <ul>
                        <li><a href="#!">Facebook</a></li>
                        <li><a href="#!">Twitter</a></li>
                        <li><a href="#!">LinkedIn</a></li>
                        <li><a href="#!">Behance</a></li>
                    </ul>
                </div>
                <!--/.Fourth column-->

            </div>
        </div>
        <!--/.Footer Links-->

        <hr>

        <!--Call to action-->
        <div class="call-to-action">
            <h4>Material Design for Bootstrap</h4>
            <ul>
                <li>
                    <h5>Get our UI KIT for free</h5></li>
                <li><a target="_blank" href="https://mdbootstrap.com/getting-started/" class="btn btn-olf-primary" rel="nofollow">Sign up!</a></li>
                <li><a target="_blank" href="https://mdbootstrap.com/material-design-for-bootstrap/" class="btn btn-olf-primary btn-sm" rel="nofollow">Learn more</a></li>
            </ul>
        </div>
        <!--/.Call to action-->

        <!--Copyright-->
        <div class="footer-copyright grey lighten-2">
            <div class="container-fluid">
                <p class="text-muted">© 2015 Copyright: <a href="http://www.MDBootstrap.com"> MDBootstrap.com </a></p>

            </div>
        </div>
        <!--/.Copyright-->

    </footer>