<!--  -->
<main class="container-fluid jumbotron-dark">

  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h2 class="text-muted responsive white-text text-center">
        Onlylocalfood.com is your online farmers’ market.
      </h2>
      <h2 class="text-muted responsive white-text text-center">
        You run your business normally. We take the pain out of the marketing, communication, and online ordering.
      </h2>
      <br>
      <br>
      <p class="lead text-light">
        Build your storefront by adding your products and your delivery and pickup schedule. We can then market directly to consumers in those specific locations and they order from you right on the site.
      </p>
      <p class="lead text-light">
        And do it all without any risk! We charge you 5% of the orders we send your way. Get an online storefront, a basic inventory and ordering system, and automated marketing, without breaking the bank!
      </p>
    </div>
  </div>

</main>

<div class="container">

  <div class="divider-new">
    <h2 class="h2-responsive wow fadeIn" data-wow-delay="0.2s">So, how does it work?</h2>
  </div>

  <!-- Section -->
  <section id="about" class="text-center wow fadeIn" data-wow-delay="0.2s">
    <div class="row">
      <div class="col-12">
        <p class="lead">
          OLF does local food differently. Once your products and schedule are updated, we can use that information to provide consumers in those locations with a way to easily find what's available to them, and let them order directly on the site. It may seem complex at first, but at the heart of it, there are 3 simple steps:
        </p>
        <div class="row">
          <div class="col-12 col-md-4">
            <span class="fa-stack fa-5x">
              <i class="fa fa-circle fa-stack-2x olf-primary-light"></i>
              <i class="fa fa-search fa-stack-1x fa-inverse"></i>
            </span>
            <h3>
              Sign up and build your storefront
            </h3>
            <ul class="text-left">
              <li>Sign up here to create your account.</li>
              <li>Add your business information, introducing consumers to yourself.</li>
            </ul>
          </div>
          <div class="col-12 col-md-4">
            <span class="fa-stack fa-5x">
              <i class="fa fa-circle fa-stack-2x olf-primary-light"></i>
              <i class="fa fa-calendar-plus-o fa-stack-1x fa-inverse"></i>
            </span>
            <h3>Manage your products and schedules</h3>
            <ul class="text-left">
              <li>Add your various products, along with descriptions, pictures, prices and more.</li>
              <li>Add your upcoming schedule of pickups, deliveries, markets, etc.</li>
              <li>Keep your information up-to-date.</li>
            </ul>
          </div>
          <div class="col-12 col-md-4">
            <span class="fa-stack fa-5x">
              <i class="fa fa-circle fa-stack-2x olf-primary-light"></i>
              <i class="fa fa-truck fa-stack-1x fa-inverse"></i>
            </span>
            <h3>Take and complete orders</h3>
            <ul class="text-left">
              <li>As orders come in, review them.</li>
              <li>Complete your schedule and get payment from the buyers themselves.</li>
              <li>Mark the orders complete in your account.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Section -->

</div>

<main class="container-fluid jumbotron-dark">

  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h2 class="text-muted responsive white-text text-center">
        FAQ's and How To's
      </h2>
    </div>
  </div>

</main>

<div class="container mb-5">

  <section id="producerFaq" class="text-left wow fadeIn" data-wow-delay="0.2s">
    <div class="row">
      <div class="col-12">

        <h5 class="faq-section-header">First, some basics...</h5>

        <div id="faqWhyJoinAccordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header dash-accordion" role="tab" id="faqWhyJoinHeading">
              <h5 class="mb-0">
                <a class="faq-toggle" data-toggle="collapse" data-parent="#faqWhyJoinAccordion" href="#faqWhyJoinCollapse" aria-expanded="false" aria-controls="faqHowToPayCollapse">
                  <span class="faq-icon-collapsed"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></span>
                  <span class="faq-icon-expanded"><i class="fa fa-minus-circle fa-lg" aria-hidden="true"></i></span>
                  As a producer, why should I join?
                </a>
              </h5>
            </div>
            <div id="faqWhyJoinCollapse" class="collapse" role="tabpanel" aria-labelledby="faqWhyJoinHeading">
              <div class="card-block">
                <p>There are several benefits to joining Onlylocalfood.com:</p>
                <ul>
                  <li>Save time - Your time is valuable, so we aim to reduce the time you spend marketing and answering basic questions about your products and schedule. Potential consumers will be able to find all the info they need on OLF.</li>
                  <li>The power of community – Consumers love farmers’ markets for one reason: many vendors all in one place. OLF is the same idea. And as a benefit to you, consumers that may come to the site looking for one vendor can also see and order your products.</li>
                  <li>A de-facto website – If you don’t want to maintain a website on your own, you can use your Producer Page as a stand-in. It contains virtually all the information consumers need, including your products and schedule. And it doesn’t cost you anything!</li>
                  <li>Take pre-orders – Wouldn’t it be nice to go to a farmers’ market or roadside pickup with hundreds of dollars’ worth of product already sold? Make your day more predictable and profitable.</li>
                  <li>Direct marketing – Tap into OLF’s existing consumer base to market to people that you already know are looking for local food. If someone has signed up for notifications on our site, you can be sure they are more likely to order.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div id="faqBasicsAccordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header dash-accordion" role="tab" id="faqBasicsHeading">
              <h5 class="mb-0">
                <a class="faq-toggle" data-toggle="collapse" data-parent="#faqBasicsAccordion" href="#faqBasicsCollapse" aria-expanded="false" aria-controls="faqBasicsCollapse">
                  <span class="faq-icon-collapsed"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></span>
                  <span class="faq-icon-expanded"><i class="fa fa-minus-circle fa-lg" aria-hidden="true"></i></span>
                  What's a storefront? A Producer Page?
                </a>
              </h5>
            </div>
            <div id="faqBasicsCollapse" class="collapse" role="tabpanel" aria-labelledby="faqBasicsHeading">
              <div class="card-block">
                <p>There are a few terms we tend to use at OLF that might need explaining.</p>
                <p>A <b>storefront</b> or a <b>Producer Page</b> is your personalized space on Onlylocalfood.com. It includes the information you provide us, such as the name of your business (obviously), a description, logo, as well as your personal schedule and product list.</p>
              </div>
            </div>
          </div>
        </div>

        <div id="faqDistributorAccordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header dash-accordion" role="tab" id="faqDistributorHeading">
              <h5 class="mb-0">
                <a class="faq-toggle" data-toggle="collapse" data-parent="#faqDistributorAccordion" href="#faqDistributorCollapse" aria-expanded="false" aria-controls="faqHowToPayCollapse">
                  <span class="faq-icon-collapsed"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></span>
                  <span class="faq-icon-expanded"><i class="fa fa-minus-circle fa-lg" aria-hidden="true"></i></span>
                  Is OLF the distributor?
                </a>
              </h5>
            </div>
            <div id="faqDistributorCollapse" class="collapse" role="tabpanel" aria-labelledby="faqDistributorHeading">
              <div class="card-block">
                <p>Nope. We are simply a platform that connects you to your consumers. We don’t want to be a middleman, and that helps us keep your cost down.</p>
                <p>You will continue to operate your business as you do currently. But by adding your products and schedule to OLF, we can market to our growing consumer base. Think of us as a part of the marketing arm of your business. Who knows, maybe it can become the only resource your marketing department requires.</p>
              </div>
            </div>
          </div>
        </div>

        <div id="faqOLFDifferentAccordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header dash-accordion" role="tab" id="faqOLFDifferentHeading">
              <h5 class="mb-0">
                <a class="faq-toggle" data-toggle="collapse" data-parent="#faqOLFDifferentAccordion" href="#faqOLFDifferentCollapse" aria-expanded="false" aria-controls="faqHowToPayCollapse">
                  <span class="faq-icon-collapsed"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></span>
                  <span class="faq-icon-expanded"><i class="fa fa-minus-circle fa-lg" aria-hidden="true"></i></span>
                  What makes OLF so different from other online food delivery services?
                </a>
              </h5>
            </div>
            <div id="faqOLFDifferentCollapse" class="collapse" role="tabpanel" aria-labelledby="faqOLFDifferentHeading">
              <div class="card-block">
                <p>Virtually every other local food website out there is a retailer/distributor. They buy the food from producers, and sell to consumers themselves. This adds a lot of cost to the transaction which can mean you get paid less, or the consumer pays more. OLF wants you to run your business how you see fit, and we’ll help you market to our growing consumer base.</p>
              </div>
            </div>
          </div>
        </div>

        <h5 class="faq-section-header">Costs and Services</h5>

        <div id="faqCostAccordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header dash-accordion" role="tab" id="faqCostHeading">
              <h5 class="mb-0">
                <a class="faq-toggle" data-toggle="collapse" data-parent="#faqCostAccordion" href="#faqCostCollapse" aria-expanded="false" aria-controls="faqHowToPayCollapse">
                  <span class="faq-icon-collapsed"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></span>
                  <span class="faq-icon-expanded"><i class="fa fa-minus-circle fa-lg" aria-hidden="true"></i></span>
                  How much does it cost, then?
                </a>
              </h5>
            </div>
            <div id="faqCostCollapse" class="collapse" role="tabpanel" aria-labelledby="faqCostHeading">
              <div class="card-block">
                <ul>
                  <li>We charge a flat 5% of orders sent through the site. We’ll send you an invoice at the end of each month in which you have orders. And your first month of charges is on us!</li>
                  <li>We are aiming to make things as risk-free as possible for you. Only pay for orders that we send your way, and only pay after you’ve been paid for those orders.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div id="faqMarketingAccordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header dash-accordion" role="tab" id="faqMarketingHeading">
              <h5 class="mb-0">
                <a class="faq-toggle" data-toggle="collapse" data-parent="#faqMarketingAccordion" href="#faqMarketingCollapse" aria-expanded="false" aria-controls="faqHowToPayCollapse">
                  <span class="faq-icon-collapsed"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></span>
                  <span class="faq-icon-expanded"><i class="fa fa-minus-circle fa-lg" aria-hidden="true"></i></span>
                  How is marketing handled?
                </a>
              </h5>
            </div>
            <div id="faqMarketingCollapse" class="collapse" role="tabpanel" aria-labelledby="faqMarketingHeading">
              <div class="card-block">
                <p>We’ve build several marketing strategies at OLF.</p>
                <ul>
                  <li>Social media, of course! At the moment we use Facebook and Twitter to engage consumers that are already interested in local food. If you schedule your deliveries and pickups at least 5 days in advance, we’ll work to get the word out there, even using paid advertising as necessary to increase the reach.</li>
                  <li>Our custom-built notification system – When you schedule an event, emails are automatically generated for everyone on the site that has told us they want to be notified. These emails are sent based on the location(s) a user has actively selected, so you can be sure that they are interested in buying.</li>
                  <li>Email List - which we tap into sparingly (we don’t want to annoy people) to get the word out.</li>
                  <li>Media outreach – we have a list of journalists that have already either done pieces about us, or have expressed interest when our reach grows into the areas they serve.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <h5 class="faq-section-header">Managing your Page/Storefront</h5>

        <div id="faqHomepageAccordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header dash-accordion" role="tab" id="faqHomepageHeading">
              <h5 class="mb-0">
                <a class="faq-toggle" data-toggle="collapse" data-parent="#faqHomepageAccordion" href="#faqHomepageCollapse" aria-expanded="false" aria-controls="faqHomepageCollapse">
                  <span class="faq-icon-collapsed"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></span>
                  <span class="faq-icon-expanded"><i class="fa fa-minus-circle fa-lg" aria-hidden="true"></i></span>
                  Can I use my producer page/storefront as my website?
                </a>
              </h5>
            </div>
            <div id="faqHomepageCollapse" class="collapse" role="tabpanel" aria-labelledby="faqHomepageHeading">
              <div class="card-block">
                <p>Absolutely! In fact, as consumers ourselves, we encourage it. A simple, one-stop point of information for potential buyers is ideal.</p>
                <p>Using your producer page as a stand-in for a website could help you save time and money. No need to manage multiple online spaces when one will do!</p>
                <p>You also have a couple of options – if you want to stick with our custom url option, that’s easy to set up; or, if you have your own url, you can redirect it to your producer page on OLF. Your domain name provider should be able to set this up. If you need a hand, you can let us know and we’d be happy to help – send us a quick note here.</p>
              </div>
            </div>
          </div>
        </div>

        <div id="faqWhatIsCustomUrlAccordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header dash-accordion" role="tab" id="faqWhatIsCustomUrlHeading">
              <h5 class="mb-0">
                <a class="faq-toggle" data-toggle="collapse" data-parent="#faqWhatIsCustomUrlAccordion" href="#faqWhatIsCustomUrlCollapse" aria-expanded="false" aria-controls="faqHowToPayCollapse">
                  <span class="faq-icon-collapsed"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></span>
                  <span class="faq-icon-expanded"><i class="fa fa-minus-circle fa-lg" aria-hidden="true"></i></span>
                  What is a custom URL?
                </a>
              </h5>
            </div>
            <div id="faqWhatIsCustomUrlCollapse" class="collapse" role="tabpanel" aria-labelledby="faqWhatIsCustomUrlHeading">
              <div class="card-block">
                <p>OLF gives you the option to add to the path following our url. This will give you a unique url that ease easy to read and to share. If your business name is Green Farms & Apiary, you can build a url that would appear as www.onlylocalfood.com/greenfarms (as long as it hasn’t been taken another producer).</p>
                <p>Custom urls can’t contain special characters (like the ampersand above), but can contain underscores and hyphens. However, you should do your best to keep the url short and clear.</p>
              </div>
            </div>
          </div>
        </div>

        <div id="faqAddCustomUrlAccordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header dash-accordion" role="tab" id="faqAddCustomUrlHeading">
              <h5 class="mb-0">
                <a class="faq-toggle" data-toggle="collapse" data-parent="#faqAddCustomUrlAccordion" href="#faqAddCustomUrlCollapse" aria-expanded="false" aria-controls="faqHowToPayCollapse">
                  <span class="faq-icon-collapsed"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></span>
                  <span class="faq-icon-expanded"><i class="fa fa-minus-circle fa-lg" aria-hidden="true"></i></span>
                  How do I add or edit custom URL?
                </a>
              </h5>
            </div>
            <div id="faqAddCustomUrlCollapse" class="collapse" role="tabpanel" aria-labelledby="faqAddCustomUrlHeading">
              <div class="card-block">
                <p>When you sign up for OLF, you will have the option to add your url then. If you didn’t, or would like to modify it later, you can use the ‘edit’ button under My Account in your Dashboard. Add or edit your custom url and click ‘Save’.</p>
              </div>
            </div>
          </div>
        </div>

        <h5 class="faq-section-header">Adding and Managing Products and Schedules</h5>

        <div id="faqAddProductsAccordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header dash-accordion" role="tab" id="faqAddProductsHeading">
              <h5 class="mb-0">
                <a class="faq-toggle" data-toggle="collapse" data-parent="#faqAddProductsAccordion" href="#faqAddProductsCollapse" aria-expanded="false" aria-controls="faqAddProductsCollapse">
                  <span class="faq-icon-collapsed"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></span>
                  <span class="faq-icon-expanded"><i class="fa fa-minus-circle fa-lg" aria-hidden="true"></i></span>
                  How do I add products?
                </a>
              </h5>
            </div>
            <div id="faqAddProductsCollapse" class="collapse" role="tabpanel" aria-labelledby="faqAddProductsHeading">
              <div class="card-block">
                <p>******</p>
              </div>
            </div>
          </div>
        </div>

        <div id="faqAddScheduleAccordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header dash-accordion" role="tab" id="faqAddScheduleHeading">
              <h5 class="mb-0">
                <a class="faq-toggle" data-toggle="collapse" data-parent="#faqAddScheduleAccordion" href="#faqAddScheduleCollapse" aria-expanded="false" aria-controls="faqAddScheduleCollapse">
                  <span class="faq-icon-collapsed"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></span>
                  <span class="faq-icon-expanded"><i class="fa fa-minus-circle fa-lg" aria-hidden="true"></i></span>
                  How do I add my schedule?
                </a>
              </h5>
            </div>
            <div id="faqAddScheduleCollapse" class="collapse" role="tabpanel" aria-labelledby="faqAddScheduleHeading">
              <div class="card-block">
                <p>******</p>              
              </div>
            </div>
          </div>
        </div>

        <div id="faqScheduleTypesAccordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header dash-accordion" role="tab" id="faqScheduleTypesHeading">
              <h5 class="mb-0">
                <a class="faq-toggle" data-toggle="collapse" data-parent="#faqScheduleTypesAccordion" href="#faqScheduleTypesCollapse" aria-expanded="false" aria-controls="faqScheduleTypesCollapse">
                  <span class="faq-icon-collapsed"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></span>
                  <span class="faq-icon-expanded"><i class="fa fa-minus-circle fa-lg" aria-hidden="true"></i></span>
                  What are the different types of schedules that I can/should use?
                </a>
              </h5>
            </div>
            <div id="faqScheduleTypesCollapse" class="collapse" role="tabpanel" aria-labelledby="faqScheduleTypesHeading">
              <div class="card-block">
                <p>Currently, OLF uses four types of schedules: Door-to-door delivery, market pickup, on-farm pickup, and other pickups.</p>
                <p><b>Door-to-door Delivery</b> - This is fairly self-explanatory, but you should note a couple of things: You will only be required to input a community name to set it up. Consumers will be required to provide an address when they order. If you are restricting your delivery in any way (eg. you are only delivering to the south west corner of the city), then you should indicate that in the description. You will also have the option to add a delivery fee, and the option to add it to every order, or to orders that fall below a certain dollar value.</p>
                <p><b>Market Pickup</b> - Again, pretty easy to understand. If you want to take pre-orders for a farmers' market, this is the place to do it. Enter the community and an address if possible. Include any other details to your description.</p>
                <p><b>On-farm Pickup</b> - Using this option, you can schedule farmgate sales.</p>
                <p><b>Other Pickup</b> - This option will cover anything else. If you drop off orders at another location (eg. a friend's store), or if you send meat to the butcher, this will be the option to use. Including details in your description will be key to the success of these types of schedules.</p>
              </div>
            </div>
          </div>
        </div>

        <div id="faqAddDeliveryFeeAccordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header dash-accordion" role="tab" id="faqAddDeliveryFeeHeading">
              <h5 class="mb-0">
                <a class="faq-toggle" data-toggle="collapse" data-parent="#faqAddDeliveryFeeAccordion" href="#faqAddDeliveryFeeCollapse" aria-expanded="false" aria-controls="faqHowToPayCollapse">
                  <span class="faq-icon-collapsed"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></span>
                  <span class="faq-icon-expanded"><i class="fa fa-minus-circle fa-lg" aria-hidden="true"></i></span>
                  Can I add a delivery fee to orders?
                </a>
              </h5>
            </div>
            <div id="faqAddDeliveryFeeCollapse" class="collapse" role="tabpanel" aria-labelledby="faqAddDeliveryFeeHeading">
              <div class="card-block">
                <p>You sure can. When you choose to schedule a ‘door-to-door delivery’, you have the option to add a delivery fee. You can also choose to apply that fee to all orders, or to waive the fee when an order hits a certain dollar value.</p>
              </div>
            </div>
          </div>
        </div>

        <h5 class="faq-section-header">Managing Orders</h5>

        <div id="faqOrderProcessAccordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header dash-accordion" role="tab" id="faqOrderProcessHeading">
              <h5 class="mb-0">
                <a class="faq-toggle" data-toggle="collapse" data-parent="#faqOrderProcessAccordion" href="#faqOrderProcessCollapse" aria-expanded="false" aria-controls="faqOrderProcessCollapse">
                  <span class="faq-icon-collapsed"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></span>
                  <span class="faq-icon-expanded"><i class="fa fa-minus-circle fa-lg" aria-hidden="true"></i></span>
                  What is the ordering process - from start to finish?
                </a>
              </h5>
            </div>
            <div id="faqOrderProcessCollapse" class="collapse" role="tabpanel" aria-labelledby="faqOrderProcessHeading">
              <div class="card-block">
                <p>There are a few steps an order takes from start to finish, and we use different order statuses to track them:</p>
                <ul>
                  <li><b>Pending</b> - When an order is created by a consumer, it is set to a 'pending' status. You are notified via an email when a new order comes in.</li>
                  <li><b>Accepted</b> - Once you have reviewed the order, you will be asked to 'Accept' the order. This is a status that tells the consumer (they get an email notification) the order will be fulfilled. On the other hand...</li>
                  <li><b>Denied</b> - If the order is unacceptable for some reason (you've had a bad experience with that consumer in the past, something in your schedule changed and you are no longer make that delivery, etc.), you have the option to mark the order 'Denied'. In fairness to the consumer, you will need to add a comment explaining why, and they will receive an email notification.</li>
                  <li><b>Completed</b> - Once the delivery or pickup has taken place - the consumer has their order and you've been paid, you mark the order completed. This is just an indication that nothing is outstanding on the order, and helps keeps your account organized.</li>
                  <li><b>Incomplete</b> - If a consumer doesn't show up for the pickup, or something else happens that prevents the delivery, then you have the option to mark the order 'Incomplete'. You'll need to indicate the reason by selecting from a given drop down. Again, this helps keep your account organized and will prevent you being charged for an order that didn't take place.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div id="faqGetPaidAccordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header dash-accordion" role="tab" id="faqGetPaidHeading">
              <h5 class="mb-0">
                <a class="faq-toggle" data-toggle="collapse" data-parent="#faqGetPaidAccordion" href="#faqGetPaidCollapse" aria-expanded="false" aria-controls="faqHowToPayCollapse">
                  <span class="faq-icon-collapsed"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></span>
                  <span class="faq-icon-expanded"><i class="fa fa-minus-circle fa-lg" aria-hidden="true"></i></span>
                  How do I get paid?
                </a>
              </h5>
            </div>
            <div id="faqGetPaidCollapse" class="collapse" role="tabpanel" aria-labelledby="faqGetPaidHeading">
              <div class="card-block">
                <p>OLF isn’t the middleman. When you and the consumer connect via delivery or pickup, they pay you directly, not us. We'd recommend including the acceptable payment methods in your schedule descriptions.</p>
              </div>
            </div>
          </div>
        </div>

        <h5 class="faq-section-header">Account Management</h5>

        <div id="faqEditBusinessInfoAccordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header dash-accordion" role="tab" id="faqEditBusinessInfoHeading">
              <h5 class="mb-0">
                <a class="faq-toggle" data-toggle="collapse" data-parent="#faqEditBusinessInfoAccordion" href="#faqEditBusinessInfoCollapse" aria-expanded="false" aria-controls="faqHowToPayCollapse">
                  <span class="faq-icon-collapsed"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></span>
                  <span class="faq-icon-expanded"><i class="fa fa-minus-circle fa-lg" aria-hidden="true"></i></span>
                  How do I edit my business information?
                </a>
              </h5>
            </div>
            <div id="faqEditBusinessInfoCollapse" class="collapse" role="tabpanel" aria-labelledby="faqEditBusinessInfoHeading">
              <div class="card-block">
                <p>In your Account Dashboard, you will find a tab named ‘My Account’. By clicking the ‘edit’ button you can update your information. Remember to click ‘Save’ when you are done!</p>
              </div>
            </div>
          </div>
        </div>

        <div id="faqDownloadTableAccordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header dash-accordion" role="tab" id="faqDownloadTableHeading">
              <h5 class="mb-0">
                <a class="faq-toggle" data-toggle="collapse" data-parent="#faqDownloadTableAccordion" href="#faqDownloadTableCollapse" aria-expanded="false" aria-controls="faqHowToPayCollapse">
                  <span class="faq-icon-collapsed"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></span>
                  <span class="faq-icon-expanded"><i class="fa fa-minus-circle fa-lg" aria-hidden="true"></i></span>
                  Can I download a spreadsheet of my orders, products, etc.?
                </a>
              </h5>
            </div>
            <div id="faqDownloadTableCollapse" class="collapse" role="tabpanel" aria-labelledby="faqDownloadTableHeading">
              <div class="card-block">
                <p>You sure can! You can download any of the tables within any of the tabs in your Account Dashboard. Simply click the ‘Export’ button located beside the table’s title. A CSV file will be downloaded. You can then open that in Excel, or any other table-based software, and begin to manipulate the data.</p>
              </div>
            </div>
          </div>
        </div>

        <h5 class="faq-section-header">Other Questions</h5>

        <div id="faqWhatIsLocalProducerAccordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header dash-accordion" role="tab" id="faqWhatIsLocalProducerHeading">
              <h5 class="mb-0">
                <a class="faq-toggle" data-toggle="collapse" data-parent="#faqWhatIsLocalProducerAccordion" href="#faqWhatIsLocalProducerCollapse" aria-expanded="false" aria-controls="faqHowToPayCollapse">
                  <span class="faq-icon-collapsed"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></span>
                  <span class="faq-icon-expanded"><i class="fa fa-minus-circle fa-lg" aria-hidden="true"></i></span>
                  What exactly is local? Am I restricted to where I can sell?
                </a>
              </h5>
            </div>
            <div id="faqWhatIsLocalProducerCollapse" class="collapse" role="tabpanel" aria-labelledby="faqWhatIsLocalProducerHeading">
              <div class="card-block">
                <p>We aren’t going to restrict where you can sell. If you want to drive a full day to attend a market, that’s up to you. In our opinion, ‘local food’ is simply as ‘local’ as you can get. In fact, it’s more about helping small and medium producers get their goods directly into consumers’ hands.</p>
              </div>
            </div>
          </div>
        </div>

        <div id="faqContactInfoAccordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header dash-accordion" role="tab" id="faqContactInfoHeading">
              <h5 class="mb-0">
                <a class="faq-toggle" data-toggle="collapse" data-parent="#faqContactInfoAccordion" href="#faqContactInfoCollapse" aria-expanded="false" aria-controls="faqHowToPayCollapse">
                  <span class="faq-icon-collapsed"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></span>
                  <span class="faq-icon-expanded"><i class="fa fa-minus-circle fa-lg" aria-hidden="true"></i></span>
                  Why isn’t my contact information on my producer page?
                </a>
              </h5>
            </div>
            <div id="faqContactInfoCollapse" class="collapse" role="tabpanel" aria-labelledby="faqContactInfoHeading">
              <div class="card-block">
                <p>This goes back to our goal of trying to reduce the back-and-forth messaging that can come with selling food direct to the consumer. Buyers will have all the information they need to make a purchase decision right on the site itself, so we’ve made the decision to keep communication options limited. If you don’t agree with this, then we’d like to know more. You can send us a note and even ask us to call you back <a pageScroll [pageScrollDuration]="750" [routerLink]="['/']" href="#contact"><u>here</u></a>.</p>
              </div>
            </div>
          </div>
        </div>

        <div id="faqChangeMarketingAccordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header dash-accordion" role="tab" id="faqChangeMarketingHeading">
              <h5 class="mb-0">
                <a class="faq-toggle" data-toggle="collapse" data-parent="#faqChangeMarketingAccordion" href="#faqChangeMarketingCollapse" aria-expanded="false" aria-controls="faqHowToPayCollapse">
                  <span class="faq-icon-collapsed"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></span>
                  <span class="faq-icon-expanded"><i class="fa fa-minus-circle fa-lg" aria-hidden="true"></i></span>
                  Do I need to change the way I market? What can and can’t I do?
                </a>
              </h5>
            </div>
            <div id="faqChangeMarketingCollapse" class="collapse" role="tabpanel" aria-labelledby="faqChangeMarketingHeading">
              <div class="card-block">
                <p>This is up to you. You can continue to market exactly the way you do right now, or you can increase or decrease your marketing efforts. OLF is currently working hard to expand our reach, but it could possibly take some time until we see the results we want to from our marketing efforts.</p>
                <p>You can continue to market and sell as you see fit. For example, if you already have an email list of customers, you probably don’t want to stop using it. OLF may simply be an easy way to increase your reach in that case. The only request we have is that you don’t actively encourage customers to NOT use OLF to create their orders. After all, we’re running a business too!</p>
              </div>
            </div>
          </div>
        </div>

        <div id="faqContactOLFAccordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header dash-accordion" role="tab" id="faqContactOLFHeading">
              <h5 class="mb-0">
                <a class="faq-toggle" data-toggle="collapse" data-parent="#faqContactOLFAccordion" href="#faqContactOLFCollapse" aria-expanded="false" aria-controls="faqHowToPayCollapse">
                  <span class="faq-icon-collapsed"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></span>
                  <span class="faq-icon-expanded"><i class="fa fa-minus-circle fa-lg" aria-hidden="true"></i></span>
                  I’m still not sure about this, is there someone I can talk to at OLF?
                </a>
              </h5>
            </div>
            <div id="faqContactOLFCollapse" class="collapse" role="tabpanel" aria-labelledby="faqContactOLFHeading">
              <div class="card-block">
                <p>If you need more information, we’d be happy to help. You can use our contact form <a pageScroll [pageScrollDuration]="750" [routerLink]="['/']" href="#contact"><u>here</u></a>. If you’d like a call back, please include your phone number and the best time to contact you and we’ll do our best to get back to you in a timely manner.</p>
              </div>
            </div>
          </div>
        </div>       

      </div>
    </div>
  </section>

</div>