<!--  -->
<main class="container-fluid jumbotron-dark">

  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h2 class="text-muted responsive white-text text-center">
        Onlylocalfood.com is an online farmers’ market.
      </h2>
      <br>
      <br>
      <p class="lead text-light">
        We give producers of local food an online storefront to showcase their goods. And we help consumers like you see exactly what’s out there, who’s selling, and how to get it. We’re working to make the local food market easy and efficient – all while keeping more of your dollars at home, wherever that home may be.
      </p>
    </div>
  </div>

</main>

<div class="container">

  <div class="divider-new">
    <h2 class="h2-responsive wow fadeIn" data-wow-delay="0.2s">So, how does it work?</h2>
  </div>

  <!-- Section -->
  <section id="about" class="text-center wow fadeIn" data-wow-delay="0.2s">
    <div class="row">
      <div class="col-12">
        <p class="lead">
          OLF does local food differently. It may seem complex at first, but at the heart of it, there are 3 simple steps:
        </p>
        <div class="row">
          <div class="col-12 col-md-4">
            <span class="fa-stack fa-5x">
              <i class="fa fa-circle fa-stack-2x olf-primary-light"></i>
              <i class="fa fa-search fa-stack-1x fa-inverse"></i>
            </span>
            <h3>Visit our
              <a routerLink="../search">Search page</a>
            </h3>
            <ul class="text-left">
              <li>We use your location to show you what products are available to order.</li>
              <li>Filter those results to find just what you want.</li>
              <li>Change the results view to see a listing of producers, or a calendar of pickups and deliveries.</li>
            </ul>
          </div>
          <div class="col-12 col-md-4">
            <span class="fa-stack fa-5x">
              <i class="fa fa-circle fa-stack-2x olf-primary-light"></i>
              <i class="fa fa-cart-plus fa-stack-1x fa-inverse"></i>
            </span>
            <h3>Add items and checkout</h3>
            <ul class="text-left">
              <li>Select products and add them to your cart.</li>
              <li>When you checkout, choose how and when to get your order.</li>
              <li>Add your details and confirm your order.</li>
            </ul>
          </div>
          <div class="col-12 col-md-4">
            <span class="fa-stack fa-5x">
              <i class="fa fa-circle fa-stack-2x olf-primary-light"></i>
              <i class="fa fa-truck fa-stack-1x fa-inverse"></i>
            </span>
            <h3>Get your goods!</h3>
            <ul class="text-left">
              <li>At your chosen date and time, get together with the producer.</li>
              <li>Pay them directly and get your order.</li>
              <li>Gasp at how easy that was!</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Section -->

  <div class="divider-new">
    <h2 class="h2-responsive wow fadeIn" data-wow-delay="0.2s">Even more details</h2>
  </div>

  <!-- Section -->
  <section id="in-depth" class="text-center wow fadeIn" data-wow-delay="0.2s">
    <div class="row text-left">
      <div class="col-12 col-md-8 offset-md-2">
        <div class="row">
          <h3>Searching Explained...</h3>
          <div #step1>
            <div class="embed-responsive embed-responsive-16by9">
              <!-- <iframe class="embed-responsive-item" autoplay="false" autostart="false" autoplay="0" autostart="0" src="https://s3-us-west-2.amazonaws.com/onlylocalfood-images/videos/OnlyLocalFoodexplainer-1.mp4" allowfullscreen></iframe> -->
              <video controls controlsList="nodownload" webkitallowfullscreen mozallowfullscreen allowfullscreen>
                <source src="https://s3-us-west-2.amazonaws.com/onlylocalfood-images/videos/OnlyLocalFoodexplainer-1.mp4" type="video/mp4">
              </video>
            </div>
            <p>
              The most important part of your search starts with <b>where <i>you</i> are</b>. After all, you don’t really care what food is being delivered 3 hours away from you, do you? This is about local food.
            </p>
            <blockquote>
              A note about privacy: We don’t track you. We use the location you provide only to tailor your search results. That’s it. No bull.
            </blockquote>
            <p>
              Our search finds all the deliveries and pickups scheduled <b>within a given radius of your location</b>. It then shows you the products and producers associated with those results, and even the details about the deliveries and pickups themselves. This gives you all the information you need.
            </p>
            <p>
              Looking specifically for veggies? <b>Filter</b> for produce and see the Products View. Want to order from just one producer that you already know? See the results from the Producers View. Or are you only available on Saturdays? Our Calendar View will show you what’s happening when.
            </p>
          </div>

          <h3>Ordering Explained...</h3>
          <div #step2>
            <!-- VIDEO SHOULD BE EMBEDDED HERE -->
            <p>
              Now that you’ve seen what’s on offer, you can <b>start building your order</b>. It’s just like ordering anything else online – start adding things to your cart! There is one special difference: because OLF is an online farmers’ market, that means when you order products from different producers, you are really creating multiple shopping carts. (What does this mean? Let us show you. – multiple carts video.)
            </p>
            <p>
              Once you’ve added one item to your cart, you might want to check out the rest of the products from that producer by visiting their store. They’ve probably got more great products you’ll love!
            </p>
            <p>
              After your cart is full, review your order. When you’ve confirmed you have what you want, continue to the checkout page. This is where OLF diverges from traditional online shopping once again: Your products won’t be shipped, so you’ll have to <b>choose how and when to get your order</b> based on the options the producer has set up. You can see what those options are by selecting a location.
            </p>
            <p>
              After making the appropriate selection, fill out any extra details like a comment or special instructions for the producer, or your address if you chose delivery. Then <b>hit ‘Confirm’ and you’re done</b>! We send your order on to the Producer. Once they review and accept your order, you’ll get a confirmation email.
            </p>
          </div>

          <h3>Delivery/Pick-up Explained...</h3>
          <div #step3>
            <p>
              <b>And now the payoff!</b> When the time comes, either you’ll go to the Producer’s location (they’re stall at the market or somewhere else, they’re farm, another drop-off point) or they’ll come to you. You get your order and pay them directly.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Section -->

</div>

<main class="container-fluid jumbotron-dark">

  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h2 class="text-muted responsive white-text text-center">
        Frequently Asked Questions
      </h2>
    </div>
  </div>

</main>

<div class="container mb-5">

  <div class="divider-new">
    <h2 class="h2-responsive wow fadeIn" data-wow-delay="0.2s">Answers for Producers</h2>
  </div>

  <section id="producerFaq" class="text-left wow fadeIn" data-wow-delay="0.2s">
    <div class="row">
      <div class="col-12">

        <div id="faqHomepageAccordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header dash-accordion" role="tab" id="faqHomepageHeading">
              <h5 class="mb-0">
                <a class="faq-toggle" data-toggle="collapse" data-parent="#faqHomepageAccordion" href="#faqHomepageCollapse" aria-expanded="false" aria-controls="faqHowToPayCollapse">
                  <span class="faq-icon-collapsed"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></span>
                  <span class="faq-icon-expanded"><i class="fa fa-minus-circle fa-lg" aria-hidden="true"></i></span>
                  Can I use my producer page/storefront as my website?
                </a>
              </h5>
            </div>
            <div id="faqHomepageCollapse" class="collapse" role="tabpanel" aria-labelledby="faqHomepageHeading">
              <div class="card-block">
                <p>Absolutely! In fact, as consumers ourselves, we encourage it. A simple, one-stop point of information for potential buyers is ideal.</p>
              </div>
            </div>
          </div>
        </div>

        <div id="faqWhyJoinAccordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header dash-accordion" role="tab" id="faqWhyJoinHeading">
              <h5 class="mb-0">
                <a class="faq-toggle" data-toggle="collapse" data-parent="#faqWhyJoinAccordion" href="#faqWhyJoinCollapse" aria-expanded="false" aria-controls="faqHowToPayCollapse">
                  <span class="faq-icon-collapsed"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></span>
                  <span class="faq-icon-expanded"><i class="fa fa-minus-circle fa-lg" aria-hidden="true"></i></span>
                  As a producer, why should I join?
                </a>
              </h5>
            </div>
            <div id="faqWhyJoinCollapse" class="collapse" role="tabpanel" aria-labelledby="faqWhyJoinHeading">
              <div class="card-block">
                <p>There are several benefits to joining Onlylocalfood.com:</p>
                <ul>
                  <li>Save time - Your time is valuable, so we aim to reduce the time you spend marketing and answering basic questions about your products and schedule. Potential consumers will be able to find all the info they need on OLF.</li>
                  <li>The power of community – Consumers love farmers’ markets for one reason: many vendors all in one place. OLF is the same idea. And as a benefit to you, consumers that may come to the site looking for one vendor can also see and order your products.</li>
                  <li>A de-facto website – If you don’t want to maintain a website on your own, you can use your Producer Page as a stand-in. It contains virtually all the information consumers need, including your products and schedule. And it doesn’t cost you anything!</li>
                  <li>Take pre-orders – Wouldn’t it be nice to go to a farmers’ market or roadside pickup with hundreds of dollars’ worth of product already sold? Make your day more predictable and profitable.</li>
                  <li>Direct marketing – Tap into OLF’s existing consumer base to market to people that you already know are looking for local food. If someone has signed up for notifications on our site, you can be sure they are more likely to order.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div id="faqGetPaidAccordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header dash-accordion" role="tab" id="faqGetPaidHeading">
              <h5 class="mb-0">
                <a class="faq-toggle" data-toggle="collapse" data-parent="#faqGetPaidAccordion" href="#faqGetPaidCollapse" aria-expanded="false" aria-controls="faqHowToPayCollapse">
                  <span class="faq-icon-collapsed"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></span>
                  <span class="faq-icon-expanded"><i class="fa fa-minus-circle fa-lg" aria-hidden="true"></i></span>
                  How do I get paid?
                </a>
              </h5>
            </div>
            <div id="faqGetPaidCollapse" class="collapse" role="tabpanel" aria-labelledby="faqGetPaidHeading">
              <div class="card-block">
                <p>OLF isn’t the middleman. When you and the consumer connect via delivery or pickup, they pay you directly, not us.</p>
              </div>
            </div>
          </div>
        </div>

        <div id="faqCostAccordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header dash-accordion" role="tab" id="faqCostHeading">
              <h5 class="mb-0">
                <a class="faq-toggle" data-toggle="collapse" data-parent="#faqCostAccordion" href="#faqCostCollapse" aria-expanded="false" aria-controls="faqHowToPayCollapse">
                  <span class="faq-icon-collapsed"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></span>
                  <span class="faq-icon-expanded"><i class="fa fa-minus-circle fa-lg" aria-hidden="true"></i></span>
                  How much does it cost, then?
                </a>
              </h5>
            </div>
            <div id="faqCostCollapse" class="collapse" role="tabpanel" aria-labelledby="faqCostHeading">
              <div class="card-block">
                <ul>
                  <li>We charge a flat 5% of orders sent through the site. We’ll send you an invoice at the end of each month in which you have orders. And your first month of charges is on us!</li>
                  <li>We are aiming to make things as risk-free as possible for you. Only pay for orders that we send your way, and only pay after you’ve been paid for those orders.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div id="faqWhatIsLocalProducerAccordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header dash-accordion" role="tab" id="faqWhatIsLocalProducerHeading">
              <h5 class="mb-0">
                <a class="faq-toggle" data-toggle="collapse" data-parent="#faqWhatIsLocalProducerAccordion" href="#faqWhatIsLocalProducerCollapse" aria-expanded="false" aria-controls="faqHowToPayCollapse">
                  <span class="faq-icon-collapsed"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></span>
                  <span class="faq-icon-expanded"><i class="fa fa-minus-circle fa-lg" aria-hidden="true"></i></span>
                  What exactly is local? Am I restricted to where I can sell?
                </a>
              </h5>
            </div>
            <div id="faqWhatIsLocalProducerCollapse" class="collapse" role="tabpanel" aria-labelledby="faqWhatIsLocalProducerHeading">
              <div class="card-block">
                <p>We aren’t going to restrict where you can sell. If you want to drive a full day to attend a market, that’s up to you. In our opinion, ‘local food’ is simply as ‘local’ as you can get. In fact, it’s more about helping small and medium producers get their goods directly into consumers’ hands.</p>
              </div>
            </div>
          </div>
        </div>

        <div id="faqContactInfoAccordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header dash-accordion" role="tab" id="faqContactInfoHeading">
              <h5 class="mb-0">
                <a class="faq-toggle" data-toggle="collapse" data-parent="#faqContactInfoAccordion" href="#faqContactInfoCollapse" aria-expanded="false" aria-controls="faqHowToPayCollapse">
                  <span class="faq-icon-collapsed"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></span>
                  <span class="faq-icon-expanded"><i class="fa fa-minus-circle fa-lg" aria-hidden="true"></i></span>
                  Why isn’t my contact information on my producer page?
                </a>
              </h5>
            </div>
            <div id="faqContactInfoCollapse" class="collapse" role="tabpanel" aria-labelledby="faqContactInfoHeading">
              <div class="card-block">
                <p>This goes back to our goal of trying to reduce the back-and-forth messaging that can come with selling food direct to the consumer. Buyers will have all the information they need to make a purchase decision right on the site itself, so we’ve made the decision to keep communication options limited. If you don’t agree with this, then we’d like to know more. You can send us a note and even ask us to call you back <a pageScroll [pageScrollDuration]="750" [routerLink]="['/']" href="#contact">here</a>.</p>
              </div>
            </div>
          </div>
        </div>

        <div id="faqContactOLFAccordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header dash-accordion" role="tab" id="faqContactOLFHeading">
              <h5 class="mb-0">
                <a class="faq-toggle" data-toggle="collapse" data-parent="#faqContactOLFAccordion" href="#faqContactOLFCollapse" aria-expanded="false" aria-controls="faqHowToPayCollapse">
                  <span class="faq-icon-collapsed"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></span>
                  <span class="faq-icon-expanded"><i class="fa fa-minus-circle fa-lg" aria-hidden="true"></i></span>
                  I’m still not sure about this, is there someone I can talk to at OLF?
                </a>
              </h5>
            </div>
            <div id="faqContactOLFCollapse" class="collapse" role="tabpanel" aria-labelledby="faqContactOLFHeading">
              <div class="card-block">
                <p>If you need more information, we’d be happy to help. You can use our contact form <a pageScroll [pageScrollDuration]="750" [routerLink]="['/']" href="#contact">here</a>. If you’d like a call back, please include your phone number and the best time to contact you and we’ll do our best to get back to you in a timely manner.</p>
              </div>
            </div>
          </div>
        </div>

        <div id="faqMarketingAccordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header dash-accordion" role="tab" id="faqMarketingHeading">
              <h5 class="mb-0">
                <a class="faq-toggle" data-toggle="collapse" data-parent="#faqMarketingAccordion" href="#faqMarketingCollapse" aria-expanded="false" aria-controls="faqHowToPayCollapse">
                  <span class="faq-icon-collapsed"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></span>
                  <span class="faq-icon-expanded"><i class="fa fa-minus-circle fa-lg" aria-hidden="true"></i></span>
                  How is marketing handled?
                </a>
              </h5>
            </div>
            <div id="faqMarketingCollapse" class="collapse" role="tabpanel" aria-labelledby="faqMarketingHeading">
              <div class="card-block">
                <p>We’ve build several marketing strategies at OLF.</p>
                <ul>
                  <li>Social media, of course! At the moment we use Facebook and Twitter to engage consumers that are already interested in local food. If you schedule your deliveries and pickups at least 5 days in advance, we’ll work to get the word out there, even using paid advertising as necessary to increase the reach.</li>
                  <li>Our custom-built notification system – When you schedule an event, emails are automatically generated for everyone on the site that has told us they want to be notified. These emails are sent based on the location(s) a user has actively selected, so you can be sure that they are interested in buying.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div id="faqDistributorAccordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header dash-accordion" role="tab" id="faqDistributorHeading">
              <h5 class="mb-0">
                <a class="faq-toggle" data-toggle="collapse" data-parent="#faqDistributorAccordion" href="#faqDistributorCollapse" aria-expanded="false" aria-controls="faqHowToPayCollapse">
                  <span class="faq-icon-collapsed"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></span>
                  <span class="faq-icon-expanded"><i class="fa fa-minus-circle fa-lg" aria-hidden="true"></i></span>
                  Is OLF the distributor?
                </a>
              </h5>
            </div>
            <div id="faqDistributorCollapse" class="collapse" role="tabpanel" aria-labelledby="faqDistributorHeading">
              <div class="card-block">
                <p>Nope. We are simply a platform that connects you to your consumers. We don’t want to be a middleman, and that helps us keep your cost down.</p>
              </div>
            </div>
          </div>
        </div>

        <div id="faqOLFDifferentAccordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header dash-accordion" role="tab" id="faqOLFDifferentHeading">
              <h5 class="mb-0">
                <a class="faq-toggle" data-toggle="collapse" data-parent="#faqOLFDifferentAccordion" href="#faqOLFDifferentCollapse" aria-expanded="false" aria-controls="faqHowToPayCollapse">
                  <span class="faq-icon-collapsed"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></span>
                  <span class="faq-icon-expanded"><i class="fa fa-minus-circle fa-lg" aria-hidden="true"></i></span>
                  What makes OLF so different from other online food delivery services?
                </a>
              </h5>
            </div>
            <div id="faqOLFDifferentCollapse" class="collapse" role="tabpanel" aria-labelledby="faqOLFDifferentHeading">
              <div class="card-block">
                <p>Virtually every other local food website out there is a retailer/distributor. They buy the food from producers, and sell to consumers themselves. This adds a lot of cost to the transaction which can mean you get paid less, or the consumer pays more. OLF wants you to run your business how you see fit, and we’ll help you market to our growing consumer base.</p>
              </div>
            </div>
          </div>
        </div>

        <h5 class="faq-section-header">Managing your Page/Storefront</h5>

        <div id="faqAddDeliveryFeeAccordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header dash-accordion" role="tab" id="faqAddDeliveryFeeHeading">
              <h5 class="mb-0">
                <a class="faq-toggle" data-toggle="collapse" data-parent="#faqAddDeliveryFeeAccordion" href="#faqAddDeliveryFeeCollapse" aria-expanded="false" aria-controls="faqHowToPayCollapse">
                  <span class="faq-icon-collapsed"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></span>
                  <span class="faq-icon-expanded"><i class="fa fa-minus-circle fa-lg" aria-hidden="true"></i></span>
                  Can I add a delivery fee to orders?
                </a>
              </h5>
            </div>
            <div id="faqAddDeliveryFeeCollapse" class="collapse" role="tabpanel" aria-labelledby="faqAddDeliveryFeeHeading">
              <div class="card-block">
                <p>You sure can. When you choose to schedule a ‘door-to-door delivery’, you have the option to add a delivery fee. You can also choose to apply that fee to all orders, or to waive the fee when an order hits a certain dollar value.</p>
              </div>
            </div>
          </div>
        </div>

        <h5 class="faq-section-header">Account Management</h5>

        <h5 class="faq-section-header">Searching</h5>        

      </div>
    </div>
  </section>

</div>