<div class="modal-header">
    <h5 class="modal-title">Add A Location Notification</h5>
</div>

<div class="col col-md-6 offset-md-3 mb-2" *ngIf="!isLoggedIn">
    <div class="row card bg-dark py-5">
      <div class="col-10 offset-1 bg-light py-2 text-center card-body">
        <p>To continue checking out, you need to be logged in so that we can send the proper information to the Producer.</p>
        <button class="btn btn-olf-primary" type="button" (click)="onLogin($event)">Log in or Sign up</button>
      </div>
    </div>
  </div>
  
<div class="" *ngIf="isLoggedIn">
  
    <app-loading *ngIf="submitting"></app-loading>
  
    <form *ngIf="!submitting">

        <div class="row form-section">
        
            <div class="col-12 form-section-body">

                <p>Enter a location and click 'Add' to be notified of deliveries, markets, and other ways to get local food!</p>
                <p>When a producer schedules an event with the area of the circle, you'll get an email telling you about it.</p>                

                <div class="md-form row">
                    <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3">
                        <div class="row">
                            <div class="col-8 col-sm-10">
                                <i class="fa fa-map-marker prefix"></i>
                                <input  
                                    autocorrect="off" 
                                    autocapitalize="off" 
                                    spellcheck="off" 
                                    type="text" 
                                    class="form-control" 
                                    #search 
                                    id="search"
                                    [formControl]="searchControl">
                            </div>
                            <div class="col-4 col-sm-2">
                                <button 
                                    class="btn btn-olf-primary btn-block" 
                                    (click)="onAddLocation()">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                   
                    <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3">
                     <!--    <p *ngFor="let location of locationNotificationArray">
                            {{ location.city }}, {{ location.province }}
                            <a class="vertical-center-child">
                                <i class="fa fa-times-circle fa-lg text-danger" aria-hidden="true"></i>
                            </a>
                        </p> -->
                        <ul class="list-group">
                            <li class="list-group-item d-flex justify-content-center align-items-center" *ngFor="let location of locationNotificationArray, let i = index">
                                {{ location.city }}, {{ location.province }}
                                <span class="pl-5">
                                    <a (click)="onRemoveLocation(i)" class="vertical-center-child">
                                        <i class="fa fa-times-circle fa-lg text-danger" aria-hidden="true"></i>
                                    </a>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
                    <agm-marker [latitude]="lat" [longitude]="lng">
                            <agm-info-window>Börk</agm-info-window> 
                    </agm-marker>
                </agm-map>  -->
                <div class="row">
                    <agm-map
                        class="col-12 col-md-8 offset-md-2"
                        [latitude]="lat"
                        [longitude]="lng"
                        [zoom]="zoom"
                        [disableDefaultUI]="false"
                        [zoomControl]="false">

                        <agm-marker 
                            *ngFor="let m of locationNotificationArray; let i = index"
                            [latitude]="m.lat"
                            [longitude]="m.lng">
                            
                            <agm-circle [latitude]="m.lat" [longitude]="m.lng" 
                                [radius]="25000"
                                [fillColor]="'black'"
                                [circleDraggable]="false"
                                [editable]="false">
                            </agm-circle>
                            
                            <agm-info-window>
                                <strong>{{ m.label }}</strong>
                            </agm-info-window>
                            
                        </agm-marker>
                    
                    </agm-map>
                </div>
                     
        
            </div>

        </div>
  
    </form>
    
</div>
  
<div class="justify-content-center">
    <div class="row text-center">
        <div class="col-12">
            <!-- <a (click)="activeModal.close()">Close</a> -->
            <button class="btn btn-olf-primary" (click)="onSubmit()">Save Locations</button>
        </div>
    </div>
</div>