<!--Card-->
<div class="card">

    <!--Card image-->
    <div class="view overlay hm-white-slight cover-div">
        <img *ngIf="product.image !== ''" src="../../assets/images/{{ product.image }}" class="img-fluid cover" alt="">
        <img *ngIf="product.image === ''" src="../../assets/images/beet.png" class="img-fluid cover" alt="">
        <a [routerLink]="['../producer/' + product.producer.id + '/product/' + product.id]">
            <div class="mask waves-effect waves-light"></div>
        </a>
    </div>
    <!--/.Card image-->

    <!--Card content-->
    <div class="card-block text-center">
        <!--Product Name-->
        
        <h5 class="card-title text-truncate"><strong><a [routerLink]="['../producer/' + product.producer.id + '/product/' + product.id]">{{ product.name }}</a></strong></h5>

        <!--Description-->
        <p class="card-text text-left text-truncate small">{{ product.description }}</p>
        
        <!--Producer Name-->
        <h6 class="text-truncate"><a [routerLink]="['../producer/' + product.producer.id]">{{ product.producer.name }}</a></h6>

    </div>
    <!--/.Card content-->

    <!--Card footer-->
    <div class="card-footer text-center px-0 pb-0">
        <p>{{ product.pricePerUnit | currency:'USD':true:'1.2-2' }}/{{ product.unit }}</p>
        <app-add-to-cart [product]="product"></app-add-to-cart>
    </div>
    <!--/.Card footer-->

</div>
<!--/.Card-->