<!--Card-->
<div class="card">

    <!--Card image-->
    <div class="view overlay hm-white-slight">
        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/shoes%20(2).jpg" class="img-fluid" alt="">
        <a href="product">
            <div class="mask waves-effect waves-light"></div>
        </a>
    </div>
    <!--/.Card image-->

    <!--Card content-->
    <div class="card-block text-center">
        <!--Category & Title-->
        <h5><a href="producer">Producer Name</a></h5>
        <h4 class="card-title"><strong><a href="product">Product name</a></strong></h4>

        <!--Description-->
        <p class="card-text text-left text-truncate">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates.</p>

        <!--Card footer-->
        <div class="card-footer">
            <span class="left">$9.99/unit</span>
            <a class="btn btn-secondary btn-sm" href="cart">Add to Cart</a>
        </div>

    </div>
    <!--/.Card content-->

</div>
<!--/.Card-->