<!--Card-->
<div class="card">

    <!--Card image-->
    <div class="view overlay hm-white-slight cover-div">
        <img src="../../assets/images/{{ product.imageUrl }}" class="img-fluid cover" alt="">
        <a [routerLink]="['../product/' + product.id]">
            <div class="mask waves-effect waves-light"></div>
        </a>
    </div>
    <!--/.Card image-->

    <!--Card content-->
    <div class="card-block text-center">
        <!--Product Name-->
        
        <h5 class="card-title"><strong><a [routerLink]="['../product/' + product.id]">{{ product.name }}</a></strong></h5>

        <!--Description-->
        <p class="card-text text-left text-truncate small">{{ product.description }}</p>
        
        <!--Producer Name-->
        <h6><a [routerLink]="['../producer/' + product.producer.id]">{{ product.producer.name }}</a></h6>

        <!--Card footer-->
        <div class="card-footer">
            <span class="left">{{ product.pricePerUnit | currency:'USD':true:'1.2-2' }}/{{ product.unit }}</span>
            <a class="btn btn-olf-primary btn-sm" [routerLink]="['../cart']">Add to Cart</a>
        </div>

    </div>
    <!--/.Card content-->

</div>
<!--/.Card-->