<div class="modal-header">
    <h5 class="modal-title">Please review and Accept or Deny this order</h5>
    <button type="button" class="close" (click)="activeModal.close()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body dash-modal-body">
  
    <app-loading *ngIf="submitting"></app-loading>

    <div class="row">
        
        <div class="col-12">

            <div class="row form-section">

                <div class="col-12 form-section-header">
                    <h5>Consumer Details</h5>
                </div>

                <div class="col-12 form-section-body">

                    <div class="row">
                        <div class="col-xs-12 col-sm-4 col-form-label text-sm-right">
                            <strong>Name:</strong>
                        </div>
                        <div class="col-xs-12 col-sm-8 input-group col-form-value">
                            <p>{{ record.consumer.firstName }}</p>
                        </div>
                    </div>

                    <div class="row">
                      <div class="col-xs-12 col-sm-4 col-form-label text-sm-right">
                        <strong>Consumer Phone:</strong>
                      </div>
                      <div class="col-xs-12 col-sm-8 input-group col-form-value">
                        <!-- <p *ngIf="record.orderDetails.consumerPhone"><a href="sms:+1-{{ record.orderDetails.consumerPhone }}">{{ record.orderDetails.consumerPhone }}</a> <small>Click to text</small></p> -->
                        <p *ngIf="record.orderDetails.consumerPhone">{{ record.orderDetails.consumerPhone }}</p>
                        <p *ngIf="!record.orderDetails.consumerPhone">No phone number entered.</p>
                      </div>
                    </div>

                    <div class="row" *ngIf="record.orderDetails.deliveryAddress">
                      <div class="col-xs-12 col-sm-4 col-form-label text-sm-right">
                          <strong>Delivery Address:</strong>
                      </div>
                      <div class="col-xs-12 col-sm-8 input-group col-form-value">
                          <p>{{ record.orderDetails.deliveryAddress }}</p>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-xs-12 col-sm-4 col-form-label text-sm-right">
                          <strong>Consumer Comment:</strong>
                      </div>
                      <div class="col-xs-12 col-sm-8 input-group col-form-value">
                          <p *ngIf="record.orderDetails.consumerComment">{{ record.orderDetails.consumerComment }}</p>
                          <p *ngIf="!record.orderDetails.consumerComment">No comments entered.</p>
                      </div>
                    </div>

                </div>

            </div>

            <div class="row form-section">

                <div class="col-12 form-section-header">
                    <h5>Order Details</h5>
                </div>

                <div class="col-12 form-section-body">

                    <div class="row">
                        <div class="col-xs-12 col-sm-4 col-form-label text-sm-right">
                            <strong>Order Status:</strong>
                        </div>
                        <div class="col-xs-12 col-sm-8 input-group col-form-value">
                            <p>{{ record.orderDetails.orderStatus }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-8 offset-2 justify-content-center">
                            <table class="table form-input-custom">
                            <thead>
                                <tr>
                                <th>Product</th>
                                <th>Quantity</th>
                                <th>Value</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let product of products">
                                <td>{{ product.name }}</td>
                                <td>{{ product.quantity }}</td>
                                <td>{{ product.value | currency:'USD':'symbol-narrow':'1.2-2' }}</td>
                                </tr>
                                <tr>
                                <td></td>
                                <td></td>
                                <td><strong>{{ record.orderDetails.orderValue | currency:'USD':'symbol-narrow':'1.2-2' }}</strong></td>
                                </tr>
                            </tbody>
                            </table>
                        </div>
                    </div>

                </div>

            </div>

            <div class="row form-section">
    
                <div class="col-12 form-section-header">
                    <h4>Schedule Details</h4>
                </div>  
                    
                <div class="col-12 form-section-body">
    
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 col-form-label text-sm-right">
                            <strong>Schedule Type:</strong>
                        </div>
                        <div class="col-xs-12 col-sm-8 input-group col-form-value">
                            <p>{{ record.chosenSchedule.type }}</p>
                        </div>
                    </div>
            
                    <div *ngIf="record.chosenSchedule.address" class="row">
                        <div class="col-xs-12 col-sm-4 col-form-label text-sm-right">
                            <strong>Address:</strong>
                        </div>
                        <div class="col-xs-12 col-sm-8 input-group col-form-value">
                            <p>{{ record.chosenSchedule.address }}</p>
                        </div>
                    </div>
            
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 col-form-label text-sm-right">
                            <strong>Location:</strong>
                        </div>
                        <div class="col-xs-12 col-sm-8 input-group col-form-value">
                            <p>{{ record.chosenSchedule.city }}, {{ record.chosenSchedule.province }}</p>
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 col-form-label text-sm-right">
                            <strong>Date:</strong>
                        </div>
                        <div class="col-xs-12 col-sm-8 input-group col-form-value">
                            <p>{{ record.chosenSchedule.startDateTime | date:'mediumDate' }}</p>
                        </div>
                    </div>
            
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 col-form-label text-sm-right">
                            <strong>Time:</strong>
                        </div>
                        <div class="col-xs-12 col-sm-8 input-group col-form-value">
                            <p>{{ record.chosenSchedule.startDateTime | date:'shortTime' }} - {{ record.chosenSchedule.endDateTime | date:'shortTime' }}</p>
                        </div>
                    </div>
            
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 col-form-label text-sm-right">
                            <strong>Order Deadline:</strong>
                        </div>
                        <div class="col-xs-12 col-sm-8 input-group col-form-value">
                            <p>{{ record.chosenSchedule.orderDeadline | date:'mediumDate' }} - {{ record.chosenSchedule.orderDeadline | date:'shortTime' }}</p>
                        </div>
                    </div>
    
                    <div *ngIf="record.chosenSchedule.type === 'Door-to-door Delivery'">
                
                        <div class="row">
                            <div class="col-xs-12 col-sm-4 col-form-label text-sm-right">
                                <strong>Delivery Fee:</strong>
                            </div>
                            <div class="col-xs-12 col-sm-8 input-group col-form-value">
                                <p>{{ record.chosenSchedule.fee | currency:'USD':'symbol-narrow':'1.2-2' }}</p>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-xs-12 col-sm-4 col-form-label text-sm-right">
                                <strong>Fee Waiver Amount:</strong>
                            </div>
                            <div class="col-xs-12 col-sm-8 input-group col-form-value">
                                <p *ngIf="record.chosenSchedule.feeWaiver">{{ record.chosenSchedule.feeWaiver | currency:'USD':'symbol-narrow':'1.2-2' }}</p>
                                <p *ngIf="!record.chosenSchedule.feeWaiver">None. Fee applies to all orders.</p>
                            </div>
                        </div>
            
                    </div>
                
                </div>

            </div>

            <form *ngIf="!submitting" [formGroup]="orderForm" (ngSubmit)="onSubmit()">

                <div class="row form-section">

                    <div class="col-12 form-section-header">
                        <h4>Your Comments</h4>
                    </div>  
                        
                    <div class="col-12 form-section-body">

                        <div class="row">

                            <label for="producerComment" class="col-xs-12 col-sm-4 col-form-label text-sm-right">Please enter your comments:</label>
                            <div class="col-xs-12 col-sm-8 input-group">
                                <textarea 
                                    class="form-input-custom" 
                                    type="text" 
                                    id="producerComment" 
                                    [formControl]="orderForm.controls['producerComment']"></textarea>
                                    <small 
                                        *ngIf="!orderForm.get('producerComment').valid && orderForm.get('producerComment').touched"
                                        class="help-block"
                                        >Please enter comments for the consumer.</small>
                            </div>

                        </div>

                    </div>

                </div>

                <div class="row justify-content-center">
                    <button 
                        class="btn btn-olf-primary" 
                        type="submit"
                        (click)="onAccept()"
                        [disabled]="(orderForm.invalid)"
                        >Accept this Order</button>
                        <!-- <button 
                        class="btn btn-olf-primary" 
                        type="submit"
                        [disabled]="(form.invalid)"
                        >Add to Schedule</button> -->
                    <button 
                        class="btn btn-outline-olf-primary" 
                        type="submit"
                        (click)="onDeny()"
                        [disabled]="(orderForm.invalid)"
                        >Deny this Order</button>
                </div>

            </form>

        </div>

    </div>
      
</div>

<div class="modal-footer justify-content-center">
    <div class="row">
        <div>
            <a (click)="activeModal.close()">Cancel Changes</a>
        </div>
    </div>
</div>