<br>
<!-- Nav tabs -->
<ul class="nav nav-tabs nav-justified tabs-2 grey lighten-2 flex-column flex-sm-row hidden-md-down dash-nav" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#orders" role="tab"><i class="fa fa-shopping-cart mr-1"></i> Orders</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#accountInfo" role="tab"><i class="fa fa-info-circle mr-1"></i> Account Info</a>
    </li>
</ul>

<br>

<div class="dropdown hidden-md-up">
<button class="btn btn-olf-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Choose your Section
</button>
<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" data-toggle="tab" href="#orders" role="tab">Orders</a>
    <a class="dropdown-item" data-toggle="tab" href="#accountInfo" role="tab">Account Info</a>
</div>
</div>

<!-- Tab panels -->
<div class="tab-content" style="padding: 1em;">
    
    <!-- Orders Panel -->
    <div class="tab-pane fade in show active" id="orders" role="tabpanel">
        <app-consumer-orders></app-consumer-orders>
    </div>
    <!--/ Orders Panel-->
    
    <!-- Account Panel -->
    <div class="tab-pane fade" id="accountInfo" role="tabpanel">
        <app-account-info></app-account-info>
    </div>
    <!--/ Account Panel-->
    
</div>

