<!-- LOCATION DISPLAY AND CHANGE LINK -->
<div class="card">

        <div class="card-header olf-primary-color white-text">
            Your Current Location
        </div>
    
        <div class="card-block" *ngIf="cityProvince === ''">
            <app-loading></app-loading>
        </div>
    
        <div class="card-block grey lighten-3" [hidden]="cityProvince === ''">
        
            <div *ngIf="cityProvince && !locationUpdate">
                <p class="text-center"><i class="fa fa-map-marker prefix mr-2"></i>{{ cityProvince }}</p>
                <p class="text-right minor-link mb-0"><a (click)="changeCity()">Change Location</a></p>
                <hr>
                <div class="row">
                    <div class="col-12 text-center">
                        <h5 class="card-title">Search Radius (km)</h5>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-olf-primary" (click)="changeDistance25()">25</button>
                            <button type="button" class="btn btn-olf-primary" (click)="changeDistance10()">10</button>
                            <button type="button" class="btn btn-olf-primary" (click)="changeDistance5()">5</button>
                        </div>
                    </div>
                </div>
            </div>
        
            <div [hidden]="!locationUpdate">
                    <p>Enter a New Location:</p>
                    <div class="md-form pl-3">
                        <i class="fa fa-map-marker prefix"></i>
                        <input  
                            autocorrect="off" 
                            autocapitalize="off" 
                            spellcheck="off" 
                            type="text" 
                            class="form-control" 
                            #search 
                            id="search"
                            [formControl]="searchControl">
                    </div>
            </div>
    
        </div>
    
    </div>
    
    <br>
    
    <!-- SEARCH OPTIONS -->
    <div class="card">
        <div class="card-header olf-primary-color white-text hidden-sm-down">
            Search Options
        </div>
        <div class="card-block grey lighten-3">
            <p class="card-text">Modify the settings below to narrow your search.</p>
            <form #f="ngForm" (ngSubmit)="onSubmit(f)">
                <div class="row">
                    <div class="col-12">
                        <hr>
                        <h5 class="card-title text-center">Categories</h5>
                            <div *ngFor="let category of categoriesList; let i = index" class="pl-3">
                                <input type="checkbox" id="c.{{ category.category }}" name="c.{{ category.category }}" [(ngModel)]="category.checkboxValue" [checked]="category.checkboxValue">
                                <label for="c.{{ category.category }}">{{ category.category }}</label>
                            </div>
                    </div>
                    <div class="col-12">
                        <hr>
                        <h5 class="card-title text-center">Delivery Types</h5>
                        <form-group>
                            <div *ngFor="let delivery of deliveryTypes" class="pl-3">
                                <input type="checkbox" id="d.{{ delivery.type }}" name="d.{{ delivery.type }}" [(ngModel)]="delivery.checkboxValue" [checked]="delivery.checkboxValue">
                                <label for="d.{{ delivery.type }}">{{ delivery.type }}</label>
                            </div>
                        </form-group>
                    </div>
                </div>
                <div class="row d-flex align-items-center">
                    <div class="col-8">
                        <button type="submit" class="btn btn-olf-primary mx-auto">Update Search</button>
                    </div>
                    <div class="col-3">
                        <a (click)="reset(f)">Reset</a>
                    </div>
                    <!-- <button type="button" class="btn btn-olf-primary mx-auto" (click)="reset(f)">Reset Search</button> -->
                </div>
            </form>
            
        </div>
    </div>