<!--Panel-->
<div class="card">
    <div class="card-header olf-primary-color white-text">
        Search Options
    </div>
    <div class="card-block grey lighten-3">
        <p class="card-text">Modify the settings below to narrow your search.</p>
        <hr>
        <form (ngSubmit)="onSubmit()">
            <div>
                <h5 class="card-title">Categories</h5>
                <div *ngFor="let category of categoriesList; let i = index" class="form-group">
                    <form-group>
                        <input type="checkbox" id=[category.category] checked="true">
                        <label for=[category.category]>{{ category.category }}</label>
                    </form-group>
                </div>
            </div>
            <hr>
            <div>
                <h5 class="card-title">Delivery Types</h5>
                <div *ngFor="let delivery of deliveryTypes; let i = index" class="form-group">
                    <form-group>
                        <input type="checkbox" id=[delivery] checked="true">
                        <label for=[delivery]>{{ delivery }}</label>
                    </form-group>
                </div>
            </div>

            <button type="submit" class="btn btn-olf-primary">Search!</button>

        </form>
        
    </div>
</div>
<!--/.Panel-->