<br>
<div class="row justify-content-center">
    <br>
    <div class="col-xs-12 col-md-8">
        
        <!--Panel-->
        <div class="card card-body">
            <div class="card-block">
                <div class="row">
                    <h4 class="card-title col">Add a New Product</h4>
                </div>
                
                <hr>
                
                <div class="row">
                    <div class="col col-4 text-right">
                        <p class="font-weight-bold">Product Name:</p>
                    </div>
                    <div class="col col-8">
                        <p>{{ product.name }}</p>
                    </div>
                </div>
              
            </div>
            
        </div>

    </div>
    <br>
</div>