  <div class="modal-header">
    <h4 class="modal-title">Delete this {{ record.type }}</h4>
  </div>

  <div class="modal-body dash-modal-body">
    <app-submitting *ngIf="submitting"></app-submitting>

    <div *ngIf="!submitting">

      <div>
        <div *ngIf="hasOrders">
          <p class="mt-3 alert alert-danger">
            <strong>Uh Oh!</strong> It looks like this schedule has orders. Unfortunately you can't cancel a delivery or pickup unless you cancel the orders.
          </p>
        </div>
    
        <div *ngIf="!hasOrders">
          <p class="mt-3 alert alert-danger">
            <strong>Are you sure?</strong> By clicking 'Confirm' below, you will be deleting this schedule.
          </p>
          <button
            type="button" 
            class="btn btn-danger" 
            (click)="onDelete()"
            >Confirm</button>
        </div>
      </div>

    </div>

  </div>

  <div class="modal-footer">
    <button
      type="button" 
      class="btn btn-olf-primary" 
      (click)="activeModal.close()"
      >Cancel Delete</button>
  </div>
