<div class="m-4" *ngIf="market.marketId; else loading">

  <div class="row">
    <div class="col-12 col-lg-8 offset-lg-2">
      <div class="card">
        <div class="card-body">

          <div class="row align-items-center">

            <div class="col-8 offset-2 col-sm-4 offset-sm-0 col-md-3 offset-md-1">
                <img src="https://s3-us-west-2.amazonaws.com/onlylocalfood-images/{{ market.logoUrl? market.logoUrl : 'global/squareBeet.png' }}" class="img-fluid" alt="food">
            </div>
      
            <div class="col-12 col-sm-8 col-md-7 text-center mt-3">
              <h2>{{ market.name | uppercase }}</h2>
              <a pageScroll [pageScrollDuration]="750" href="#producers" class="btn btn-sm btn-olf-primary inline">Jump to Producers
                  <i class="fas fa-user-friends ml-2"></i>
              </a>
              <a pageScroll [pageScrollDuration]="750" href="#locations" class="btn btn-sm btn-olf-primary inline">Jump to Locations
                  <i class="fas fa-map-marked-alt ml-2"></i>
              </a>
              <a pageScroll [pageScrollDuration]="750" href="#schedule" class="btn btn-sm btn-olf-primary inline">Jump to Schedule
                  <i class="fas fa-calendar-alt ml-2"></i>
              </a>
            </div>

            <div class="col-sm-8 offset-sm-2 col-md-6 offset-md-3 pt-4">
              <p>{{ market.description }}</p>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>  
  
    <div class="row">
      <div class="col-12">
        <div class="divider-new">
          <h3 id="schedule">UPCOMING SCHEDULE</h3>
        </div>
        <div class="row">
          
          <div class="col-12 col-lg-8 offset-lg-2">
            <div class="card">
              <div class="card-body">
                <div class="row">
                    <div class="col-12 text-center">
                        <p class="lead">
                            Open up an event and if our vendors are accepting orders you'll be able to click the 'Shop' button, where you can see what's available!
                          </p>
                    </div>
                </div>
                  <app-market-page-schedule [schedule]="schedule"></app-market-page-schedule>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  
    <div class="row">
      <div class="col-12">
        <div class="divider-new">
          <h3 id="producers">OUR PRODUCERS</h3>
        </div>

        <div class="row">
            <div class="col-12 col-lg-8 offset-lg-2">
              <div class="card">
                <div class="card-body text-center">
                    <div class="text-center" *ngIf="producers.length === 0">
                        <p class="lead">
                          There are no producers with currently scheduled market pickups.
                        </p>
                      </div>
                      <div *ngIf="producers.length > 0" >
                          <p class="lead">
                              These producers have 1 or more market pickups scheduled with us.
                            </p>
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item" *ngFor="let producer of producers">

                                <p><a [routerLink]="['../../producer/' +  producer.producerUserId]">{{  producer.producerName }}</a></p>

                          </li>
                        </ul>
                      </div>
                </div>
              </div>
            </div>
          </div>

      </div>
    </div>

    <div class="row">
        <div class="col-12">
          <div class="divider-new text-center">
            <h3 id="locations">OUR LOCATIONS</h3>
          </div>

          <div class="row">
              <div class="col-12 col-lg-8 offset-lg-2">
                <div class="card">
                  <div class="card-body">
                      <div class="text-center" *ngIf="locations.length === 0">
                          <p class="lead">
                            You have no locations listed. Please add at least one so that your vendors can add it to their schedule.
                          </p>
                        </div>
                        <div *ngIf="locations.length > 0">
                          <ul class="list-group list-group-flush" >
                            <li class="list-group-item" *ngFor="let location of locations">
                              <div class="row mb-1 tight-text" *ngIf="location.locationName">
                                <div class="col-12 col-md-8 offset-md-2">
                                  <h4>{{ location.locationName }}</h4>
                                  <p>{{ location.timeframe }}</p>
                                  <p>{{ location.description }}</p>
                                  <p>{{ location.address }} - {{ location.city }}, {{ location.province }}</p>
                                </div>
                              </div>
                              
                            </li>
                          </ul>
                        </div>
                  </div>
                </div>
              </div>
            </div>

        </div>
      </div>

  </div>
  
  <ng-template #loading><app-loading></app-loading></ng-template>