    <!--  -->
    <main class="container-fluid landing-page-jumbotron">

        <div class="row">
            <div class="col-6 offset-3">
                <div class="row text-center">
                    <div class="col-md-12">
                        <h1 class="text-muted responsive white-text">Want a better way to buy local food?</h1>
                        <br>
                        <p class="lead grey-text">Onlylocalfood.com can tell you where and when food is available, who is selling it, and even how to get it. Order online for the ultimate in local food convenience.</p>                
                        <br>
                    </div>
                    <div class="col-md-12">
                        <p class="lead white-text text-center">
                            <a routerLink="search" class="btn btn-olf-primary inline">Start Searching
                                <i _ngcontent-c1="" aria-hidden="true" class="ml-2 fa fa-search fa-2x"></i>
                            </a>
                        </p>
                    </div>
                    <div class="col-md-12">
                        <!-- <h2 class="text-muted responsive white-text">
                            Find and order local food online,
                            <br>
                            directly from the producers.
                        </h2> -->
                        <h2 class="text-muted responsive white-text">
                            Feed your family.
                            <br>
                            Feed your community.
                        </h2>
                    </div>
                </div>
            </div>
           <!--  <div class="col-md-8">
                <div class="row d-flex align-self-stretch">

                    <div class="col-12">
                        <div class="card jumbotron-card p-2">
                            <div class="row"> 
                                
                                <div class="col-2 text-center hidden-sm-down">
                                    <img class="w-75" src="assets/images/icon-1.png">
                                </div>
    
                                <div class="card-block col-12 col-md-10">
                                    <div class="row">
                                        <h5 class="card-title text-center col-12"><span class="hidden-md-up">1. </span>Products and Schedules</h5>
                                        <hr class="w-100">
                                        <div class="col-12 col-md-8">
                                                <p class="card-text">Producers load their products onto OLF and schedule deliveries and pickups. Everything you need to know is added - what products are for sale, prices, and (<b>this is the special bit</b>) how, when, and where you can get your order.</p>
                                            </div>
                                        <div class="col-10 offset-1 col-md-4 offset-md-0">
                                            <p class="text-center"><img src="assets/images/step-1-graphic.png"></p>
                                        </div>
                                        
                                    </div>
                                </div>
    
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="card jumbotron-card p-2">
                            <div class="row"> 
                                
                                <div class="col-2 text-center hidden-sm-down">
                                    <img class="w-75" src="assets/images/icon-2.png">
                                </div>
    
                                <div class="card-block col-12 col-md-10">
                                    <div class="row">
                                        <h5 class="card-title text-center col-12"><span class="hidden-md-up">2. </span>Search and Order</h5>
                                        <hr class="w-100">
                                        <div class="col-12 col-md-8">
                                                <p class="card-text">Our search page shows you all the products that are <b>available in your area</b>. You can see who's selling and the delivery and pickup options. Add what you want to your cart, and instead of paying when you check out, you simply select how to get your order based on the producer's options.</p>
                                            </div>
                                        <div class="col-10 offset-1 col-md-4 offset-md-0">
                                            <p class="text-center"><img src="assets/images/step-2-graphic.png"></p>
                                        </div>
                                        
                                    </div>
                                </div>
    
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="card jumbotron-card p-2">
                            <div class="row"> 
                                
                                <div class="col-2 text-center hidden-sm-down">
                                    <img class="w-75" src="assets/images/icon-3.png">
                                </div>
    
                                <div class="card-block col-12 col-md-10">
                                    <div class="row">
                                        <h5 class="card-title text-center col-12"><span class="hidden-md-up">3. </span>Delivery, Pickup, and Payment</h5>
                                        <hr class="w-100">
                                        <div class="col-12 col-md-8">
                                                <p class="card-text">At the date and time you chose, you and the producer get together (or maybe they come to you!). <b>You get the great local food you ordered and the producer gets paid directly</b>. It's exactly like a farmers' market, just easier.</p>
                                            </div>
                                        <div class="col-10 offset-1 col-md-4 offset-md-0">
                                            <p class="text-center"><img src="assets/images/step-3-graphic.png"></p>
                                        </div>
                                        
                                    </div>
                                </div>
    
                            </div>
                        </div>
                    </div>

                </div>
            </div> -->
        </div>
        
        <!-- <div class="flex-center">
                        
            <div>
                
                <div class="row">
                    <div class="col-sm-12 col-md-4 mt-auto mb-auto">
                        <div class="col-sm">
                            <h2 class="text-muted responsive white-text">
                                Find and order local food online,
                                <br>
                                directly from the producers.
                            </h2>
                            <p class="lead grey-text">
                                This will be a fancy description of OLF. a;dfha;lksdfj as;ldfkj ;lj ;ld asdfasfd as s f d g se sg dsf s fgd .
                            </p>
                        </div>
                        <br>
                        <div class="col-sm">
                            <p class="lead white-text">
                                <a routerLink="search" class="btn btn-olf-primary inline">Start Searching</a>
                                or
                                <a routerLink="learn-more" class="btn btn-olf-primary inline">Learn More</a>
                            </p>
                        </div>
                        
                    </div>
                </div>
                    

            </div>

        </div> -->

    </main>

    <div class="container">

        <div class="divider-new">
            <h2 class="h2-responsive wow fadeIn" data-wow-delay="0.2s">How it Works</h2>
        </div>

        <!--Section: About-->
        <section id="how-it-works" class="text-center wow fadeIn" data-wow-delay="0.2s">

            <div class="row">
                <div class="col-12 col-sm-4">
                    <div class="row text-left">
                        <span class="fa-stack mx-auto landing-fa-stack">
                            <!-- The icon that will wrap the number -->
                            <span class="fa fa-circle-o fa-stack-2x"></span>
                            <!-- a strong element with the custom content, in this case a number -->
                            <strong class="fa-stack-1x">
                                1    
                            </strong>
                        </span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit explicabo assumenda eligendi ex exercitationem harum deleniti quaerat beatae ducimus dolor voluptates magnam, reiciendis pariatur culpa tempore quibusdam quidem, saepe eius.</p>
                    </div>
                    

                </div>
            </div>

        </section>
        <!--Section: About-->

        <div class="divider-new">
            <h2 class="h2-responsive wow fadeIn" data-wow-delay="0.2s">About us</h2>
        </div>

        <!--Section: About-->
        <section id="about" class="text-center wow fadeIn" data-wow-delay="0.2s">

            <div class="row">
                <div class="col-12">
                    <app-fb-page></app-fb-page>
                </div>
<!--                 <div class="col-12 col-md-6">
                    <app-twitter-feed></app-twitter-feed>
                </div> -->
            </div>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit explicabo assumenda eligendi ex exercitationem harum deleniti quaerat beatae ducimus dolor voluptates magnam, reiciendis pariatur culpa tempore quibusdam quidem, saepe eius.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit explicabo assumenda eligendi ex exercitationem harum deleniti quaerat beatae ducimus dolor voluptates magnam, reiciendis pariatur culpa tempore quibusdam quidem, saepe eius.</p>

        </section>
        <!--Section: About-->

        <div class="divider-new">
            <h2 class="h2-responsive wow fadeIn">Contact us</h2>
        </div>

        <!--Section: Contact-->
        <section id="contact">
            <div class="row">
                <app-contact class="mx-auto"></app-contact>
            </div>
        </section>
        <!--Section: Contact-->
    </div>