main {
    background-color: #9e5f7e !important;
    // margin-left: -15px;
    // margin-right: -15px;
    //margin-top: -10%;
    padding: 5em 0 5em 5em;
}

img {
    max-width:95%;
    margin:auto;
    overflow: none;
}