<!--  -->
<main class="container-fluid landing-page-jumbotron">

    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <div class="row text-center px-4">
                <div class="col-12">
                    <h1 class="text-muted responsive white-text">Want a better way to buy local food?</h1>
                    <br>
                    <p class="lead grey-text">Onlylocalfood.com can tell you where and when food is available, who is selling it, and even how to get it. Order online for the ultimate in local food convenience.</p>
                    <br>
                </div>
                <div class="col-12">
                    <p class="lead white-text text-center">
                        <a routerLink="search" class="btn btn-olf-primary inline">Start Searching
                            <i _ngcontent-c1="" aria-hidden="true" class="ml-2 fa fa-search fa-2x"></i>
                        </a>
                    </p>
                </div>
                <div class="col-12">
                    <!-- <h2 class="text-muted responsive white-text">
                            Find and order local food online,
                            <br>
                            directly from the producers.
                        </h2> -->
                    <h2 class="text-muted responsive white-text">
                        Feed your family.
                        <br> Feed your community.
                    </h2>
                </div>
            </div>
        </div>
        <!--  <div class="col-md-8">
                <div class="row d-flex align-self-stretch">

                    <div class="col-12">
                        <div class="card jumbotron-card p-2">
                            <div class="row"> 
                                
                                <div class="col-2 text-center hidden-sm-down">
                                    <img class="w-75" src="assets/images/icon-1.png">
                                </div>
    
                                <div class="card-block col-12 col-md-10">
                                    <div class="row">
                                        <h5 class="card-title text-center col-12"><span class="hidden-md-up">1. </span>Products and Schedules</h5>
                                        <hr class="w-100">
                                        <div class="col-12 col-md-8">
                                                <p class="card-text">Producers load their products onto OLF and schedule deliveries and pickups. Everything you need to know is added - what products are for sale, prices, and (<b>this is the special bit</b>) how, when, and where you can get your order.</p>
                                            </div>
                                        <div class="col-10 offset-1 col-md-4 offset-md-0">
                                            <p class="text-center"><img src="assets/images/step-1-graphic.png"></p>
                                        </div>
                                        
                                    </div>
                                </div>
    
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="card jumbotron-card p-2">
                            <div class="row"> 
                                
                                <div class="col-2 text-center hidden-sm-down">
                                    <img class="w-75" src="assets/images/icon-2.png">
                                </div>
    
                                <div class="card-block col-12 col-md-10">
                                    <div class="row">
                                        <h5 class="card-title text-center col-12"><span class="hidden-md-up">2. </span>Search and Order</h5>
                                        <hr class="w-100">
                                        <div class="col-12 col-md-8">
                                                <p class="card-text">Our search page shows you all the products that are <b>available in your area</b>. You can see who's selling and the delivery and pickup options. Add what you want to your cart, and instead of paying when you check out, you simply select how to get your order based on the producer's options.</p>
                                            </div>
                                        <div class="col-10 offset-1 col-md-4 offset-md-0">
                                            <p class="text-center"><img src="assets/images/step-2-graphic.png"></p>
                                        </div>
                                        
                                    </div>
                                </div>
    
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="card jumbotron-card p-2">
                            <div class="row"> 
                                
                                <div class="col-2 text-center hidden-sm-down">
                                    <img class="w-75" src="assets/images/icon-3.png">
                                </div>
    
                                <div class="card-block col-12 col-md-10">
                                    <div class="row">
                                        <h5 class="card-title text-center col-12"><span class="hidden-md-up">3. </span>Delivery, Pickup, and Payment</h5>
                                        <hr class="w-100">
                                        <div class="col-12 col-md-8">
                                                <p class="card-text">At the date and time you chose, you and the producer get together (or maybe they come to you!). <b>You get the great local food you ordered and the producer gets paid directly</b>. It's exactly like a farmers' market, just easier.</p>
                                            </div>
                                        <div class="col-10 offset-1 col-md-4 offset-md-0">
                                            <p class="text-center"><img src="assets/images/step-3-graphic.png"></p>
                                        </div>
                                        
                                    </div>
                                </div>
    
                            </div>
                        </div>
                    </div>

                </div>
            </div> -->
    </div>

    <!-- <div class="flex-center">
                        
            <div>
                
                <div class="row">
                    <div class="col-sm-12 col-md-4 mt-auto mb-auto">
                        <div class="col-sm">
                            <h2 class="text-muted responsive white-text">
                                Find and order local food online,
                                <br>
                                directly from the producers.
                            </h2>
                            <p class="lead grey-text">
                                This will be a fancy description of OLF. a;dfha;lksdfj as;ldfkj ;lj ;ld asdfasfd as s f d g se sg dsf s fgd .
                            </p>
                        </div>
                        <br>
                        <div class="col-sm">
                            <p class="lead white-text">
                                <a routerLink="search" class="btn btn-olf-primary inline">Start Searching</a>
                                or
                                <a routerLink="learn-more" class="btn btn-olf-primary inline">Learn More</a>
                            </p>
                        </div>
                        
                    </div>
                </div>
                    

            </div>

        </div> -->

</main>

<div class="container">

    <div class="divider-new">
        <h2 class="h2-responsive wow fadeIn" data-wow-delay="0.2s">How it Works</h2>
    </div>

    <!--Section: About-->
    <section id="how-it-works" class="text-center wow fadeIn" data-wow-delay="0.2s">

        <div class="row text-center">
            <div class="col-12 col-md-4">
                <div>
                    <span>
                        <img src="assets/images/icon-1.png" style=" width: 15%;">
                    </span>
                    <p>
                        <strong>Products and Schedules are Added</strong>
                    </p>
                    <p class="text-left pt-2">Producers load their products onto OLF and schedule deliveries and pickups. Everything you need to know is added - what products are for sale, prices, and (<b>this is the special bit</b>) how, when, and where you can get your order.</p>
                </div>
            </div>

            <div class="col-12 col-md-4">
                <div>
                    <span>
                        <img src="assets/images/icon-2.png" style=" width: 15%;">
                    </span>
                    <p>
                        <strong>You Search and Order</strong>
                    </p>
                    <p class="text-left pt-2">Our search page shows you all the products that are <b>available in your area</b>. You see who's selling and the delivery or pickup options. Add what you want to your cart and select how to get your order based on the producer's options when you check out.</p>
                </div>
            </div>

            <div class="col-12 col-md-4">
                <div>
                    <span>
                        <img src="assets/images/icon-3.png" style=" width: 15%;">
                    </span>
                    <p>
                        <strong>Get and Pay for Your Order</strong>
                    </p>
                    <p class="text-left pt-2">At the date and time you chose, you and the producer get together (or maybe they come to you!). <b>You get the great local food you ordered and the producer gets paid directly</b>. It's exactly like a farmers' market, just easier.</p>
                </div>
            </div>
        </div>

    </section>
    <!--Section: About-->

    <div class="divider-new" id="faq">
        <h2 class="h2-responsive wow fadeIn" data-wow-delay="0.2s">Why do it this way? And other questions...</h2>
    </div>

    <!--Section: About-->
    <section id="about" class="text-left wow fadeIn" data-wow-delay="0.2s">
        <div class="row">
            
            <div class="col-12">

                <div id="faq1Accordion" role="tablist" aria-multiselectable="true">

                    <div class="card">
                        <div class="card-header dash-accordion" role="tab" id="faq1Heading">
                            <h5 class="mb-0">
                                    <a 
                                    data-toggle="collapse" 
                                    data-parent="#faq1Accordion" 
                                    href="#faq1Collapse" 
                                    aria-expanded="true" 
                                    aria-controls="faq1Collapse">So, why?   
                                    <i class="fa fa-caret-down fa-lg" aria-hidden="true"></i>
                                </a>
                            </h5>
                        </div>
                        <div id="faq1Collapse" class="collapse" role="tabpanel" aria-labelledby="faq1Heading">
                            <div class="card-block">
                                <p>Short answer - because local food is too hard to find.</p>
                                <p>Local food is everywhere, but that's part of the problem. You can find it on Facebook or Twitter, in the newspaper or on the poster board at the post office, and not least of all, at the farmers' market. But maybe you don't want to do all that legwork - watching for Facebook posts or checking at the post office. Maybe you're at work when the farmers' market is open, if your community has one at all.</p>
                                <p>Onlylocalfood.com was created to bring producers and consumers of local food together in one online space.</p>
                            </div>
                        </div>

                    </div>
                </div>

                <div id="faq2Accordion" role="tablist" aria-multiselectable="true">

                    <div class="card">
                        <div class="card-header dash-accordion" role="tab" id="faq2Heading">
                            <h5 class="mb-0">
                                    <a 
                                    data-toggle="collapse" 
                                    data-parent="#faq2Accordion" 
                                    href="#faq2Collapse" 
                                    aria-expanded="true" 
                                    aria-controls="faq2Collapse">What's the idea behind OLF?   
                                    <i class="fa fa-caret-down fa-lg" aria-hidden="true"></i>
                                </a>
                            </h5>
                        </div>
                        <div id="faq2Collapse" class="collapse" role="tabpanel" aria-labelledby="faq2Heading">
                            <div class="card-block">
                                <p> OLF prides itself on not breaking the traditional local food buying process, only making it easier. We believe that in doing so, we can encourage more people to spend their money with local producers. And money that is spent in your community tends to stay there, benefiting everyone!</p>
                                <p>Remember - Feed your family. Feed your community.</p>
                            </div>
                        </div>

                    </div>
                </div>

                <div id="faq3Accordion" role="tablist" aria-multiselectable="true">

                    <div class="card">
                        <div class="card-header dash-accordion" role="tab" id="faq3Heading">
                            <h5 class="mb-0">
                                    <a 
                                    data-toggle="collapse" 
                                    data-parent="#faq3Accordion" 
                                    href="#faq3Collapse" 
                                    aria-expanded="true" 
                                    aria-controls="faq3Collapse">Who is the site for?   
                                    <i class="fa fa-caret-down fa-lg" aria-hidden="true"></i>
                                </a>
                            </h5>
                        </div>
                        <div id="faq3Collapse" class="collapse" role="tabpanel" aria-labelledby="faq3Heading">
                            <div class="card-block">
                                <p>Blah blah</p>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>

        <!-- <div class="row">
            <div class="col-12">
                <app-fb-page></app-fb-page>
            </div>
            <div class="col-12 col-md-6">
                <app-twitter-feed></app-twitter-feed>
            </div>
        </div> -->

    </section>
    <!--Section: About-->

    <div class="divider-new" id="contact">
        <h2 class="h2-responsive wow fadeIn">Contact us</h2>
    </div>

    <!--Section: Contact-->
    <section>
        <div class="row">
            <app-contact class="col-12"></app-contact>
        </div>
    </section>
    <!--Section: Contact-->
</div>