main {
    background-color: #9e5f7e !important;
    margin-left: -5%;
    margin-right: -5%;
    margin-top: -10%;
    padding: 10em 0 5em 10%;
    width: 110%;
}

img {
    max-width:95%;
    margin:auto;
    overflow: none;
}