<!-- TABLES -->
<div class="row">
    <div class="col-12">
        <!-- <button *ngIf="!sortedRecords" class="btn btn-sm btn-olf-primary" (click)="download(records)">Export as CSV</button> -->
        <button *ngIf="sortedRecords.length !== 0" class="btn btn-sm btn-olf-primary" (click)="download(sortedRecords)">Export as CSV</button>
    </div>
</div>
<table class="table table-responsive-md table-hover">
    <thead>
        <tr>
            <th *ngFor="let map of columnMaps" class="no-wrap">
                <a *ngIf="map.sortable" (click)="onSort(map)">{{ map.header }}  <i class="fa fa-sort"></i></a>
                <p class="m-0" *ngIf="!map.sortable">{{ map.header }}</p>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let record of paginatedRecords">
            <td *ngFor="let map of columnMaps">{{ record[map.access(record)] | formatCell:map.format }}</td>
            <td *ngIf="!pending">
                <a (click)="onOpenView(record)">View</a>
            </td>
            <td *ngIf="editable">
                <a (click)="onOpenEdit(record)">Edit</a>
            </td>
            <td *ngIf="pending">
                <a (click)="onOpenEdit(record)">Accept/Deny</a>
            </td>
            <td *ngIf="deletable">
                <a (click)="onSelectDelete(record)">Delete</a>
            </td>
            <td *ngIf="accepted && record.chosenSchedule.startDateTime < now">
                <a (click)="onMarkComplete(record)">Mark Complete</a>
            </td>
        </tr>
    </tbody>
</table>

<app-pagination 
    *ngIf="recordsCount > perPage"
    [count]="recordsCount"
    [page]="currentPage"
    [perPage]="perPage"
    [pagesToShow]="5"
    (goPrev)="prevPage()"
    (goNext)="nextPage()"
    (goPage)="goToPage($event)">
</app-pagination>