<div class="row">
    <div class="col-lg-8 col-offset-lg-2">
        <ng-template #modalContent let-close="close">
            <div class="modal-body">
                <div class="text-center">          
                    <pre>{{ record.id }}</pre>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-olf-primary" (click)="close()">Close</button>
            </div>
        </ng-template>
    </div>
</div>
<table class="table table-hover tablesaw tablesaw-stack data-tablesaw">
    <thead>
        <tr>
            <th *ngFor="let map of columnMaps" class="data-tablesaw-sortable-head" scope="col">
                <button class="tablesaw-sortable-btn">{{ map.header }}</button>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let record of records">
            <td *ngFor="let map of columnMaps">{{ record[map.primaryKey] | formatCell }}</td>
            <td>
                <a (click)="onOpen(record)">View</a>
            </td>
            <td *ngIf="editable">
                <a data-toggle='modal' data-target=''>Edit</a>
            </td>
            <td *ngIf="deletable">
                <a data-toggle='modal' data-target=''>Delete</a>
            </td>
        </tr>
    </tbody>
</table>