<div class="text-center py-5">

  <h1>Our Terms and Conditions:</h1>

  <p>Each Party (the 'Indemnitor') hereby covenants and agrees to indemnify and save harmless the other Party (the 'Indemnitee') from and against all third party claims, losses, costs, charges, fees (including reasonable legal fees), expenses, damages, obligations, liabilities, judgments, demands, actions, causes of actions and responsibilities incurred, sustained or suffered by the Indemnitee by reason of any negligent act, omission, breach, fault or default of the Indemnitor or for those whom it is in law responsible, except to the extent that such claims, losses, costs, charges, fees (including legal fees), expenses, damages, obligations, liabilities, judgments, demands, actions, causes of actions and responsibilities result from an act, omission, breach, fault or default of the Party suffering, sustaining or incurring the same or those for whom it is in law responsible.</p>

  <p>Onlylocalfood Inc. does not guarantee or warrantee the products sold on Onlylocalfood.com or any transactions between users of Onlylocalfood.com. All users are responsible to follow any and all Provincial and Federal regulations regarding production and sale of their products.</p>

  <p>Any false information provided by you (as a seller), will result in termination of your access to Onlylocalfood.com.</p>
  
  <p>Confidentiality Statement: Onlylocalfood.com is operated by Onlylocalfood Inc, and as such, all data collected and stored on the site will remain in the confidential care of Onlylocalfood Inc. Onlylocalfood Inc. does not share data with outside parties; however may use the data for future programming purposes within its organization only.</p>

</div>