<div class="row">
	<div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3">
		<!-- Product Details -->
		<div class="row justify-content-sm-center">
			<div class="col col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-1">
				<img src="https://s3-us-west-2.amazonaws.com/onlylocalfood-images/{{ product.image }}" class="img-fluid" alt="food">
			</div>
			<div class="col col-xs-12 col-sm-6">
				<div class="text-center">
					<h4><a [routerLink]="['../../producer/' + product.producer?.id]">{{ product.producer?.name }}</a></h4>
					<h2>{{ product.name }}</h2>
				</div>
				<p>{{ product.description }}</p>
			</div>
		</div>
		<br>
		<div class="row justify-content-sm-center">
			<div class="col-5 col-md-3 col-offset-md-2">
				<h3 class="text-center">{{ product.pricePerUnit }}/{{ product.unit }}</h3>
			</div>
			<div class="col-7 col-md-4">
					<app-add-to-cart [product]="product"></app-add-to-cart>
			</div>
		</div>
				
		<hr>
		
		<div> 
			<!-- Delivery Schedule -->
			<div class="divider-new">
	            <a [routerLink]="['../../producer/' + product.producer?.id + '/schedule']" class="btn btn-olf-primary">View this Producer's Upcoming Schedule</a>
	        </div>
			<!-- Related Products / Other products from the same producer -->
			<div class="divider-new">
	            <a [routerLink]="['../../producer/' + product.producer?.id]" class="btn btn-olf-primary">View All Products from this Producer</a>
			</div>
		</div>
	        
	</div>
</div>