<div class="row">
	<div class="col-xs-12">
		<!-- Product Details -->
		<div class="row justify-content-sm-center">
			<div class="col col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-1">
				<img src="../../../../assets/images/beet.png" class="img-fluid" alt="food">
			</div>
			<div class="col col-xs-12 col-sm-6">
				<div class="text-center">
					<h4><a [routerLink]="['../producer']">Producer Name</a></h4>
					<h2>Product Name</h2>
				</div>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vehicula suscipit vestibulum. Maecenas sed accumsan nisl. Mauris bibendum vulputate sodales. Donec ut tortor sapien. Ut placerat nisi ut diam egestas sollicitudin. Ut non elit in mauris auctor condimentum eu a lorem. Nullam et odio mollis, imperdiet ipsum vitae, facilisis nibh.</p>
				<div class="row justify-content-sm-center">
					<div class="col col-xs-6">
						<h3 class="text-center">$9.99/unit</h3>
					</div>
					<div class="col col-xs-6">
						<a [routerLink]="['../../cart']" class="btn btn-olf-primary">Add to Cart</a>
					</div>
				</div>
				
			</div>
		</div>
		<hr>
		
		<!-- Delivery Schedule -->
			<div class="divider-new">
	            <h2 class="h2-responsive wow fadeIn" data-wow-delay="0.2s">Upcoming Deliveries</h2>
	        </div>


		<!-- Related Products / Other products from the same producer -->
			<div class="divider-new">
	            <h2 class="h2-responsive wow fadeIn" data-wow-delay="0.2s">Other Products from Producer Name</h2>
	        </div>
	        
	</div>
</div>