<!--  -->
<main class="container-fluid olf-green-lighten-2">

  <div class="row">
    <div class="col-md-12">
      <h2 class="text-muted responsive white-text">
        Onlylocalfood.com is an online farmers’ market. 
      </h2>
      <br>
      <br><br>
      <p class="lead grey-text">
        We give producers of local food an online storefront to showcase their goods. And we help consumers like you see exactly what’s out there, who’s selling, and how to get it. We’re working to make the local food market easy and efficient – all while keeping more of your dollars at home, wherever that home may be.
      </p>
    </div>
  </div>

</main>

<div class="container">

  <div class="divider-new">
      <h2 class="h2-responsive wow fadeIn" data-wow-delay="0.2s">So, how does it work?</h2>
  </div>

  <!-- Section -->
  <section id="about" class="text-center wow fadeIn" data-wow-delay="0.2s">
    <div class="row">
      <div class="col-12">
        <p class="lead">
          OLF does local food differently. It may seem complex at first, but at the heart of it, there are 3 simple steps:
        </p>
        <div class="row">
          <div class="col-12 col-md-4">
            <i class="fa fa-search-circle fa-lg olf-primary" aria-hidden="true"></i>
            <p>Visit our <a routerLink="search">Search page</a>. We use your location to show you what products are available to order. You can filter those results to find just what you want. Or you can see which individual producers are offering local food. Or if your schedule is tight, you can select our calendar view to see which deliveries and pick-ups suit you best.</p>
            <p><a>Learn More...</a></p>
          </div>
          <div class="col-12 col-md-4">
            <i class="fa fa-cart-circle fa-lg olf-primary" aria-hidden="true"></i>
            <p>Once you’ve found what works for you, select the products you want and checkout – it’s just like other online shopping experiences. Before you’re done, simply select when and how to get your order – so we can get the producer the information they need. But don’t pay quite yet.</p>
            <p><a>Learn More...</a></p>
          </div>
          <div class="col-12 col-md-4">
            <i class="fa fa-truck-circle fa-lg olf-primary" aria-hidden="true"></i>
            <p>When your chosen date and time come around, you and the producer get together and complete the transaction the old-fashioned way: by meeting face-to-face. You get your order, and they get paid.</p>
            <p><a>Learn More...</a></p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Section -->

</div>