<!--  -->
<main class="container-fluid jumbotron-dark">
  
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h2 class="text-muted responsive white-text text-center">
        Onlylocalfood.com is an online farmers’ market.
      </h2>
      <br>
      <p class="lead text-light">
        We give producers of local food an online storefront to showcase their goods. And we help consumers like you see exactly what’s out there, who’s selling, and how to get it. We’re working to make the local food market easy and efficient – all while keeping more of your dollars at home, wherever that home may be.
      </p>
    </div>
  </div>
  
</main>

<div class="container">
  
  <div class="divider-new">
    <h2 class="h2-responsive wow fadeIn" data-wow-delay="0.2s">So, how does it work?</h2>
  </div>
  
  <!-- Section -->
  <section id="about" class="text-center wow fadeIn" data-wow-delay="0.2s">
    <div class="row">
      <div class="col-12">
        <p class="lead">
          OLF does local food differently. It may seem complex at first, but at the heart of it, there are 3 simple steps:
        </p>
        <div class="row">
          <div class="col-12 col-md-4">
            <span class="fa-stack fa-5x">
              <i class="fa fa-circle fa-stack-2x olf-primary-light"></i>
              <i class="fa fa-search fa-stack-1x fa-inverse"></i>
            </span>
            <h3>Visit our
              <a routerLink="../search">Search page</a>
            </h3>
            <ul class="text-left">
              <li>We use your location to show you what products are available to order.</li>
              <li>Filter those results to find just what you want.</li>
              <li>Change the results view to see a listing of producers, or a calendar of pickups and deliveries.</li>
            </ul>
          </div>
          <div class="col-12 col-md-4">
            <span class="fa-stack fa-5x">
              <i class="fa fa-circle fa-stack-2x olf-primary-light"></i>
              <i class="fa fa-cart-plus fa-stack-1x fa-inverse"></i>
            </span>
            <h3>Add items and checkout</h3>
            <ul class="text-left">
              <li>Select products and add them to your cart.</li>
              <li>When you checkout, choose how and when to get your order.</li>
              <li>Add your details and confirm your order.</li>
            </ul>
          </div>
          <div class="col-12 col-md-4">
            <span class="fa-stack fa-5x">
              <i class="fa fa-circle fa-stack-2x olf-primary-light"></i>
              <i class="fa fa-truck fa-stack-1x fa-inverse"></i>
            </span>
            <h3>Get your goods!</h3>
            <ul class="text-left">
              <li>At your chosen date and time, get together with the producer.</li>
              <li>Pay them directly and get your order.</li>
              <li>Gasp at how easy that was!</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Section -->
  
</div>

<main class="container-fluid jumbotron-dark">
  
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h2 class="text-muted responsive white-text text-center">
        FAQ's and How To's
      </h2>
    </div>
  </div>
  
</main>

<div class="container mb-5">
  
  <section id="producerFaq" class="text-left wow fadeIn" data-wow-delay="0.2s">
    <div class="row">
      <div class="col-12">
        
        <h5 class="faq-section-header">First, some basics...</h5>
        
        <div id="faqWhyJoinAccordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header dash-accordion" role="tab" id="faqWhyJoinHeading">
              <h5 class="mb-0">
                <a class="faq-toggle" data-toggle="collapse" data-parent="#faqWhyJoinAccordion" href="#faqWhyJoinCollapse" aria-expanded="false" aria-controls="faqHowToPayCollapse">
                  <span class="faq-icon-collapsed"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></span>
                  <span class="faq-icon-expanded"><i class="fa fa-minus-circle fa-lg" aria-hidden="true"></i></span>
                  As a consumer, why should I join?
                </a>
              </h5>
            </div>
            <div id="faqWhyJoinCollapse" class="collapse" role="tabpanel" aria-labelledby="faqWhyJoinHeading">
              <div class="card-block">
                <p>There are several benefits to joining Onlylocalfood.com:</p>
                <ul>
                  <li>Discover - You can find new producers and products!</li>
                  <li>Save time - Your time is valuable, and you shouldn't need to hunt around looking for local food. OLF aims to be the one-stop online shop for you. And with our location notifications, you don't even have to come to the site anymore - sign up for them and OLF will let you know when local food is coming to your area!</li>
                  <li>Pre-orders - Wouldn’t it be nice to go to a farmers’ market or roadside pickup with the products you want already ordered? So no matter what time you make it there, your order will be waiting. Don't miss out on the good stuff again!</li>
                  <li>Easy ordering - Rather than a long back-and-forth message string with a producer, you can now find all the information you need to order online with confidence. When prices, quantities, descriptions, and schedules are all transparently presented, you don't have to worry about any unexpected changes or charges.</li>
                  <li>Plan ahead - With the calendar in our search and each individual producer's calendar, you can look ahead to see what's coming and when.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        
        <div id="faqBasicsAccordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header dash-accordion" role="tab" id="faqBasicsHeading">
              <h5 class="mb-0">
                <a class="faq-toggle" data-toggle="collapse" data-parent="#faqBasicsAccordion" href="#faqBasicsCollapse" aria-expanded="false" aria-controls="faqBasicsCollapse">
                  <span class="faq-icon-collapsed"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></span>
                  <span class="faq-icon-expanded"><i class="fa fa-minus-circle fa-lg" aria-hidden="true"></i></span>
                  What's a storefront? A Producer Page?
                </a>
              </h5>
            </div>
            <div id="faqBasicsCollapse" class="collapse" role="tabpanel" aria-labelledby="faqBasicsHeading">
              <div class="card-block">
                <p>There are a few terms we tend to use at OLF that might need explaining.</p>
                <p>A <b>storefront</b> or a <b>Producer Page</b> is a producer's personalized space on Onlylocalfood.com. It includes the information they provide us, such as the name of their business (obviously), a description, logo, as well as their personal schedule and product list.</p>
              </div>
            </div>
          </div>
        </div>
        
        <div id="faqDistributorAccordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header dash-accordion" role="tab" id="faqDistributorHeading">
              <h5 class="mb-0">
                <a class="faq-toggle" data-toggle="collapse" data-parent="#faqDistributorAccordion" href="#faqDistributorCollapse" aria-expanded="false" aria-controls="faqHowToPayCollapse">
                  <span class="faq-icon-collapsed"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></span>
                  <span class="faq-icon-expanded"><i class="fa fa-minus-circle fa-lg" aria-hidden="true"></i></span>
                  Is OLF the distributor?
                </a>
              </h5>
            </div>
            <div id="faqDistributorCollapse" class="collapse" role="tabpanel" aria-labelledby="faqDistributorHeading">
              <div class="card-block">
                <p>Nope. We are simply a platform that connects you to producers. We don’t want to be a middleman adding markup to products, and that helps us keep your cost down.</p>
                <p>Producers operate their business as they do currently. But by adding their products and schedule to OLF, we can handle the marketing and order-taking.</p>
              </div>
            </div>
          </div>
        </div>
        
        <div id="faqOLFDifferentAccordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header dash-accordion" role="tab" id="faqOLFDifferentHeading">
              <h5 class="mb-0">
                <a class="faq-toggle" data-toggle="collapse" data-parent="#faqOLFDifferentAccordion" href="#faqOLFDifferentCollapse" aria-expanded="false" aria-controls="faqHowToPayCollapse">
                  <span class="faq-icon-collapsed"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></span>
                  <span class="faq-icon-expanded"><i class="fa fa-minus-circle fa-lg" aria-hidden="true"></i></span>
                  What makes OLF so different from other online food delivery services?
                </a>
              </h5>
            </div>
            <div id="faqOLFDifferentCollapse" class="collapse" role="tabpanel" aria-labelledby="faqOLFDifferentHeading">
              <div class="card-block">
                <p>Virtually every other local food website out there is a retailer/distributor. They buy the food from producers, and sell to consumers themselves. This adds a lot of cost to the transaction which can mean that producers get paid less, or you pay more. We want to keep the costs to you lower by helping you buy directly from the producer. They are already doing deliveries and attending markets, we just making finding and ordering easier for you.</p>
              </div>
            </div>
          </div>
        </div>
        
        <div id="faqWhatsAvailableAccordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header dash-accordion" role="tab" id="faqWhatsAvailableHeading">
              <h5 class="mb-0">
                <a class="faq-toggle" data-toggle="collapse" data-parent="#faqWhatsAvailableAccordion" href="#faqWhatsAvailableCollapse" aria-expanded="false" aria-controls="faqWhatsAvailableCollapse">
                  <span class="faq-icon-collapsed"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></span>
                  <span class="faq-icon-expanded"><i class="fa fa-minus-circle fa-lg" aria-hidden="true"></i></span>
                  What's available?
                </a>
              </h5>
            </div>
            <div id="faqWhatsAvailableCollapse" class="collapse" role="tabpanel" aria-labelledby="faqWhatsAvailableHeading">
              <div class="card-block">
                <p>Well, that depends. OLF is producer-driven, meaning that we don’t control or manipulate what is available. Availability will depend on what producers choose to sell and what’s in season.</p>
              </div>
            </div>
          </div>
        </div>
        
        <h5 class="faq-section-header">Costs and Services</h5>
        
        <div id="faqCostAccordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header dash-accordion" role="tab" id="faqCostHeading">
              <h5 class="mb-0">
                <a class="faq-toggle" data-toggle="collapse" data-parent="#faqCostAccordion" href="#faqCostCollapse" aria-expanded="false" aria-controls="faqCostCollapse">
                  <span class="faq-icon-collapsed"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></span>
                  <span class="faq-icon-expanded"><i class="fa fa-minus-circle fa-lg" aria-hidden="true"></i></span>
                  How much does it cost, then?
                </a>
              </h5>
            </div>
            <div id="faqCostCollapse" class="collapse" role="tabpanel" aria-labelledby="faqCostHeading">
              <div class="card-block">
                <ul>
                  <li>As a consumer, using the site costs you nothing! You pay the producer directly for your order and we charge them a small fee after the order has been completed.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        
        <div id="faqDeliveryFeesAccordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header dash-accordion" role="tab" id="faqDeliveryFeesHeading">
              <h5 class="mb-0">
                <a class="faq-toggle" data-toggle="collapse" data-parent="#faqDeliveryFeesAccordion" href="#faqDeliveryFeesCollapse" aria-expanded="false" aria-controls="faqDeliveryFeesCollapse">
                  <span class="faq-icon-collapsed"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></span>
                  <span class="faq-icon-expanded"><i class="fa fa-minus-circle fa-lg" aria-hidden="true"></i></span>
                  Are there delivery fees?
                </a>
              </h5>
            </div>
            <div id="faqDeliveryFeesCollapse" class="collapse" role="tabpanel" aria-labelledby="faqDeliveryFeesHeading">
              <div class="card-block">
                <p>There could be. Door-to-door deliveries could have a fee attached to them, if the producer chooses. And that fee may apply to all orders, or it may be waived when a certain order value is reached. All this information will be available to see in the schedule details.</p>
              </div>
            </div>
          </div>
        </div>
        
        <h5 class="faq-section-header">How to Use OLF</h5>
        
        <div id="faqSearchingAccordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header dash-accordion" role="tab" id="faqSearchingHeading">
              <h5 class="mb-0">
                <a class="faq-toggle" data-toggle="collapse" data-parent="#faqSearchingAccordion" href="#faqSearchingCollapse" aria-expanded="false" aria-controls="faqSearchingCollapse">
                  <span class="faq-icon-collapsed"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></span>
                  <span class="faq-icon-expanded"><i class="fa fa-minus-circle fa-lg" aria-hidden="true"></i></span>
                  How do I search?
                </a>
              </h5>
            </div>
            <div id="faqSearchingCollapse" class="collapse" role="tabpanel" aria-labelledby="faqSearchingHeading">
              <div class="card-block">
                <div class="embed-responsive embed-responsive-16by9">
                  <!-- <iframe class="embed-responsive-item" autoplay="false" autostart="false" autoplay="0" autostart="0" src="https://s3-us-west-2.amazonaws.com/onlylocalfood-images/videos/OnlyLocalFoodexplainer-1.mp4" allowfullscreen></iframe> -->
                  <!-- <video controls controlsList="nodownload" webkitallowfullscreen mozallowfullscreen allowfullscreen>
                    <source src="https://s3-us-west-2.amazonaws.com/onlylocalfood-images/videos/OnlyLocalFoodexplainer-1.mp4" type="video/mp4">
                    </video> -->
                    
                  <iframe width="816" height="463" src="https://www.youtube.com/embed/EBTWzNxf-u8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                  
                </div>
                  <p>
                    The most important part of your search starts with <b>where <i>you</i> are</b>. After all, you don’t really care what food is being delivered 3 hours away from you, do you? This is about local food.
                  </p>
                  <blockquote>
                    A note about privacy: We don’t track you. We use the location you provide only to tailor your search results. That’s it. No bull.
                  </blockquote>
                  <p>
                    Our search finds all the deliveries and pickups scheduled <b>within a given radius of your location</b>. It then shows you the products and producers associated with those results, and even the details about the deliveries and pickups themselves. This gives you all the information you need.
                  </p>
                  <p>
                    Looking specifically for veggies? <b>Filter</b> for produce and see the Products View. Want to order from just one producer that you already know? See the results from the Producers View. Or are you only available on Saturdays? Our Calendar View will show you what’s happening when.
                  </p>
              </div>
            </div>
          </div>
        </div>
            
        <div id="faqOrderingAccordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header dash-accordion" role="tab" id="faqOrderingHeading">
              <h5 class="mb-0">
                <a class="faq-toggle" data-toggle="collapse" data-parent="#faqOrderingAccordion" href="#faqSearchingCollapse" aria-expanded="false" aria-controls="faqOrderingCollapse">
                  <span class="faq-icon-collapsed"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></span>
                  <span class="faq-icon-expanded"><i class="fa fa-minus-circle fa-lg" aria-hidden="true"></i></span>
                  How do I order?
                </a>
              </h5>
            </div>
            <div id="faqOrderingCollapse" class="collapse" role="tabpanel" aria-labelledby="faqOrderingHeading">
              <div class="card-block">
                <div class="embed-responsive embed-responsive-16by9">
                  <!-- <iframe class="embed-responsive-item" autoplay="false" autostart="false" autoplay="0" autostart="0" src="https://s3-us-west-2.amazonaws.com/onlylocalfood-images/videos/OnlyLocalFoodexplainer-1.mp4" allowfullscreen></iframe> -->
                  <!-- <video controls controlsList="nodownload" webkitallowfullscreen mozallowfullscreen allowfullscreen>
                    <source src="https://s3-us-west-2.amazonaws.com/onlylocalfood-images/videos/OnlyLocalFoodexplainer-1.mp4" type="video/mp4">
                    </video> -->
                    
                  <iframe width="816" height="463" src="https://www.youtube.com/embed/EBTWzNxf-u8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <p>
                  Now that you’ve seen what’s on offer, you can <b>start building your order</b>. It’s just like ordering anything else online – start adding things to your cart! There is one special difference: because OLF is an online farmers’ market, that means when you order products from different producers, you are really creating multiple shopping carts. (What does this mean? Let us show you. – multiple carts video.)
                </p>
                <p>
                  Once you’ve added one item to your cart, you might want to check out the rest of the products from that producer by visiting their store. They’ve probably got more great products you’ll love!
                </p>
                <p>
                  After your cart is full, review your order. When you’ve confirmed you have what you want, continue to the checkout page. This is where OLF diverges from traditional online shopping once again: Your products won’t be shipped, so you’ll have to <b>choose how and when to get your order</b> based on the options the producer has set up. You can see what those options are by selecting a location.
                </p>
                <p>
                  After making the appropriate selection, fill out any extra details like a comment or special instructions for the producer, or your address if you chose delivery. Then <b>hit ‘Confirm’ and you’re done</b>! We send your order on to the Producer. Once they review and accept your order, you’ll get a confirmation email.
                </p>
              </div>
            </div>
          </div>
        </div>
                
        <div id="faqAddScheduleAccordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header dash-accordion" role="tab" id="faqAddScheduleHeading">
              <h5 class="mb-0">
                <a class="faq-toggle" data-toggle="collapse" data-parent="#faqAddScheduleAccordion" href="#faqAddScheduleCollapse" aria-expanded="false" aria-controls="faqAddScheduleCollapse">
                  <span class="faq-icon-collapsed"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></span>
                  <span class="faq-icon-expanded"><i class="fa fa-minus-circle fa-lg" aria-hidden="true"></i></span>
                  How do I add my schedule?
                </a>
              </h5>
            </div>
            <div id="faqAddScheduleCollapse" class="collapse" role="tabpanel" aria-labelledby="faqAddScheduleHeading">
              <div class="card-block">
                <p>******</p>              
              </div>
            </div>
          </div>
        </div>
        
        <div id="faqScheduleTypesAccordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header dash-accordion" role="tab" id="faqScheduleTypesHeading">
              <h5 class="mb-0">
                <a class="faq-toggle" data-toggle="collapse" data-parent="#faqScheduleTypesAccordion" href="#faqScheduleTypesCollapse" aria-expanded="false" aria-controls="faqScheduleTypesCollapse">
                  <span class="faq-icon-collapsed"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></span>
                  <span class="faq-icon-expanded"><i class="fa fa-minus-circle fa-lg" aria-hidden="true"></i></span>
                  What are the different types of schedules that I can/should use?
                </a>
              </h5>
            </div>
            <div id="faqScheduleTypesCollapse" class="collapse" role="tabpanel" aria-labelledby="faqScheduleTypesHeading">
              <div class="card-block">
                <p>Currently, OLF uses four types of schedules: Door-to-door delivery, market pickup, on-farm pickup, and other pickups.</p>
                <p><b>Door-to-door Delivery</b> - This is fairly self-explanatory, but you should note a couple of things: You will only be required to input a community name to set it up. Consumers will be required to provide an address when they order. If you are restricting your delivery in any way (eg. you are only delivering to the south west corner of the city), then you should indicate that in the description. You will also have the option to add a delivery fee, and the option to add it to every order, or to orders that fall below a certain dollar value.</p>
                <p><b>Market Pickup</b> - Again, pretty easy to understand. If you want to take pre-orders for a farmers' market, this is the place to do it. Enter the community and an address if possible. Include any other details to your description.</p>
                <p><b>On-farm Pickup</b> - Using this option, you can schedule farmgate sales.</p>
                <p><b>Other Pickup</b> - This option will cover anything else. If you drop off orders at another location (eg. a friend's store), or if you send meat to the butcher, this will be the option to use. Including details in your description will be key to the success of these types of schedules.</p>
              </div>
            </div>
          </div>
        </div>
        
        <div id="faqAddDeliveryFeeAccordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header dash-accordion" role="tab" id="faqAddDeliveryFeeHeading">
              <h5 class="mb-0">
                <a class="faq-toggle" data-toggle="collapse" data-parent="#faqAddDeliveryFeeAccordion" href="#faqAddDeliveryFeeCollapse" aria-expanded="false" aria-controls="faqHowToPayCollapse">
                  <span class="faq-icon-collapsed"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></span>
                  <span class="faq-icon-expanded"><i class="fa fa-minus-circle fa-lg" aria-hidden="true"></i></span>
                  Can I add a delivery fee to orders?
                </a>
              </h5>
            </div>
            <div id="faqAddDeliveryFeeCollapse" class="collapse" role="tabpanel" aria-labelledby="faqAddDeliveryFeeHeading">
              <div class="card-block">
                <p>You sure can. When you choose to schedule a ‘door-to-door delivery’, you have the option to add a delivery fee. You can also choose to apply that fee to all orders, or to waive the fee when an order hits a certain dollar value.</p>
              </div>
            </div>
          </div>
        </div>
        
        <h5 class="faq-section-header">Managing Orders</h5>
        
        <div id="faqOrderProcessAccordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header dash-accordion" role="tab" id="faqOrderProcessHeading">
              <h5 class="mb-0">
                <a class="faq-toggle" data-toggle="collapse" data-parent="#faqOrderProcessAccordion" href="#faqOrderProcessCollapse" aria-expanded="false" aria-controls="faqOrderProcessCollapse">
                  <span class="faq-icon-collapsed"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></span>
                  <span class="faq-icon-expanded"><i class="fa fa-minus-circle fa-lg" aria-hidden="true"></i></span>
                  What is the ordering process - from start to finish?
                </a>
              </h5>
            </div>
            <div id="faqOrderProcessCollapse" class="collapse" role="tabpanel" aria-labelledby="faqOrderProcessHeading">
              <div class="card-block">
                <p>There are a few steps an order takes from start to finish, and we use different order statuses to track them:</p>
                <ul>
                  <li><b>Pending</b> - When an order is created by a consumer, it is set to a 'pending' status. You are notified via an email when a new order comes in.</li>
                  <li><b>Accepted</b> - Once you have reviewed the order, you will be asked to 'Accept' the order. This is a status that tells the consumer (they get an email notification) the order will be fulfilled. On the other hand...</li>
                  <li><b>Denied</b> - If the order is unacceptable for some reason (you've had a bad experience with that consumer in the past, something in your schedule changed and you are no longer make that delivery, etc.), you have the option to mark the order 'Denied'. In fairness to the consumer, you will need to add a comment explaining why, and they will receive an email notification.</li>
                  <li><b>Completed</b> - Once the delivery or pickup has taken place - the consumer has their order and you've been paid, you mark the order completed. This is just an indication that nothing is outstanding on the order, and helps keeps your account organized.</li>
                  <li><b>Incomplete</b> - If a consumer doesn't show up for the pickup, or something else happens that prevents the delivery, then you have the option to mark the order 'Incomplete'. You'll need to indicate the reason by selecting from a given drop down. Again, this helps keep your account organized and will prevent you being charged for an order that didn't take place.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        
        <div id="faqGetPaidAccordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header dash-accordion" role="tab" id="faqGetPaidHeading">
              <h5 class="mb-0">
                <a class="faq-toggle" data-toggle="collapse" data-parent="#faqGetPaidAccordion" href="#faqGetPaidCollapse" aria-expanded="false" aria-controls="faqHowToPayCollapse">
                  <span class="faq-icon-collapsed"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></span>
                  <span class="faq-icon-expanded"><i class="fa fa-minus-circle fa-lg" aria-hidden="true"></i></span>
                  How do I get paid?
                </a>
              </h5>
            </div>
            <div id="faqGetPaidCollapse" class="collapse" role="tabpanel" aria-labelledby="faqGetPaidHeading">
              <div class="card-block">
                <p>OLF isn’t the middleman. When you and the consumer connect via delivery or pickup, they pay you directly, not us. We'd recommend including the acceptable payment methods in your schedule descriptions.</p>
              </div>
            </div>
          </div>
        </div>
        
        <h5 class="faq-section-header">Account Management</h5>
        
        <div id="faqEditBusinessInfoAccordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header dash-accordion" role="tab" id="faqEditBusinessInfoHeading">
              <h5 class="mb-0">
                <a class="faq-toggle" data-toggle="collapse" data-parent="#faqEditBusinessInfoAccordion" href="#faqEditBusinessInfoCollapse" aria-expanded="false" aria-controls="faqHowToPayCollapse">
                  <span class="faq-icon-collapsed"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></span>
                  <span class="faq-icon-expanded"><i class="fa fa-minus-circle fa-lg" aria-hidden="true"></i></span>
                  How do I edit my business information?
                </a>
              </h5>
            </div>
            <div id="faqEditBusinessInfoCollapse" class="collapse" role="tabpanel" aria-labelledby="faqEditBusinessInfoHeading">
              <div class="card-block">
                <p>In your Account Dashboard, you will find a tab named ‘My Account’. By clicking the ‘edit’ button you can update your information. Remember to click ‘Save’ when you are done!</p>
              </div>
            </div>
          </div>
        </div>
        
        <div id="faqDownloadTableAccordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header dash-accordion" role="tab" id="faqDownloadTableHeading">
              <h5 class="mb-0">
                <a class="faq-toggle" data-toggle="collapse" data-parent="#faqDownloadTableAccordion" href="#faqDownloadTableCollapse" aria-expanded="false" aria-controls="faqHowToPayCollapse">
                  <span class="faq-icon-collapsed"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></span>
                  <span class="faq-icon-expanded"><i class="fa fa-minus-circle fa-lg" aria-hidden="true"></i></span>
                  Can I download a spreadsheet of my orders, products, etc.?
                </a>
              </h5>
            </div>
            <div id="faqDownloadTableCollapse" class="collapse" role="tabpanel" aria-labelledby="faqDownloadTableHeading">
              <div class="card-block">
                <p>You sure can! You can download any of the tables within any of the tabs in your Account Dashboard. Simply click the ‘Export’ button located beside the table’s title. A CSV file will be downloaded. You can then open that in Excel, or any other table-based software, and begin to manipulate the data.</p>
              </div>
            </div>
          </div>
        </div>
        
        <h5 class="faq-section-header">Other Questions</h5>
        
        <div id="faqWhatIsLocalAccordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header dash-accordion" role="tab" id="faqWhatIsLocalHeading">
              <h5 class="mb-0">
                <a class="faq-toggle" data-toggle="collapse" data-parent="#faqWhatIsLocalAccordion" href="#faqWhatIsLocalCollapse" aria-expanded="false" aria-controls="faqWhatIsLocalCollapse">
                  <span class="faq-icon-collapsed"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></span>
                  <span class="faq-icon-expanded"><i class="fa fa-minus-circle fa-lg" aria-hidden="true"></i></span>
                  What area is served? What exactly is local? Where does the food come from?
                </a>
              </h5>
            </div>
            <div id="faqWhatIsLocalCollapse" class="collapse" role="tabpanel" aria-labelledby="faqWhatIsLocalHeading">
              <div class="card-block">
                <p>The beauty of an online space for local food is that the area served is whatever area a producer wants to serve. Producers could potentially come from anywhere. You get to decide how ‘local’ you want local to be. Our aim is simply to make things as local as possible.</p>
              </div>
            </div>
          </div>
        </div>
        
        <div id="faqContactInfoAccordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header dash-accordion" role="tab" id="faqContactInfoHeading">
              <h5 class="mb-0">
                <a class="faq-toggle" data-toggle="collapse" data-parent="#faqContactInfoAccordion" href="#faqContactInfoCollapse" aria-expanded="false" aria-controls="faqHowToPayCollapse">
                  <span class="faq-icon-collapsed"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></span>
                  <span class="faq-icon-expanded"><i class="fa fa-minus-circle fa-lg" aria-hidden="true"></i></span>
                  Why isn’t my contact information on my producer page?
                </a>
              </h5>
            </div>
            <div id="faqContactInfoCollapse" class="collapse" role="tabpanel" aria-labelledby="faqContactInfoHeading">
              <div class="card-block">
                <p>This goes back to our goal of trying to reduce the back-and-forth messaging that can come with selling food direct to the consumer. Buyers will have all the information they need to make a purchase decision right on the site itself, so we’ve made the decision to keep communication options limited. If you don’t agree with this, then we’d like to know more. You can send us a note and even ask us to call you back <a pageScroll [pageScrollDuration]="750" [routerLink]="['/']" href="#contact">here</a>.</p>
              </div>
            </div>
          </div>
        </div>
        
        <div id="faqContactOLFAccordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header dash-accordion" role="tab" id="faqContactOLFHeading">
              <h5 class="mb-0">
                <a class="faq-toggle" data-toggle="collapse" data-parent="#faqContactOLFAccordion" href="#faqContactOLFCollapse" aria-expanded="false" aria-controls="faqHowToPayCollapse">
                  <span class="faq-icon-collapsed"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></span>
                  <span class="faq-icon-expanded"><i class="fa fa-minus-circle fa-lg" aria-hidden="true"></i></span>
                  I’m still not sure about this, is there someone I can talk to at OLF?
                </a>
              </h5>
            </div>
            <div id="faqContactOLFCollapse" class="collapse" role="tabpanel" aria-labelledby="faqContactOLFHeading">
              <div class="card-block">
                <p>If you need more information, we’d be happy to help. You can use our contact form <a pageScroll [pageScrollDuration]="750" [routerLink]="['/']" href="#contact">here</a>. If you’d like a call back, please include your phone number and the best time to contact you and we’ll do our best to get back to you in a timely manner.</p>
              </div>
            </div>
          </div>
        </div>       
        
      </div>
    </div>
  </section>
  
</div>

        
<div class="divider-new">
  <h2 class="h2-responsive wow fadeIn" data-wow-delay="0.2s">Even more details</h2>
</div>

<!-- Section -->
<section id="in-depth" class="text-center wow fadeIn" data-wow-delay="0.2s">
  <div class="row text-left">
    <div class="col-12 col-md-8 offset-md-2">
      <div class="row">
        <h3>Searching Explained...</h3>
        <div #step1>
          <div class="embed-responsive embed-responsive-16by9">
            <!-- <iframe class="embed-responsive-item" autoplay="false" autostart="false" autoplay="0" autostart="0" src="https://s3-us-west-2.amazonaws.com/onlylocalfood-images/videos/OnlyLocalFoodexplainer-1.mp4" allowfullscreen></iframe> -->
            <video controls controlsList="nodownload" webkitallowfullscreen mozallowfullscreen allowfullscreen>
              <source src="https://s3-us-west-2.amazonaws.com/onlylocalfood-images/videos/OnlyLocalFoodexplainer-1.mp4" type="video/mp4">
              </video>
            </div>
            <p>
              The most important part of your search starts with <b>where <i>you</i> are</b>. After all, you don’t really care what food is being delivered 3 hours away from you, do you? This is about local food.
            </p>
            <blockquote>
              A note about privacy: We don’t track you. We use the location you provide only to tailor your search results. That’s it. No bull.
            </blockquote>
            <p>
              Our search finds all the deliveries and pickups scheduled <b>within a given radius of your location</b>. It then shows you the products and producers associated with those results, and even the details about the deliveries and pickups themselves. This gives you all the information you need.
            </p>
            <p>
              Looking specifically for veggies? <b>Filter</b> for produce and see the Products View. Want to order from just one producer that you already know? See the results from the Producers View. Or are you only available on Saturdays? Our Calendar View will show you what’s happening when.
            </p>
          </div>
          
          <h3>Ordering Explained...</h3>
          <div #step2>
            <!-- VIDEO SHOULD BE EMBEDDED HERE -->
            <p>
              Now that you’ve seen what’s on offer, you can <b>start building your order</b>. It’s just like ordering anything else online – start adding things to your cart! There is one special difference: because OLF is an online farmers’ market, that means when you order products from different producers, you are really creating multiple shopping carts. (What does this mean? Let us show you. – multiple carts video.)
            </p>
            <p>
              Once you’ve added one item to your cart, you might want to check out the rest of the products from that producer by visiting their store. They’ve probably got more great products you’ll love!
            </p>
            <p>
              After your cart is full, review your order. When you’ve confirmed you have what you want, continue to the checkout page. This is where OLF diverges from traditional online shopping once again: Your products won’t be shipped, so you’ll have to <b>choose how and when to get your order</b> based on the options the producer has set up. You can see what those options are by selecting a location.
            </p>
            <p>
              After making the appropriate selection, fill out any extra details like a comment or special instructions for the producer, or your address if you chose delivery. Then <b>hit ‘Confirm’ and you’re done</b>! We send your order on to the Producer. Once they review and accept your order, you’ll get a confirmation email.
            </p>
          </div>
          
          <h3>Delivery/Pick-up Explained...</h3>
          <div #step3>
            <p>
              <b>And now the payoff!</b> When the time comes, either you’ll go to the Producer’s location (they’re stall at the market or somewhere else, they’re farm, another drop-off point) or they’ll come to you. You get your order and pay them directly.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Section -->
  
  