<!--  -->
<main class="container-fluid jumbotron-dark">

  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h2 class="text-muted responsive white-text text-center">
        Onlylocalfood.com is an online farmers’ market.
      </h2>
      <br>
      <br>
      <p class="lead text-light">
        We give producers of local food an online storefront to showcase their goods. And we help consumers like you see exactly what’s out there, who’s selling, and how to get it. We’re working to make the local food market easy and efficient – all while keeping more of your dollars at home, wherever that home may be.
      </p>
    </div>
  </div>

</main>

<div class="container">

  <div class="divider-new">
    <h2 class="h2-responsive wow fadeIn" data-wow-delay="0.2s">So, how does it work?</h2>
  </div>

  <!-- Section -->
  <section id="about" class="text-center wow fadeIn" data-wow-delay="0.2s">
    <div class="row">
      <div class="col-12">
        <p class="lead">
          OLF does local food differently. It may seem complex at first, but at the heart of it, there are 3 simple steps:
        </p>
        <div class="row">
          <div class="col-12 col-md-4">
            <span class="fa-stack fa-5x">
              <i class="fa fa-circle fa-stack-2x olf-primary-light"></i>
              <i class="fa fa-search fa-stack-1x fa-inverse"></i>
            </span>
            <h3>Visit our
              <a routerLink="../search">Search page</a>
            </h3>
            <ul class="text-left">
              <li>We use your location to show you what products are available to order.</li>
              <li>Filter those results to find just what you want.</li>
              <li>Change the results view to see a listing of producers, or a calendar of pickups and deliveries.</li>
            </ul>
          </div>
          <div class="col-12 col-md-4">
            <span class="fa-stack fa-5x">
              <i class="fa fa-circle fa-stack-2x olf-primary-light"></i>
              <i class="fa fa-cart-plus fa-stack-1x fa-inverse"></i>
            </span>
            <h3>Add items and checkout</h3>
            <ul class="text-left">
              <li>Select products and add them to your cart.</li>
              <li>When you checkout, choose how and when to get your order.</li>
              <li>Add your details and confirm your order.</li>
            </ul>
          </div>
          <div class="col-12 col-md-4">
            <span class="fa-stack fa-5x">
              <i class="fa fa-circle fa-stack-2x olf-primary-light"></i>
              <i class="fa fa-truck fa-stack-1x fa-inverse"></i>
            </span>
            <h3>Get your goods!</h3>
            <ul class="text-left">
              <li>At your chosen date and time, get together with the producer.</li>
              <li>Pay them directly and get your order.</li>
              <li>Gasp at how easy that was!</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Section -->

  <div class="divider-new">
    <h2 class="h2-responsive wow fadeIn" data-wow-delay="0.2s">Even more details</h2>
  </div>

  <!-- Section -->
  <section id="in-depth" class="text-center wow fadeIn" data-wow-delay="0.2s">
    <div class="row text-left">
      <div class="col-12 col-md-8 offset-md-2">
        <div class="row">
          <h3>Searching Explained...</h3>
          <div #step1>
            <div class="embed-responsive embed-responsive-16by9">
              <!-- <iframe class="embed-responsive-item" autoplay="false" autostart="false" autoplay="0" autostart="0" src="https://s3-us-west-2.amazonaws.com/onlylocalfood-images/videos/OnlyLocalFoodexplainer-1.mp4" allowfullscreen></iframe> -->
              <video controls controlsList="nodownload" webkitallowfullscreen mozallowfullscreen allowfullscreen>
                <source src="https://s3-us-west-2.amazonaws.com/onlylocalfood-images/videos/OnlyLocalFoodexplainer-1.mp4" type="video/mp4">
              </video>
            </div>
            <p>
              The most important part of your search starts with <b>where <i>you</i> are</b>. After all, you don’t really care what food is being delivered 3 hours away from you, do you? This is about local food.
            </p>
            <blockquote>
              A note about privacy: We don’t track you. We use the location you provide only to tailor your search results. That’s it. No bull.
            </blockquote>
            <p>
              Our search finds all the deliveries and pickups scheduled <b>within a given radius of your location</b>. It then shows you the products and producers associated with those results, and even the details about the deliveries and pickups themselves. This gives you all the information you need.
            </p>
            <p>
              Looking specifically for veggies? <b>Filter</b> for produce and see the Products View. Want to order from just one producer that you already know? See the results from the Producers View. Or are you only available on Saturdays? Our Calendar View will show you what’s happening when.
            </p>
          </div>

          <h3>Ordering Explained...</h3>
          <div #step2>
            <!-- VIDEO SHOULD BE EMBEDDED HERE -->
            <p>
              Now that you’ve seen what’s on offer, you can <b>start building your order</b>. It’s just like ordering anything else online – start adding things to your cart! There is one special difference: because OLF is an online farmers’ market, that means when you order products from different producers, you are really creating multiple shopping carts. (What does this mean? Let us show you. – multiple carts video.)
            </p>
            <p>
              Once you’ve added one item to your cart, you might want to check out the rest of the products from that producer by visiting their store. They’ve probably got more great products you’ll love!
            </p>
            <p>
              After your cart is full, review your order. When you’ve confirmed you have what you want, continue to the checkout page. This is where OLF diverges from traditional online shopping once again: Your products won’t be shipped, so you’ll have to <b>choose how and when to get your order</b> based on the options the producer has set up. You can see what those options are by selecting a location.
            </p>
            <p>
              After making the appropriate selection, fill out any extra details like a comment or special instructions for the producer, or your address if you chose delivery. Then <b>hit ‘Confirm’ and you’re done</b>! We send your order on to the Producer. Once they review and accept your order, you’ll get a confirmation email.
            </p>
          </div>

          <h3>Delivery/Pick-up Explained...</h3>
          <div #step3>
            <p>
              <b>And now the payoff!</b> When the time comes, either you’ll go to the Producer’s location (they’re stall at the market or somewhere else, they’re farm, another drop-off point) or they’ll come to you. You get your order and pay them directly.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Section -->

</div>