<div class="row">
  <div class="col col-md-6 offset-md-3 mb-2">
    <div>
      <a (click) ="goBack()"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back</a>
    </div>
    <div class="row olf-primary-color">
      <div class="col">
        <div class="w-100 text-center">
          <h3 class="h3-responsive text-light pt-2">Checkout</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="col col-md-6 offset-md-3 card bg-light mb-2">
    <div class="row grey lighten-2">
      <h5 class="h5-responsive mx-auto pt-2 card-title">1. Choose How and When to Get Your Order:</h5>
    </div>
    <div class="row my-3">
      <div class="col-12 col-md-8 offset-md-2 card-body">
        <h6 class="card-subtitle mb-2 text-muted">First, select your community:</h6>
        <select class="custom-select w-100" (change)="onSelect($event)">
          <option selected disabled>Select:</option>
          <option 
            class="dropdown-item" 
            value="{{ community.city }}" 
            *ngFor="let community of communityList" 
            >{{ community.city }}</option>
        </select>
      </div>
      <div class="col-12">
        <hr>
      </div>
      <div class="col-12 col-md-8 offset-md-2 card-body" *ngIf="showSchedules">
          <h6 class="card-subtitle mb-2 text-muted">Next, select how and when to get your order: </h6>
          <div *ngFor="let schedule of selectedSchedulesList, let i = index">
              <label class="custom-control custom-radio w-100"  >
                  <input id="{{ schedule.id }}" name="{{ schedule.id }}" type="radio" class="custom-control-input" (click)="onSelectSchedule(i)">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description w-100">
                    <div class="row">
                      <div class="col-12">
                        <p class="card-text"><strong>{{ schedule.type }}</strong></p>
                        <p class="card-text">{{ schedule.startDateTime | date:'fullDate' }}, {{ schedule.startDateTime | date:'shortTime' }} - {{ schedule.endDateTime | date:'shortTime' }}</p>
                        <div class="row">
                          <div class="col-3">
                            <p class="card-text"><strong>Description:</strong></p>
                          </div>
                          <div class="col-9">
                            <p class="card-text">{{ schedule.description }}</p>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-3">
                            <p class="card-text"><strong>Order Deadline:</strong></p>
                          </div>
                          <div class="col-9">
                            <p class="card-text">{{ schedule.orderDeadline | date: 'medium' }}</p>
                          </div>
                        </div>
                        <hr>
                      </div>
                    </div>
                  </span>
                </label>
          </div>
        
      </div>
    </div> 
  </div>
  <div class="col col-md-6 offset-md-3 card bg-light mb-2">
    <div class="row grey lighten-2">
      <h5 class="h5-responsive mx-auto pt-2 card-title">2. Review Your Products:</h5>
    </div>
    <div class="card-body pt-3">
      <app-checkout-product *ngFor="let product of order.productList" [product]="product" [productQuantities]="order.orderDetails.productQuantities"></app-checkout-product>
    </div>
  </div>

<!-- <form #f="ngForm" (ngSubmit)="onSubmit(f)">

    <div class="col col-md-6 offset-md-3 card bg-light mb-2">
      <div class="row grey lighten-2">
        <h5 class="h5-responsive mx-auto pt-2 card-title">3. Add Final Details:</h5>
      </div>
      <div class="card-body pt-3">
        <div class="row" *ngIf="(order.chosenSchedule) && (order.chosenSchedule.type === 'Door-to-door Delivery')">
          <p>fee details for door to door</p>
        </div>
        <div class="form-check">
          <label class="form-check-label" for="agreement">
            <input class="form-check-input" type="checkbox" name="agreement" id="agreement">
            <p class="card-text"><strong>I agree </strong>that Onlylocalfood.com Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </label>
          <input type="checkbox" id="test" name="test">
          <label for="test">test</label>
        </div>
      </div>
    </div>
    <div class="col col-md-6 offset-md-3 mb-2">
      <div class="row grey lighten-2 mb-3">
        <div class="col-6 p-2 text-center">
          <span>Your Order Total: <strong>{{ order.orderDetails.orderValue | currency:'USD':true:'1.2-2' }}</strong></span>    
        </div>
        <div class="col-6 p-0">
          <button class="btn btn-olf-primary btn-block px-0 m-0 h-100">Send Order</button>
        </div>
      </div>
    </div>

</form> --> 

<form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
  <label for="agreement">
    <input type="checkbox" name="agreement" id="agreement" value="agreed" ngModel>
    <p class="card-text"><strong>I agree </strong>that Onlylocalfood.com Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </label>
  <input name="first" ngModel #first="ngModel">
  <input name="last" ngModel>
  <button>Submit</button>
</form>
  
</div>
