<div class="container" *ngIf="submitting">
    <app-loading></app-loading>
</div>

<div class="container-fluid p-5 bg-dark" *ngIf="!submitting">

    <div class="container">

        <div class="modal-header">
            <h5 class="modal-title">Complete your Profile</h5>
        </div>

        <div class="modal-body dash-modal-body bg-white" style="border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;">
            <p>We just need a little bit more information so that you can get the most out of Onlylocalfood.com.</p>

            <!-- Form-->
            <form (ngSubmit)="onSubmit(userForm)" [formGroup]="userForm">

                <!-- User Form Group -->
                <div formGroupName="user">

                    <div class="row form-section">

                        <div class="col-12 form-section-header">
                            <h5>General Details</h5>
                        </div>

                        <div class="col-12 form-section-body">

                            <div class="row">
                                <label for="firstName" class="col-xs-12 col-sm-4 col-form-label text-sm-right">First Name:</label>
                                <div class="col-xs-12 col-sm-8 input-group">
                                    <input class="form-input-custom" type="text" id="firstName" formControlName="firstName">
                                    <small *ngIf="!userForm.get('user.firstName').valid && userForm.get('user.firstName').touched" class="help-block">Please enter your first name.</small>
                                </div>
                            </div>

                            <!-- <h5 class="h5-responsive">
                                <label for="firstName" class="">First Name</label>
                            </h5>
                            
                            <div class="md-form pl-3">
                                <i class="fa fa-user prefix"></i>
                                <input
                                    type="text"  
                                    formControlName="firstName"
                                    class="form-control">
                            </div> -->

                            <!-- email -->

                            <div class="row">
                                <label for="name" class="col-xs-12 col-sm-4 col-form-label text-sm-right">Email:</label>
                                <div class="col-xs-12 col-sm-8 input-group">
                                    <input class="form-input-custom" type="email" id="email" formControlName="email" [(ngModel)]="email">
                                    <small *ngIf="!userForm.get('user.email').valid && userForm.get('user.email').touched" class="help-block">Please enter your email. We'll need this to send you details about your orders and notifications.</small>
                                </div>
                            </div>
                            <!-- <h5 class="h5-responsive">
                                <label for="email" data-error="wrong" data-success="right">Your email</label>
                            </h5>
                            <div class="md-form pl-3">
                                <i class="fa fa-envelope prefix"></i>
                                <input
                                    type="email"  
                                    formControlName="email"
                                    class="form-control"
                                    [(ngModel)]="email">
                            </div> -->

                        </div>

                    </div>

                    <div class="form-section row">

                        <!-- consumer or producer -->
                        <div class="col-12 form-section-body my-5">
                            <h5 class="h5-responsive">
                                <label for="role">Are you signing up as a Consumer or a Producer?</label>
                            </h5>
                            <div class="pl-3">

                                <label class="pr-3">
                                    Consumer:
                                    <input type="radio" value="consumer" formControlName="role" (change)="onSelectConsumer()" />
                                </label>

                                <label>
                                    Producer:
                                    <input type="radio" formControlName="role" value="producer" (change)="resizeMap(); onSelectProducer()" />
                                </label>
                            </div>
                        </div>

                    </div>

                </div>


                <!-- producer only form -->
                <div [class.hidden]="role !== 'producer'" class="row">

                    <div class="col-12">
                        <h2 class="h2-responsive">
                            <strong>Great - welcome to Onlylocalfood.com!</strong>
                        </h2>
                        <p>We're always happy to have new producers.</p>
                    </div>

                    <!-- Producer Form Group -->

                    <div class="col-12">

                        <div formGroupName="producer" class="row form-section">

                            <div class="col-12 form-section-header">
                                <h5>Business Details</h5>
                            </div>

                            <div class="col-12 form-section-body">

                                <div class="row">
                                    <label for="name" class="col-xs-12 col-sm-4 col-form-label text-sm-right">Business Name:</label>
                                    <div class="col-xs-12 col-sm-8 input-group">
                                        <input class="form-input-custom" type="text" id="name" formControlName="name">
                                        <small *ngIf="!userForm.get('producer.name').valid && userForm.get('producer.name').touched" class="help-block">Please enter your business name.</small>
                                    </div>
                                </div>

                                <div class="row">
                                    <label for="customUrl" class="col-xs-12 col-sm-4 col-form-label text-sm-right">Custom Url:</label>
                                    <div class="col-xs-12 col-sm-8 input-group">
                                        <input (keydown.space)="$event.preventDefault()" class="form-input-custom" type="text" id="customUrl" formControlName="customUrl">
                                        <small class="">If you choose, this will be a URL that you can give your consumers to take them directly to your storefront on OLF. It will be formatted as 'www.onlylocalfood.com/yourCustomUrl'.</small>
                                        <small>Hint: Keep it simple, yet descriptive. If you're full business name is 'Bob's Market, Corn Maze, and Petrified Manure Museum Ltd', simplify your URL to 'bobsmarket'.</small>
                                        <small *ngIf="customUrlDuplicateExists" class="help-block">That URL is already taken. Please choose another.</small>
                                        <small *ngIf="customUrl.errors?.pattern" class="help-block">
                                            Only letters, numbers, hyphens, and underscores are allowed.
                                        </small>
                                      </div>
                                </div>

                                <div class="row">
                                    <label for="description" class="col-xs-12 col-sm-4 col-form-label text-sm-right">Describe your Business:</label>
                                    <div class="col-xs-12 col-sm-8 input-group">
                                        <textarea class="form-input-custom" type="text" id="description" formControlName="description"></textarea>
                                    </div>
                                </div>

                                <div class="row">
                                    <label for="description" class="col-xs-12 col-sm-4 col-form-label text-sm-right">Logo:</label>
                                    <div class="col-xs-12 col-sm-8 input-group">
                                        <div *ngIf="!addingImage">
                                            <button class="btn btn-olf-primary btn-sm" (click)="onAddImage()">Add Logo</button>
                                        </div>
                                        <div class="row" *ngIf="addingImage">
                                            <div class="col-6">
                                                <label class="col-form-label text-center">Upload and Crop:</label>
                                            </div>
                                            <div class="col-6">
                                                <label class="col-form-label text-center">Preview:</label>
                                            </div>
                                            <div class="col-12">
                                                <app-logo-cropper [name]="imageName"></app-logo-cropper>
                                            </div>
                                            <div class="col-12 text-center">
                                                <button 
                                                    class="btn btn-olf-primary btn-sm" 
                                                    (click)="onCancelAddImage()">
                                                    Cancel Logo Upload
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>

                        </div>

                    </div>

                    <!-- producer form group end -->
                    <div class="col-12">

                        <div class="row form-section">

                            <div class="col-12 form-section-header">
                                <h5>Location Details</h5>
                            </div>

                            <div class="col-12 form-section-body">

                                <p>If you only do deliveries and off-farm pickups, your city or town is specific enough. But if you plan on offering the option of scheduled farmgate pickups, then we'll need an address.</p>

                                <!-- location -->

                                <div class="row">
                                    <label for="description" class="col-xs-12 col-sm-4 col-form-label text-sm-right">Location Search:</label>
                                    <div class="col-xs-12 col-sm-8 input-group">
                                        <input autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-input-custom" #search id="search"
                                            [formControl]="searchControl">
                                    </div>
                                </div>

                                <div class="row">
                                    <label for="description" class="col-xs-12 col-sm-4 col-form-label text-sm-right">Selected Location:</label>
                                    <div class="col-xs-12 col-sm-8 input-group">
                                        <p>{{ selectedLocation }}</p>
                                    </div>
                                </div>

                                <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom" (mapClick)="mapClicked($event)">
                                    <agm-marker [latitude]="markerLatitude" [longitude]="markerLongitude" [markerDraggable]="true" (dragEnd)="markerDragEnd($event)">
                                        <!-- <agm-info-window>Börk</agm-info-window> -->
                                    </agm-marker>
                                </agm-map>


                            </div>

                        </div>

                    </div>

                </div>

                <hr>

                <div class="text-center">

                    <button 
                        *ngIf="userForm.get('user.role').value === 'consumer'" 
                        type="submit" 
                        class="btn btn-olf-primary" 
                        [disabled]="!userForm.valid">
                    Complete Signup</button>

                    <button 
                        *ngIf="userForm.get('user.role').value === 'producer'" 
                        type="submit" 
                        class="btn btn-olf-primary" 
                        [disabled]="!userForm.valid || !searchControl.valid">
                    Complete Signup</button>

                </div>
            </form>
            <!-- Form-->

        </div>

    </div>
</div>