<!--Card-->
<div class="card">
    
    <!--Card image-->
    <!--  [ngClass]="{outOfStockOverlay: isOutOfStock}" -->
    <div class="view overlay hm-white-slight cover-div">
        <img src="../../assets/images/{{ product.image }}" class="img-fluid cover" alt="" >
        <a [routerLink]="['../' + product.producerId + '/product/' + product.id]">
            <div class="mask waves-effect waves-light"></div>
        </a>
        <div class="outOfStockOverlay cover-div" *ngIf="isOutOfStock"><img class="img-fluid cover" src="../../assets/images/outOfStock.png"></div>
        
    </div>
    <!--/.Card image-->

    <!--Card content-->
    <div class="card-block text-center">
        <!--Product Name-->
        
        <h5 class="card-title"><strong><a [routerLink]="['../' + product.producerId + '/product/' + product.id]">{{ product.name }}</a></strong></h5>

        <!--Description-->
        <p class="card-text text-left text-truncate small">{{ product.description }}</p>

    </div>
    <!--/.Card content-->

    <!--Card footer-->
    <div class="card-footer text-center px-0 pb-0">
        <p>{{ product.pricePerUnit | currency:'USD':true:'1.2-2' }}/{{ product.unit }}</p>
        <app-add-to-cart [product]="product"></app-add-to-cart>
    </div>
    <!--/.Card footer-->

</div>
<!--/.Card-->