<div class="row">
    <div class="col-lg-8 col-offset-lg-2">
        <ng-template #modalContent let-close="close">
            <div class="modal-body">
                <div>          
                    <p class="text-center"><em><strong>This product is priced in one unit and sold in another.</strong></em></p>
                    <p>For example, it could be priced 'per pound' and sold in packages that average 1.5 pounds.</p>
                    <p>This means your final order value (when you get your order and pay the producer) may be different from the total order value at checkout. If the final packages vary in size, your final price will depend on the actual size/weight of the package you receive from the producer.</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-olf-primary" (click)="close()">OK</button>
            </div>
        </ng-template>
    </div>
</div>

<!--Card-->
<div class="card">
    
    <!--Card image-->
    <div class="view overlay hm-white-slight cover-div">
        <!-- image exists for product -->
        <img *ngIf="product.image !== ''" src="https://s3-us-west-2.amazonaws.com/onlylocalfood-images/{{ product.image }}" class="img-fluid cover" alt="">
        <a [routerLink]="['../../product/' + product.id]">
            <div class="mask waves-effect waves-light"></div>
        </a>
        <div class="outOfStockOverlay cover-div" *ngIf="isOutOfStock"><img class="img-fluid cover" src="https://s3-us-west-2.amazonaws.com/onlylocalfood-images/global/outOfStock.png"></div>
        <ng-template [ngIf]="product.image === '' && 
        product.subcategory.toString() === 'Bread' || 
        product.subcategory.toString() === 'Grains' || 
        product.subcategory.toString() === 'Honey' || 
        product.subcategory.toString() === 'Eggs' || 
        product.subcategory.toString() === 'Beef' || 
        product.subcategory.toString() === 'Chicken' || 
        product.subcategory.toString() === 'Pork' || 
        product.subcategory.toString() === 'Lamb' || 
        product.subcategory.toString() === 'Fish'" [ngIfElse]="categoryImage">
        <img [hidden]="product.image !== ''"  
        src="https://s3-us-west-2.amazonaws.com/onlylocalfood-images/global/{{ product.subcategory }}.png" class="img-fluid cover" alt="">

        </ng-template>
        
        <ng-template #categoryImage>
            <!-- no image exists, and no subcategory icon exists, then use the icon for the category itself -->
            <img [hidden]="product.image !== ''" 
            src="https://s3-us-west-2.amazonaws.com/onlylocalfood-images/global/{{ product.category }}.png" class="img-fluid cover" alt="">
            
        </ng-template>
    </div>
    <!--/.Card image-->

<!--Card content-->
<div class="card-block text-center">
    <!--Product Name-->
    
    <h5 class="card-title"><strong><a [routerLink]="['../../product/' + product.id]">{{ product.name }}</a></strong></h5>

    <!--Description-->
    <p class="card-text text-left text-truncate small">{{ product.description }}</p>

</div>
<!--/.Card content-->

<!--Card footer-->
<div class="card-footer text-center px-0 pb-0">
    <p *ngIf="product.unitsPer === 1">{{ product.pricePerUnit | currency:'CAD':'symbol-narrow':'1.2-2' }}<span style="font-size: 75%">/{{ product.unit }}</span></p>
    <p 
      *ngIf="product.unitsPer !== 1"
      >{{ (product.pricePerUnit * product.unitsPer) | currency:'CAD':'symbol-narrow':'1.2-2' }}/pkg <span style="font-size: 75%">   ({{ product.pricePerUnit | currency:'CAD':'symbol-narrow':'1.2-2' }}/{{ product.unit }})</span> <i class="fa fa-info-circle" (click)="openModal()"></i></p>
    <app-add-to-cart [product]="product" [noUpcomingScheds]="noUpcomingScheds"></app-add-to-cart>
</div>
<!--/.Card footer-->

</div>
<!--/.Card-->