<div class="row">
  <div class="col-6">
    <input type="file" (change)="fileChangeEvent($event)" />
    <image-cropper
        [imageChangedEvent]="imageChangedEvent"
        [maintainAspectRatio]="false"
        [resizeToWidth]="600"
        format="jpeg"
        [imageQuality]="70"
        (imageCropped)="imageCropped($event)"
        (imageLoaded)="imageLoaded()"
        (loadImageFailed)="loadImageFailed()"
    ></image-cropper>
  </div>
  <div class="col-6" *ngIf="previewCroppedImage">
    <div class="text-center">
        <img class="img-thumbnail" [src]="previewCroppedImage" />  
    </div>
  </div>
  <div class="col-6" *ngIf="imageLoadFailed">
    <div class="text-center">
      <p class="help-block">Uh-oh, something ain't right! Please make sure your image is a png or jpg.</p>
    </div>
  </div>
</div>
  