<div class="modal-header">
  <h5 class="modal-title">Add a New Schedule</h5>
  <button type="button" class="close" (click)="activeModal.close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<form [formGroup]="form" (ngSubmit)="onSubmit()"> <!-- this binds the viewed form to the form we build in the component class --> 
  
  <div class="modal-body dash-modal-body">
    
    <app-loading *ngIf="submitting"></app-loading>
    
    <div *ngIf="!submitting">
      
      <div class="row form-section">
        <div class="col-12 form-section-header">
          <h5>Location Details</h5>
        </div>
        
        <div class="col-12 form-section-body" *ngIf="locations.length === 0">
          
          <ul class="list-group">
            <li *ngFor="let location of locations" class="list-group-item">
              
              <div class="row">
                <div class="col-xs-12 col-sm-4 col-form-label text-sm-right">
                  <strong>Name:</strong>
                </div>
                <div class="col-xs-12 col-sm-8 input-group col-form-value">
                  <p>{{ location.locationName }}</p>
                </div>
              </div>
              
              <div class="row">
                <div class="col-xs-12 col-sm-4 col-form-label text-sm-right">
                  <strong>Timeframe:</strong>
                </div>
                <div class="col-xs-12 col-sm-8 input-group col-form-value">
                  <p>{{ location.timeframe }}</p>
                </div>
              </div>
              
              <div class="row">
                <div class="col-xs-12 col-sm-4 col-form-label text-sm-right">
                  <strong>Details:</strong>
                </div>
                <div class="col-xs-12 col-sm-8 input-group col-form-value">
                  <p>{{ location.description }}</p>
                </div>
              </div>
              
              <div *ngIf="location.address" class="row">
                <div class="col-xs-12 col-sm-4 col-form-label text-sm-right">
                  <strong>Address:</strong>
                </div>
                <div class="col-xs-12 col-sm-8 input-group col-form-value">
                  <p>{{ location.address }}</p>
                </div>
              </div>
              
              <div class="row">
                <div class="col-xs-12 col-sm-4 col-form-label text-sm-right">
                  <strong>Location:</strong>
                </div>
                <div class="col-xs-12 col-sm-8 input-group col-form-value">
                  <p>{{ location.city }}, {{ location.province }}</p>
                </div>
              </div>
              
              
            </li>
          </ul>
          
        </div>
        
        <div class="col-12 form-section-body" *ngIf="locations.length > 0">

          <p>
            Choose the location:
          </p>            
          <div>
            <select class="custom-select w-100" (change)="onSelect($event.target.value)">
              <option 
              class="dropdown-item" 
              value="{{ i }}" 
              *ngFor="let location of locations, let i = index" 
              >{{ location.locationName }} - {{ location.timeframe }}</option>
            </select>
            
          </div>

          <div>
              <div class="row" *ngIf="locations[selectedLocationIndex].locationName">
                  <div class="col-xs-12 col-sm-4 col-form-label text-sm-right">
                    <strong>Name:</strong>
                  </div>
                  <div class="col-xs-12 col-sm-8 input-group col-form-value">
                    <p>{{ locations[selectedLocationIndex].locationName }}</p>
                  </div>
                </div>
                
                <div class="row">
                  <div class="col-xs-12 col-sm-4 col-form-label text-sm-right">
                    <strong>Timeframe:</strong>
                  </div>
                  <div class="col-xs-12 col-sm-8 input-group col-form-value">
                    <p>{{ locations[selectedLocationIndex].timeframe }}</p>
                  </div>
                </div>
                
                <div class="row" *ngIf="locations[selectedLocationIndex].description">
                  <div class="col-xs-12 col-sm-4 col-form-label text-sm-right">
                    <strong>Details:</strong>
                  </div>
                  <div class="col-xs-12 col-sm-8 input-group col-form-value">
                    <p>{{ locations[selectedLocationIndex].description }}</p>
                  </div>
                </div>
                
                <div *ngIf="locations[selectedLocationIndex].address" class="row">
                  <div class="col-xs-12 col-sm-4 col-form-label text-sm-right">
                    <strong>Address:</strong>
                  </div>
                  <div class="col-xs-12 col-sm-8 input-group col-form-value">
                    <p>{{ locations[selectedLocationIndex].address }}</p>
                  </div>
                </div>
                
                <div class="row">
                  <div class="col-xs-12 col-sm-4 col-form-label text-sm-right">
                    <strong>Location:</strong>
                  </div>
                  <div class="col-xs-12 col-sm-8 input-group col-form-value">
                    <p>{{ locations[selectedLocationIndex].city }}, {{ locations[selectedLocationIndex].province }}</p>
                  </div>
                </div>
          </div>
            
        </div>
        
      </div>
      
      <div class="row form-section">
        <div class="col-12 form-section-header">
          <h5>Dates and Times</h5>
        </div>
        
        <div class="col-12 form-section-body">
          
          <!-- DATE - USES DATEPICKER MODULE -->
          <div class="row">
            <label for="date" class="col-xs-12 col-sm-4 col-form-label text-sm-right">Date:</label>
            <div class="col-xs-12 col-sm-8 input-group">
              <input 
              class="form-input-custom"
              [owlDateTime]="date" 
              [owlDateTimeTrigger]="date" 
              [(ngModel)]="dateMoment" 
              [ngModelOptions]="{standalone: true}"
              [formControl]="form.controls['date']"
              [min]="DateMomentMin"
              ngDefaultControl>
              <owl-date-time
              #date
              [dateFormat]="'YYYY-MM-DD'"
              [pickerType]="'calendar'" 
              [placeHolder]="'YYYY-MM-DD'"
              [autoClose]="true"
              [inputId]="'date'"
              (afterPickerClosed)="onChooseDate()"
              ></owl-date-time>
            </div>
          </div>
          
          <!-- START TIME - USES DATEPICKER MODULE -->
          <div class="row">
            <label for="input3" class="col-xs-12 col-sm-4 col-form-label text-sm-right">Start Time:</label>
            <div class="col-xs-12 col-sm-8 input-group">
              <input 
              class="form-input-custom"
              [owlDateTime]="startTime" 
              [owlDateTimeTrigger]="startTime"
              [(ngModel)]="startTimeMoment" 
              [ngModelOptions]="{standalone: true}"
              [formControl]="form.controls['startTime']"
              ngDefaultControl
              >
              <owl-date-time 
              #startTime
              [pickerType]="'timer'"
              [dateFormat]="'hh:mm'"
              [stepMinute]="15"
              [autoClose]="true"
              [inputId]="'input3'"
              (afterPickerClosed)="onChooseStartTime()"
              ></owl-date-time>
            </div>
          </div>
          
          <!-- END TIME - USES DATEPICKER MODULE -->
          <div class="row">
            <label for="input4" class="col-xs-12 col-sm-4 col-form-label text-sm-right">End Time</label>
            <div class="col-xs-12 col-sm-8 input-group">
              <input 
              class="form-input-custom"
              [owlDateTime]="endTime" 
              [owlDateTimeTrigger]="endTime"
              [min]="endTimeMin"
              [(ngModel)]="endTimeMoment" 
              [ngModelOptions]="{standalone: true}"
              [formControl]="form.controls['endTime']"
              ngDefaultControl
              >
              <owl-date-time 
              #endTime
              [pickerType]="'timer'"
              [dateFormat]="'hh:mm'"
              [stepMinute]="15"
              [autoClose]="true"
              [inputId]="'input4'"
              (afterPickerClosed)="onChooseEndTime()"
              ></owl-date-time>
            </div>
          </div>
          
          <!-- DEADLINE DATE - USES DATEPICKER MODULE -->
          <div class="row">
            <label for="test" class="col-xs-12 col-sm-4 col-form-label text-sm-right">Order Deadline Date/Time</label>
            <div class="col-xs-12 col-sm-8 input-group">
              <input 
              class="form-input-custom"
              [owlDateTimeTrigger]="deadline" 
              [owlDateTime]="deadline"
              [max]="deadlineDateTimeMax"
              [min]="deadlineDateTimeMin"
              [(ngModel)]="deadlineDateTime"
              [ngModelOptions]="{standalone: true}"
              [formControl]="form.controls['deadlineDateTime']"
              ngDefaultControl
              >
              <owl-date-time 
              #deadline
              [autoClose]="true"
              [inputId]="'test'"
              [stepMinute]="15"
              ></owl-date-time>
            </div>
          </div>
          
          <!-- REPEAT SCHEDULE OPTION RADIO -->
          <div class="row">
            <label for="repeatYes" class="col-xs-12 col-sm-4 col-form-label text-sm-right">Does this repeat?</label>
            <div class="col-xs-12 col-sm-8 input-group pl-5">
              <div class="form-check form-check-inline">
                <input 
                [formControl]="form.controls['repeat']" 
                type="radio" 
                name="repeatYes" 
                [(ngModel)]="repeat"
                id="repeatYes" 
                [value]=1
                (click)="onChooseRepeatEndDateYes()">
                <label class="form-check-label" for="repeatYes">Yes</label>
              </div>
              <div class="form-check form-check-inline">
                <input 
                [formControl]="form.controls['repeat']" 
                type="radio" 
                name="repeatNo"
                [(ngModel)]="repeat" 
                id="repeatNo" 
                [value]=0
                checked
                (click)="onChooseRepeatEndDateNo()">
                <label class="form-check-label" for="repeatNo">No</label>
              </div>
            </div>
          </div>
          
          <!-- REPEAT END DATE - USES DATEPICKER MODULE -->
          <div *ngIf="repeat" class="row">
            <label for="date" class="col-xs-12 col-sm-4 col-form-label text-sm-right">Repeat once per week until:</label>
            <div class="col-xs-12 col-sm-8 input-group">
              <input 
              class="form-input-custom"
              [owlDateTime]="date" 
              [owlDateTimeTrigger]="date" 
              [(ngModel)]="repeatEndDate" 
              [ngModelOptions]="{standalone: true}"
              [min]="repeatEndDateMomentMin"
              [max]="repeatEndDateMomentMax"
              ngDefaultControl>
              <owl-date-time
              #date
              [dateFormat]="'YYYY-MM-DD'"
              [pickerType]="'calendar'" 
              [placeHolder]="'YYYY-MM-DD'"
              [autoClose]="true"
              [inputId]="'repeatEndDate'"
              (afterPickerClosed)="onChooseRepeatEndDate()"
              ></owl-date-time>
            </div>
            <div class="col-xs-12 col-sm-8 offset-sm-4 input-group" *ngIf="numberOfWeeks">
              <p>You are creating {{ numberOfWeeks }} upcoming events.</p>
            </div>
          </div>
          
        </div>
        
      </div>
      
      <!-- SUBMIT BUTTONS -->
      <div class="row justify-content-center">
        <button *ngIf="!repeat"
        class="btn btn-olf-primary" 
        type="submit"
        [disabled]="(form.invalid)"
        >Add to Schedule</button>
        <button *ngIf="repeat"
        class="btn btn-olf-primary" 
        type="submit"
        [disabled]="(form.invalid)"
        >Add All to Schedule</button>
      </div>
      
    </div>
  </div>
  
  <div class="modal-footer justify-content-center">
    <div class="row">
      <a (click)="onCancel()">Cancel Changes</a>
    </div>
  </div>
  
</form>
