<div class="row">
    <div class="col col-xs-12">
        <div id="producersAccordion" role="tablist" aria-multiselectable="true">
            
            <div class="card">
                <div class="card-header dash-accordion" role="tab" id="activeProducersHeading">
                    <h5 class="mb-0">
                        <a 
                            data-toggle="collapse" 
                            data-parent="#producersAccordion" 
                            href="#activeProducersCollapse" 
                            aria-expanded="true" 
                            aria-controls="activeProducersCollapse">Active Producers  
                                <i class="fa fa-caret-down fa-lg" aria-hidden="true"></i>
                        </a>
                    </h5>
                </div>
                <div id="activeProducersCollapse" class="collapse show" role="tabpanel" aria-labelledby="activeProducersHeading">
                    <div class="card-block">
                        <app-table-layout
                            [records]="activeProducers"
                            [settings]="projectSettings"
                            [editable]="editable"
                            [deletable]="deletable">
                        </app-table-layout>
                    </div>
                </div>
            </div>
            
            <div class="card" *ngIf="inactiveProducers.length > 0">
                <div class="card-header dash-accordion" role="tab" id="inactiveProducersHeading">
                    <h5 class="mb-0">
                        <a 
                            class="collapsed" 
                            data-toggle="collapse" 
                            data-parent="#producersAccordion" 
                            href="#inactiveProducersCollapse" 
                            aria-expanded="false" 
                            aria-controls="inactiveProducersCollapse">Inactive Producers 
                            <i class="fa fa-caret-down fa-lg" aria-hidden="true"></i>
                        </a>
                    </h5>
                </div>
                <div id="inactiveProducersCollapse" class="collapse" role="tabpanel" aria-labelledby="inactiveProducersHeading">
                    <div class="card-block">
                            <app-table-layout
                            [records]="inactiveProducers"
                            [settings]="projectSettings"
                            [editable]="editable"
                            [deletable]="deletable">
                        </app-table-layout>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>