// make my colours into variables
// then add them to the classes that need them
// eg $primary color to maroon
//     .class includes the ref to the variable - see sass basics



/* You can add global styles to this file, and also import other style files */
//@import "../node_modules/bootstrap/scss/bootstrap.scss";

$mdb-color: (
  "lighten-5":  #D0D6E2,
  "lighten-4":  #B1BACE,
  "lighten-3":  #929FBA,
  "lighten-2":  #7283A7,
  "lighten-1":  #59698D,
  "base":       #741b47,
  "darken-1":   #3B465E, 
  "darken-2":   #2E3951,
  "darken-3":   #1C2A48,
  "darken-4":   #1C2331,
);

$olf-maroon: (
    50 : #eee4e9,
    100 : #d5bbc8,
    200 : #ba8da3,
    300 : #9e5f7e,
    400 : #893d63,
    500 : #741b47,
    600 : #6c1840,
    700 : #611437,
    800 : #57102f,
    900 : #440820,
    A100 : #ff7aa7,
    A200 : #ff4786,
    A400 : #ff1464,
    A700 : #fa0055,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$olf-green: (
    50 : #e8f2e2,
    100 : #c5deb7,
    200 : #9ec887,
    300 : #77b257,
    400 : #59a233,
    500 : #3c910f,
    600 : #36890d,
    700 : #2e7e0b,
    800 : #277408,
    900 : #1a6204,
    A100 : #a5ff92,
    A200 : #7aff5f,
    A400 : #50ff2c,
    A700 : #3bff13,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$olf-red: (
    50 : #f9e0e0,
    100 : #f0b3b3,
    200 : #e68080,
    300 : #db4d4d,
    400 : #d42626,
    500 : #cc0000,
    600 : #c70000,
    700 : #c00000,
    800 : #b90000,
    900 : #ad0000,
    A100 : #ffd7d7,
    A200 : #ffa4a4,
    A400 : #ff7171,
    A700 : #ff5858,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$olf-grey: (
    50 : #e0e0e0,
    100 : #b3b3b3,
    200 : #808080,
    300 : #4d4d4d,
    400 : #262626,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #a6a6a6,
    A200 : #8c8c8c,
    A400 : #737373,
    A700 : #666666,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

html {
    font-size: 16px !important;
}

.container-fluid {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.olf-primary {
    color: #741b47 !important;
}

.olf-primary-light {
    color: #9e5f7e !important;
}

.olf-primary-color {
    background-color: #9e5f7e !important;
}

.btn-olf-primary {
    background-color: #893d63 !important;
    color: #ffffff !important;
}

.btn-olf-secondary {
    background-color: #9e5f7e !important;
    color: #ffffff !important;
}

.btn-olf-secondary:hover {
    background-color: #741b47 !important;
    color: #ffffff !important;
}

.btn-olf-primary:hover {
    background-color: #741b47 !important;
    color: #ffffff !important;
}

.btn-outline-olf-primary {
    border: 2px solid #893d63 !important;
    color: #893d63 !important;
    background-color: transparent;
}

.btn-danger {
    background-color: #cc0000 !important;
}

.btn-tight-padding {
    padding: 0.375rem 0.75rem;
}

a {
    color: #741b47 !important;
}

a:hover {
    color: #611437 !important;
    font-weight: 400;
}

footer.page-footer {
    background-color: #9e5f7e !important;
}

.jumbotron-dark {
    background-color: #261D2A !important;
    padding: 3em 1em;
}

.landing-page-jumbotron {
    background-image: url("https://images.unsplash.com/photo-1510148199876-8a856ee41d42?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a82c3751ed73cbbd31bbaef3d7233a83&w=1000&q=80"), linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    padding: 5em 5%;
}

.landing-fa-stack {
    font-size: 3rem;
    color: #893d63;
}

.dash-accordion {
    background-color: #9e5f7e !important;
}

.card-header a {
    color: white !important;
}

.dashboard-details {
    background-color: #bf88a2 !important;
}

.dashboard-details-inside {
    background-color: #f5f5f5 !important;
}

// VALIDATION WARNINGS

input.ng-invalid.ng-touched {
    border: 1px solid #cc0000;
    border-radius: 5px;
}

textarea.ng-invalid.ng-touched {
    border: 1px solid #cc0000;
    border-radius: 5px;
}

.help-block {
    color: #cc0000;
    font-size: 80%;
}

.cal-month-view .cal-open-day-events {
    background-color: white !important;
}

.cal-day-badge {
    background-color: #3c910f !important;
}

.cart-button {
    color: #741b47 !important;
}

.cart-button:hover {
    color: #611437 !important;
    font-weight: 700;
}

.cart-badge {
    position: relative;
    left: -1rem;
    top: -1rem;
}

// remove spinner arrows on number inputs
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

// remove spinner arrows in firefox
input[type=number] {
    -moz-appearance:textfield;
  }

.cover-div {
    width: 100%;
}

.cover-div:after {
    content: "";
  display: block;
  padding-bottom: 100%;
}

.cover {
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
}

.text-light {
    color: whitesmoke !important;
}

.custom-control-input:checked~ {
    background-color: #741b47 !important;
}

.custom-control-input:checked~.custom-control-indicator {
    background-color: #741b47 !important;
}

.custom-control-input:focus ~ .custom-control-indicator {
    box-shadow: none !important;
}

.bg-dark {
    background-color: #261D2A!important;
}

.dash-nav > .nav-item a {
    padding: .5rem 0 !important;
}

.dash-modal-body {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}

.pac-container {
    z-index: 9999999999 !important;
}

.hidden {
    display: none !important;
}

.owl-dateTime-dialog {
    z-index: 9999999999 !important;
    background-color: lightgray;
}

.vertical-center-parent {
    position: relative;
}

.vertical-center-child {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.dropdown.show .dropdown-menu {
    opacity: 100 !important;
}

.navbar .dropdown-menu a:hover {
    color: #611437 !important;
    font-weight: 400;
    background-color: white !important;
}

.outOfStockOverlay {
    z-index: 999999;
    top: 0;
    left: 0;
    width: 100%;
    height: inherit;
    color: white;
    display: block;
    background: rgba(116, 27, 71, .5);
    // background-image: url("./assets/images/outOfStock.png");
    background-repeat: no-repeat;
    position: absolute
}

.cdk-overlay-container {
    position: fixed;
    z-index: 1090;
  }

.owl-dt-calendar-table .owl-dt-calendar-cell-selected {
    background-color: #741b47 !important;
}

.owl-dt-calendar-table .owl-dt-calendar-cell-today:not(.owl-dt-calendar-cell-selected) {
    border-color: #741b47 !important;
}


// FORMS ***************************************************

.form-section {
    margin: 5% !important;
}

.form-section-header {
    font-size: 1rem;
    background: none !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    font-weight: 500;
}

.form-section-body {
    border-radius: 5px !important;
    background-color: #e0e0e0 !important;
    padding: 1rem !important;
    margin-top: 0 !important;
    margin-bottom: 0  !important;
}

.form-section-body > div.row {
    margin-bottom: 1rem !important;
}

input.form-input-custom {
    border-radius: 5px !important;
    padding: .25rem !important;
    background-color: white !important;
    border: none !important;
    outline: none !important;
}

table.form-input-custom {
    border-radius: 5px !important;
    padding: .25rem !important;
    background-color: white !important;
    border: none !important;
    outline: none !important;
}

textarea.form-input-custom {
    border-radius: .25rem !important;
    padding: .25rem !important;
    background-color: white !important;
    border: none !important;
    height: 5rem !important;
}

.input-group > input {
    padding: 0.25rem !important;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    margin-top: 0px;
    padding-left: 5px;
}

.input-group > .form-control {
    height: auto !important;
}

.form-control {
    background-color: white !important;
}

.form-control:focus {
    border-color: #741b47 !important;
}

.custom-select:focus {
    border-color: #741b47 !important;
}

input[type=number]:focus:not([readonly]) {
    border-bottom: 1px solid #741b47 !important;
    box-shadow: 0 1px 0 0 #741b47 !important;
}

// test
input:focus:not([readonly]) {
    border-bottom: 1px solid #741b47 !important;
    box-shadow: 0 1px 0 0 #741b47 !important;
}

.col-form-label {
    font-weight: 700;
}

.col-form-value {
    padding-top: calc(0.375rem + 1px);
    padding-bottom: calc(0.375rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5;
    font-weight: 400 !important;
}

.col-form-value > p {
    margin-bottom: 0 !important;
}

.no-wrap {
    white-space: nowrap !important;
}

.minor-link {
    font-size: .75em;
}

.custom-control-indicator{
    color:white !important;
    // background-color:#741b47 !important;
}

// search page checkboxes - from codepen: https://codepen.io/MoorLex/pen/XeNzoK?editors=1100#0
.custom-control{

    &.fill-checkbox{
        --color: #741b47;

        .fill-control-input{
            display: none;
            &:checked~.fill-control-indicator{
                background-color: var(--color);
                border-color: var(--color);
                background-size: 80%;
            }
        }
        .fill-control-indicator{
            border-radius: 3px;
            display: inline-block;
            position: absolute;
            top: 4px;
            left: 0;
            width: 1rem;
            height: 1rem;
            border: 2px solid #aaa;
            transition: .3s;
            background: transparent;
            background-size: 0%;
            background-position: center;
            background-repeat: no-repeat;

            .fa {
                color: white;
                font-size: .8rem;
                position: absolute;
                margin: -5%;
            }
        }
    }
}


// TO MAINTAIN LINE BREAKS WITHIN DYNAMIC FIELDS FROM DB
p {
    white-space: pre-line;
}

// MODALS ********************************************************

.modal-dialog {
    border-top-left-radius: 0.5rem !important;
    border-top-right-radius: 0.5rem !important;
}

.modal-content{
    border-top-left-radius: 0.5rem !important;
    border-top-right-radius: 0.5rem !important;
}

.modal-header {
    background-color: #893d63 !important;
    color: whitesmoke !important;
}

.modal-title {
    font-weight: 400 !important;
    font-size: 1.5rem !important;
    margin-bottom: 0 !important;
    line-height: 1.5 !important;
}

.modal-header > .close {
    color: white !important;
}

.lead {
    font-weight: 400 !important;
}

table td {
    font-size: .9rem;
    font-weight: 400;
}


// another good dark purple 280215

// colors:
// black 303030
// dark purple 642d49
// med purple 893d63
// light purple a66a89
// pale, background purple ceafbe
// great dark background - 261D2A