<div class="modal-header">
	<h5 class="modal-title">View Schedule</h5>
	<button type="button" class="close" (click)="activeModal.close()">
		<span aria-hidden="true">&times;</span>
	</button>
</div>

<div class="modal-body dash-modal-body">

	<div class="row">

		<div class="col-12">

        <div class="row form-section">

            <div class="col-12 form-section-header">
              <h5>Date & Time</h5>
            </div>
    
            <div class="col-12 form-section-body">
    
              <div class="row">
                <div class="col-xs-12 col-sm-4 col-form-label text-sm-right">
                  <strong>Date:</strong>
                </div>
                <div class="col-xs-12 col-sm-8 input-group col-form-value">
                  <p>{{ record.startDateTime | date:'mediumDate' }}</p>
                </div>
              </div>
    
              <div class="row">
                <div class="col-xs-12 col-sm-4 col-form-label text-sm-right">
                  <strong>Time:</strong>
                </div>
                <div class="col-xs-12 col-sm-8 input-group col-form-value">
                  <p>{{ record.startDateTime | date:'shortTime' }} - {{ record.endDateTime | date:'shortTime' }}</p>
                </div>
              </div>
    
            </div>
    
          </div>

			<div class="row form-section">

				<div class="col-12 form-section-header">
					<h5>Details</h5>
				</div>

				<div class="col-12 form-section-body">

					<div class="row">
						<div class="col-xs-12 col-sm-4 col-form-label text-sm-right">
							<strong>Details:</strong>
						</div>
						<div class="col-xs-12 col-sm-8 input-group col-form-value">
							<p>{{ record.description }}</p>
						</div>
					</div>

					<div *ngIf="record.locationData[0].address" class="row">
						<div class="col-xs-12 col-sm-4 col-form-label text-sm-right">
							<strong>Address:</strong>
						</div>
						<div class="col-xs-12 col-sm-8 input-group col-form-value">
							<p>{{ record.locationData[0].address }}</p>
						</div>
					</div>

					<div class="row">
						<div class="col-xs-12 col-sm-4 col-form-label text-sm-right">
							<strong>Location:</strong>
						</div>
						<div class="col-xs-12 col-sm-8 input-group col-form-value">
							<p>{{ record.locationData[0].city }}, {{ record.locationData[0].province }}</p>
						</div>
					</div>

				</div>

      </div>
      
      <div class="row form-section" *ngIf="producerArray.length < 1">

  
          <div class="col-12 form-section-body">
            <p>No producers are using this event currently.</p>
  
  
          </div>
  
        </div>

			<div class="row form-section" *ngIf="producerArray.length > 0">

          <div class="col-12 form-section-header">
            <h5>Producers Using this Event</h5>
          </div>
  
          <div class="col-12 form-section-body">

                <ul class="list-group">
                    <li *ngFor="let producer of producerArray" class="list-group-item">
                      

                        <div class=" input-group col-form-value">
                          <p>{{ producer.producerName }}</p>
                        </div>
                      </li>
                      </ul>
  
  
          </div>
  
        </div>

		</div>

	</div>

</div>

<div class="modal-footer justify-content-center">
	<div class="row">
		<div>
			<a (click)="activeModal.close()">Close</a>
		</div>
	</div>
</div>