<div class="row">
  <div class="col px-0">
      <div id="deliveriesAccordion" role="tablist" aria-multiselectable="true">

          <!-- Add new schedule button -->
          <div class="row text-center">
              <div class="col col-xs-12">
                  <div class="btn-group">
                      <a class="btn btn-olf-primary" (click)="openModal()"><i class="fa fa-plus prefix mr-3"></i>Add New Schedule</a>
                  </div>
                  <br>
              </div>
          </div>

          <br>
          
          <div class="card">
              <div class="card-header dash-accordion" role="tab" id="upcomingDeliveriesHeading">
                  <h5 class="mb-0">
                      <a 
                          data-toggle="collapse" 
                          data-parent="#deliveriesAccordion" 
                          href="#upcomingDeliveriesCollapse" 
                          aria-expanded="true" 
                          aria-controls="upcomingDeliveriesCollapse">Upcoming Schedule ({{ upcomingSchedule.length }})
                              <i class="fa fa-caret-down fa-lg" aria-hidden="true"></i>
                      </a>
                  </h5>
              </div>
              <div id="upcomingDeliveriesCollapse" class="collapse show" role="tabpanel" aria-labelledby="upcomingDeliveriesHeading">
                  <div class="card-block">
                      <app-table-layout *ngIf="upcomingSchedule.length > 0"
                          [records]="upcomingSchedule"
                          [recordType]="recordType"
                          [settings]="projectSettings"
                          [editable]="true"
                          [deletable]="true"
                          (scheduleDeleted)="onScheduleDeleted($event)">
                      </app-table-layout>
                      <div *ngIf="upcomingSchedule.length < 1">
                          <p>You currently have no upcoming deliveries or pickups scheduled. Use the button above to add an event.</p>
                          <p>If you're not exactly sure how this works, head <a class="" routerLink="/learn-more-producer">here</a> to learn more.</p>
                      </div>
                  </div>
              </div>
          </div>
          
          <div class="card">
              <div class="card-header dash-accordion" role="tab" id="completedDeliveriesHeading">
                  <h5 class="mb-0">
                      <a 
                          class="collapsed" 
                          data-toggle="collapse" 
                          data-parent="#deliveriesAccordion" 
                          href="#completedDeliveriesCollapse" 
                          aria-expanded="false" 
                          aria-controls="completedDeliveriesCollapse">Completed Schedule ({{ completedSchedule.length }})
                              <i class="fa fa-caret-down fa-lg" aria-hidden="true"></i>
                      </a>
                  </h5>
              </div>
              <div id="completedDeliveriesCollapse" class="collapse" role="tabpanel" aria-labelledby="completedDeliveriesHeading">
                  <div class="card-block">
                      <app-table-layout
                          [records]="completedSchedule"
                          [recordType]="recordType"
                          [settings]="projectSettings"
                          [editable]="false"
                          [deletable]="false">
                      </app-table-layout>
                  </div>
              </div>
          </div>
          
      </div>
  </div>
</div>