<div class="row olf-primary-color">
  <div class="col ">
    <h3 class="h3-responsive text-light pt-2">{{ cart.producer.name | uppercase }}</h3>
  </div>
</div>
<br>
<app-cart-product *ngFor="let product of cart.productList" [product]="product" [productQuantities]="cart.orderDetails.productQuantities"></app-cart-product>
<div class="row grey lighten-2 mb-3">
  <div class="col-6 p-2 text-center">
    <span><strong>{{ cart.orderDetails.orderValue | currency:'USD':true:'1.2-2' }}</strong></span>    
  </div>
  <div class="col-6 p-0">
      <a class="btn btn-olf-primary btn-block px-0 m-0 h-100" [routerLink]="['../checkout/' + cart.tempId]">Go to Checkout</a>
  </div>
</div>

