
<div class="card my-4">

  <div class="card-header">
    <h5><strong>{{ cart.producer.name | uppercase }}</strong></h5>
  </div>

  <div class="card-body">    
    
    <ul class="list-group list-group-flush" *ngFor="let product of cart.productList">
      <li class="list-group-item">
        <app-cart-product  [product]="product" [productQuantities]="cart.orderDetails.productQuantities"></app-cart-product>
      </li>
    </ul>
    
  </div>

  <div class="card-footer">
    <div class="row">
      <div class="col-6 p-2 text-center">
        <span><strong>{{ cart.orderDetails.orderValue | currency:'CAD':'symbol-narrow':'1.2-2' }}</strong></span>    
      </div>
      <div class="col-6 p-0">
        <a class="btn btn-olf-primary btn-block px-0 m-0 h-100" [routerLink]="['../checkout/' + cart.tempId]">Go to Checkout</a>
      </div>
    </div>
  </div>

</div>

