li {
  background-color: #e8e8e8 !important;
}

.sched-details {
  margin-top: -1rem;
  font-size: 80%;
  display: inline-block;
}

i.fa {
  color: #741b47 !important;
}

.badge-olf {
  background-color: #741b47 !important;
}