<div class="modal-header">
    <h5 class="modal-title">Add a New Location</h5>
  </div>

<div class="modal-body dash-modal-body" *ngIf="submitting">
  
  <app-loading ></app-loading>
  
</div>

<div class="modal-body dash-modal-body" *ngIf="!submitting">

  <app-add-market-location (addLocation)="addNewLocation($event)"></app-add-market-location>
  
</div>

<div class="modal-footer justify-content-center">
  <div class="row text-center">
    <div class="col-12">
      <a (click)="activeModal.close()">Cancel</a>
    </div>
  </div>
</div>