<div class="row">
  <div class="col-3">
    <div class="cover-div">
        <img src="https://s3-us-west-2.amazonaws.com/onlylocalfood-images/{{ product.image }}" class="img-fluid cover" alt="">
    </div>  
  </div>
  <div class="col-7 offset-1 text-center">
    <div class="col">
      <p>{{ product.name | uppercase }}</p>
    </div>
    <div class="row">
      <div class="col-3">
        <button class="btn btn-outline-olf-primary m-0 p-2" type="button" (click)="lessOne()"><i class="fa fa-minus" aria-hidden="true"></i></button>
      </div>
      <div class="col-6">
          <p class="m-0">{{ productQuantity }} x {{ product.pricePerUnit * product.unitsPer | currency:'CAD':'symbol-narrow':'1.2-2' }}/{{ product.unit }}</p>
          <p class="m-0"><b>{{ totalProductValue | currency:'CAD':'symbol-narrow':'1.2-2' }}</b></p>
      </div>
      <div class="col-3">
          <button class="btn btn-outline-olf-primary m-0 p-2" type="button" (click)="addOne()"><i class="fa fa-plus cart-button" aria-hidden="true"></i></button>
      </div>
    </div>
  </div>
  <div class="col-1 text-center text-red vertical-center-parent pl-0">
    <a (click)="onDeleteProduct()" class="vertical-center-child">
        <i class="fa fa-times-circle fa-lg text-danger" aria-hidden="true"></i></a>
  </div>
</div>
<hr>