<div class="row">
  <div class="col-3">
    <div class="cover-div">
        <img src="../../../../../../assets/images/{{ product.imageUrl }}" class="img-fluid cover" alt="">
    </div>  
  </div>
  <div class="col-8 offset-1">
    <div class="col">
      <p>{{ product.name | uppercase }}</p>
    </div>
    <div class="row text-center">
      <div class="col-3">
        <button class="btn btn-outline-olf-primary m-0 p-2" type="button" (click)="lessOne()"><i class="fa fa-minus" aria-hidden="true"></i></button>
      </div>
      <div class="col-6">
          <p class="m-0">{{ quantityOrdered }} x {{ product.pricePerUnit * product.unitsPer | currency:'USD':true:'1.2-2' }}/{{ product.unit }}</p>
          <p class="m-0"><b>{{ totalPrice | currency:'USD':true:'1.2-2' }}</b></p>
      </div>
      <div class="col-3">
          <button class="btn btn-outline-olf-primary m-0 p-2" type="button" (click)="addOne()"><i class="fa fa-plus cart-button" aria-hidden="true"></i></button>
      </div>
    </div>
  </div>
</div>
<hr>
