<main class="container-fluid jumbotron-dark">

  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h2 class="text-muted responsive white-text text-center">
        Frequently Asked Questions
      </h2>
    </div>
  </div>

</main>

<div class="container mb-5">

  <div class="divider-new">
    <h2 class="h2-responsive wow fadeIn" data-wow-delay="0.2s">Answers for Consumers</h2>
  </div>

  <!-- Section -->
  <section id="consumerFaq" class="text-left wow fadeIn" data-wow-delay="0.2s">
    <div class="row">
      <div class="col-12">

        <h3>General Questions</h3>

        <div id="faqDifferentAccordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header dash-accordion" role="tab" id="faqDifferentHeading">
              <h5 class="mb-0">
                <a data-toggle="collapse" data-parent="#faqDifferentAccordion" href="#faqDifferentCollapse" aria-expanded="true" aria-controls="faqDifferentCollapse">
                  <i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i>
                  What makes OLF different?
                </a>
              </h5>
            </div>
            <div id="faqDifferentCollapse" class="collapse" role="tabpanel" aria-labelledby="faqDifferentHeading">
              <div class="card-block">
                <p>Farmhouse eliminates the middleman. When you buy something on Farmhouse you are actually purchasing directly from the Farmer/Producer. Just like a physical farmers’ market, the farmer sets up their stall and sets their product prices, you purchase directly from the farmer, your money goes directly to the farmer and then the farmer packages and posts your products direct to you. Keep in mind that you will receive a package from each farmer you order from and that could be from anywhere in Australia.</p>
              </div>
            </div>
          </div>
        </div>

        <div id="faqWhatIsLocalAccordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header dash-accordion" role="tab" id="faqWhatIsLocalHeading">
              <h5 class="mb-0">
                <a data-toggle="collapse" data-parent="#faqWhatIsLocalAccordion" href="#faqWhatIsLocalCollapse" aria-expanded="true" aria-controls="faqWhatIsLocalCollapse">What area is served? What exactly is local? Where does the food come from?
                  <i class="fa fa-caret-down fa-lg" aria-hidden="true"></i>
                </a>
              </h5>
            </div>
            <div id="faqWhatIsLocalCollapse" class="collapse" role="tabpanel" aria-labelledby="faqWhatIsLocalHeading">
              <div class="card-block">
                <p>The beauty of an online space for local food is that the area served is whatever area a producer wants to serve. Producers could potentially come from anywhere. You get to decide how ‘local’ you want local to be. Our aim is simply to make things as local as possible.</p>
              </div>
            </div>
          </div>
        </div>

        <div id="faqDifferentFromOthersAccordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header dash-accordion" role="tab" id="faqDifferentFromOthersHeading">
              <h5 class="mb-0">
                <a data-toggle="collapse" data-parent="#faqDifferentFromOthersAccordion" href="#faqDifferentFromOthersCollapse" aria-expanded="true" aria-controls="faqDifferentFromOthersCollapse">What makes OLF so different from other online food delivery services?
                  <i class="fa fa-caret-down fa-lg" aria-hidden="true"></i>
                </a>
              </h5>
            </div>
            <div id="faqDifferentFromOthersCollapse" class="collapse" role="tabpanel" aria-labelledby="faqDifferentFromOthersHeading">
              <div class="card-block">
                  <ul>
                    <li>In short, we don’t touch the food. We don’t deliver. We don’t ship.</li>
                    <li>Virtually every other local food website out there is a retailer/distributor. They buy the food from producers, and sell to the consumer. This adds a lot of cost to the transaction which can mean producers from the producer. They are already doing deliveries and attending markets, we just making finding and ordering easier for you.</li>
                  </ul>
              </div>
            </div>
          </div>
        </div>

        <br>

        <h3>Ordering</h3>

        <div id="faqDeliveryFeeAccordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header dash-accordion" role="tab" id="faqDeliveryFeeHeading">
              <h5 class="mb-0">
                <a data-toggle="collapse" data-parent="#faqDeliveryFeeAccordion" href="#faqDeliveryFeeCollapse" aria-expanded="true" aria-controls="faqDeliveryFeeCollapse">Are there delivery fees?
                  <i class="fa fa-caret-down fa-lg" aria-hidden="true"></i>
                </a>
              </h5>
            </div>
            <div id="faqDeliveryFeeCollapse" class="collapse" role="tabpanel" aria-labelledby="faqDeliveryFeeHeading">
              <div class="card-block">
                <p>There could be. Door-to-door deliveries could have a fee attached to them, if the producer chooses. And that fee may apply to all orders, or it may be waived when a certain order value is reached. All this information will be available to see in the schedule details.</p>
              </div>
            </div>
          </div>
        </div>

        <div id="faqConsumerSignUpAccordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header dash-accordion" role="tab" id="faqConsumerSignUpHeading">
              <h5 class="mb-0">
                <a data-toggle="collapse" data-parent="#faqConsumerSignUpAccordion" href="#faqConsumerSignUpCollapse" aria-expanded="true" aria-controls="faqConsumerSignUpCollapse">As a consumer, why do I need to sign up? Why can't I use it as a guest?
                  <i class="fa fa-caret-down fa-lg" aria-hidden="true"></i>
                </a>
              </h5>
            </div>
            <div id="faqConsumerSignUpCollapse" class="collapse" role="tabpanel" aria-labelledby="faqConsumerSignUpHeading">
              <div class="card-block">
                <p>Benefits: passive – information comes to you. No need to hunt. Don’t miss out. Discover new vendors/products. Plan ahead.</p>
              </div>
            </div>
          </div>
        </div>

        <div id="faqAvailableAccordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header dash-accordion" role="tab" id="faqAvailableHeading">
              <h5 class="mb-0">
                <a data-toggle="collapse" data-parent="#faqAvailableAccordion" href="#faqAvailableCollapse" aria-expanded="true" aria-controls="faqAvailableCollapse">What is available?
                  <i class="fa fa-caret-down fa-lg" aria-hidden="true"></i>
                </a>
              </h5>
            </div>
            <div id="faqAvailableCollapse" class="collapse" role="tabpanel" aria-labelledby="faqAvailableHeading">
              <div class="card-block">
                <p>Well, that depends. OLF is producer-driven, meaning that we don’t control or manipulate what is available. Availability will depend on what producers choose to sell and what’s in season.</p>
              </div>
            </div>
          </div>
        </div>

        <div id="faqOrderingProcessAccordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header dash-accordion" role="tab" id="faqOrderingProcessHeading">
              <h5 class="mb-0">
                <a data-toggle="collapse" data-parent="#faqOrderingProcessAccordion" href="#faqOrderingProcessCollapse" aria-expanded="true" aria-controls="faqOrderingProcessCollapse">How does the ordering process work?
                  <i class="fa fa-caret-down fa-lg" aria-hidden="true"></i>
                </a>
              </h5>
            </div>
            <div id="faqOrderingProcessCollapse" class="collapse" role="tabpanel" aria-labelledby="faqOrderingProcessHeading">
              <div class="card-block">
                <p>The ordering process isn’t difficult, but it can take a bit of explaining. We’ll go through each stage of the process both in text, and in a series of videos that will walk you through how to use the site itself.</p>
                <ul> 
                  <li>
                    <p>Searching:</p>
                  </li>
                  <li>
                    <p>Ordering:</p>
                  </li>
                  <li>
                    <p>After you check out:</p>
                  </li>
                  <li>
                    <p>Getting your order and paying:</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div id="faqHowToGetOrderAccordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header dash-accordion" role="tab" id="faqHowToGetOrderHeading">
              <h5 class="mb-0">
                <a data-toggle="collapse" data-parent="#faqHowToGetOrderAccordion" href="#faqHowToGetOrderCollapse" aria-expanded="true" aria-controls="faqHowToGetOrderCollapse">How do I get my order? When will I get my order?
                  <i class="fa fa-caret-down fa-lg" aria-hidden="true"></i>
                </a>
              </h5>
            </div>
            <div id="faqHowToGetOrderCollapse" class="collapse" role="tabpanel" aria-labelledby="faqHowToGetOrderHeading">
              <div class="card-block">
                <p>How you get your order depends on the choice you made as you checked out. Producers set up their own schedules and can choose:</p>
                <ul>
                  <li>door-to-door deliveries: the producer comes to your location (an address and instructions will need to be added at checkout),</li>
                  <li>market pickups (your order can be picked up at the producer’s stall at a farmers’ market or roadside stall),</li>
                  <li>on-farm pickups (you will go to the producer’s location to get your order), or</li>
                  <li>off-farm pickups (you will pick your order up at another, pre-chosen location – perhaps a butcher shop or other delivery point).</li>
                </ul>
                <p> When you get your order is also chosen at checkout time based on the producer’s schedule. We’d suggest that you make a note of the date and time in your calendar as you check out.</p>
              </div>
            </div>
          </div>
        </div>

        <div id="faqHowToPayAccordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header dash-accordion" role="tab" id="faqHowToPayHeading">
              <h5 class="mb-0">
                <a data-toggle="collapse" data-parent="#faqHowToPayAccordion" href="#faqHowToPayCollapse" aria-expanded="true" aria-controls="faqHowToPayCollapse">How do I pay?
                  <i class="fa fa-caret-down fa-lg" aria-hidden="true"></i>
                </a>
              </h5>
            </div>
            <div id="faqHowToPayCollapse" class="collapse" role="tabpanel" aria-labelledby="faqHowToPayHeading">
              <div class="card-block">
                <p>You pay your producer directly when you get your order. When you checkout, you will be asked to provide how you will pay based on the choices given by the producer. The current options are credit card, debit card, e-transfer, cash, and cheque.</p>
              </div>
            </div>
          </div>
        </div>

        <div id="faqNothingForSaleAccordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header dash-accordion" role="tab" id="faqNothingForSaleHeading">
              <h5 class="mb-0">
                <a data-toggle="collapse" data-parent="#faqNothingForSaleAccordion" href="#faqNothingForSaleCollapse" aria-expanded="true" aria-controls="faqNothingForSaleCollapse">What if there’s nothing for sale in my area?
                  <i class="fa fa-caret-down fa-lg" aria-hidden="true"></i>
                </a>
              </h5>
            </div>
            <div id="faqNothingForSaleCollapse" class="collapse" role="tabpanel" aria-labelledby="faqNothingForSaleHeading">
              <div class="card-block">
                <p>This is going to happen at some point. If you visit OLF from Manitoba in the middle of January, you might not see much if anything available. If you’d like to be notified when something is scheduled in your area, sign up to our <a routerLink="/location-notification">Location Notifications</a>. You choose a location or locations, and when a delivery or pickup is scheduled there, you’ll get an email. No need to keep checking back. We’ll do the searching for you.</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <div class="divider-new">
    <h2 class="h2-responsive wow fadeIn" data-wow-delay="0.2s">Answers for Producers</h2>
  </div>

  <!-- Section -->
  <section id="producerFaq" class="text-left wow fadeIn" data-wow-delay="0.2s">
    <div class="row">
      <div class="col-12">

        <h3>General Questions</h3>

        <div id="faq1Accordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header dash-accordion" role="tab" id="faq1Heading">
              <h5 class="mb-0">
                <a data-toggle="collapse" data-parent="#faq1Accordion" href="#faq1Collapse" aria-expanded="true" aria-controls="faq1Collapse">What makes OLF different?
                  <i class="fa fa-caret-down fa-lg" aria-hidden="true"></i>
                </a>
              </h5>
            </div>
            <div id="faq1Collapse" class="collapse" role="tabpanel" aria-labelledby="faq1Heading">
              <div class="card-block">
                <p>Farmhouse eliminates the middleman. When you buy something on Farmhouse you are actually purchasing directly
                  from the Farmer/Producer. Just like a physical farmers’ market, the farmer sets up their stall and sets
                  their product prices, you purchase directly from the farmer, your money goes directly to the farmer and
                  then the farmer packages and posts your products direct to you. Keep in mind that you will receive a package
                  from each farmer you order from and that could be from anywhere in Australia.</p>
              </div>
            </div>
          </div>
        </div>

        <div id="faq2Accordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header dash-accordion" role="tab" id="faq2Heading">
              <h5 class="mb-0">
                <a data-toggle="collapse" data-parent="#faq2Accordion" href="#faq2Collapse" aria-expanded="true" aria-controls="faq2Collapse">What makes OLF different?
                  <i class="fa fa-caret-down fa-lg" aria-hidden="true"></i>
                </a>
              </h5>
            </div>
            <div id="faq2Collapse" class="collapse" role="tabpanel" aria-labelledby="faq2Heading">
              <div class="card-block">
                <p>Farmhouse eliminates the middleman. When you buy something on Farmhouse you are actually purchasing directly
                  from the Farmer/Producer. Just like a physical farmers’ market, the farmer sets up their stall and sets
                  their product prices, you purchase directly from the farmer, your money goes directly to the farmer and
                  then the farmer packages and posts your products direct to you. Keep in mind that you will receive a package
                  from each farmer you order from and that could be from anywhere in Australia.</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

</div>