<main class="container-fluid jumbotron-dark">

  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h2 class="text-muted responsive white-text text-center">
        Frequently Asked Questions
      </h2>
    </div>
  </div>

</main>

<div class="container mb-5">

  <div class="divider-new">
    <h2 class="h2-responsive wow fadeIn" data-wow-delay="0.2s">Answers for Consumers</h2>
  </div>

  <!-- Section -->
  <section id="consumerFaq" class="text-left wow fadeIn" data-wow-delay="0.2s">
    <div class="row">
      <div class="col-12">

        <h3>General Questions</h3>

        <div id="faq1Accordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header dash-accordion" role="tab" id="faq1Heading">
              <h5 class="mb-0">
                <a data-toggle="collapse" data-parent="#faq1Accordion" href="#faq1Collapse" aria-expanded="true" aria-controls="faq1Collapse">What makes OLF different?
                  <i class="fa fa-caret-down fa-lg" aria-hidden="true"></i>
                </a>
              </h5>
            </div>
            <div id="faq1Collapse" class="collapse" role="tabpanel" aria-labelledby="faq1Heading">
              <div class="card-block">
                <p>Farmhouse eliminates the middleman. When you buy something on Farmhouse you are actually purchasing directly
                  from the Farmer/Producer. Just like a physical farmers’ market, the farmer sets up their stall and sets
                  their product prices, you purchase directly from the farmer, your money goes directly to the farmer and
                  then the farmer packages and posts your products direct to you. Keep in mind that you will receive a package
                  from each farmer you order from and that could be from anywhere in Australia.</p>
              </div>
            </div>
          </div>
        </div>

        <div id="faq2Accordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header dash-accordion" role="tab" id="faq2Heading">
              <h5 class="mb-0">
                <a data-toggle="collapse" data-parent="#faq2Accordion" href="#faq2Collapse" aria-expanded="true" aria-controls="faq2Collapse">What area is served? What exactly is local? Where does the food come from?
                  <i class="fa fa-caret-down fa-lg" aria-hidden="true"></i>
                </a>
              </h5>
            </div>
            <div id="faq2Collapse" class="collapse" role="tabpanel" aria-labelledby="faq2Heading">
              <div class="card-block">
                <p>The beauty of an online space for local food is that the area served is whatever area a producer wants to serve. Producers could potentially come from anywhere. You get to decide how ‘local’ you want local to be. Our aim is simply to make things as local as possible.</p>
              </div>
            </div>
          </div>
        </div>

        <div id="faq3Accordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header dash-accordion" role="tab" id="faq3Heading">
              <h5 class="mb-0">
                <a data-toggle="collapse" data-parent="#faq3Accordion" href="#faq3Collapse" aria-expanded="true" aria-controls="faq3Collapse">What makes OLF so different from other online food delivery services?
                  <i class="fa fa-caret-down fa-lg" aria-hidden="true"></i>
                </a>
              </h5>
            </div>
            <div id="faq3Collapse" class="collapse" role="tabpanel" aria-labelledby="faq3Heading">
              <div class="card-block">
                  <ul>
                    <li>In short, we don’t touch the food. We don’t deliver. We don’t ship.</li>
                    <li>Virtually every other local food website out there is a retailer/distributor. They buy the food from producers, and sell to the consumer. This adds a lot of cost to the transaction which can mean producers from the producer. They are already doing deliveries and attending markets, we just making finding and ordering easier for you.</li>
                  </ul>
              </div>
            </div>
          </div>
        </div>

        <br>

        <h3>Ordering</h3>

        <div id="faq1Accordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header dash-accordion" role="tab" id="faq1Heading">
              <h5 class="mb-0">
                <a data-toggle="collapse" data-parent="#faq1Accordion" href="#faq1Collapse" aria-expanded="true" aria-controls="faq1Collapse">What makes OLF different?
                  <i class="fa fa-caret-down fa-lg" aria-hidden="true"></i>
                </a>
              </h5>
            </div>
            <div id="faq1Collapse" class="collapse" role="tabpanel" aria-labelledby="faq1Heading">
              <div class="card-block">
                <p>Farmhouse eliminates the middleman. When you buy something on Farmhouse you are actually purchasing directly
                  from the Farmer/Producer. Just like a physical farmers’ market, the farmer sets up their stall and sets
                  their product prices, you purchase directly from the farmer, your money goes directly to the farmer and
                  then the farmer packages and posts your products direct to you. Keep in mind that you will receive a package
                  from each farmer you order from and that could be from anywhere in Australia.</p>
              </div>
            </div>
          </div>
        </div>

        <div id="faq2Accordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header dash-accordion" role="tab" id="faq2Heading">
              <h5 class="mb-0">
                <a data-toggle="collapse" data-parent="#faq2Accordion" href="#faq2Collapse" aria-expanded="true" aria-controls="faq2Collapse">What makes OLF different?
                  <i class="fa fa-caret-down fa-lg" aria-hidden="true"></i>
                </a>
              </h5>
            </div>
            <div id="faq2Collapse" class="collapse" role="tabpanel" aria-labelledby="faq2Heading">
              <div class="card-block">
                <p>Farmhouse eliminates the middleman. When you buy something on Farmhouse you are actually purchasing directly
                  from the Farmer/Producer. Just like a physical farmers’ market, the farmer sets up their stall and sets
                  their product prices, you purchase directly from the farmer, your money goes directly to the farmer and
                  then the farmer packages and posts your products direct to you. Keep in mind that you will receive a package
                  from each farmer you order from and that could be from anywhere in Australia.</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <div class="divider-new">
    <h2 class="h2-responsive wow fadeIn" data-wow-delay="0.2s">Answers for Producers</h2>
  </div>

  <!-- Section -->
  <section id="producerFaq" class="text-left wow fadeIn" data-wow-delay="0.2s">
    <div class="row">
      <div class="col-12">

        <h3>General Questions</h3>

        <div id="faq1Accordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header dash-accordion" role="tab" id="faq1Heading">
              <h5 class="mb-0">
                <a data-toggle="collapse" data-parent="#faq1Accordion" href="#faq1Collapse" aria-expanded="true" aria-controls="faq1Collapse">What makes OLF different?
                  <i class="fa fa-caret-down fa-lg" aria-hidden="true"></i>
                </a>
              </h5>
            </div>
            <div id="faq1Collapse" class="collapse" role="tabpanel" aria-labelledby="faq1Heading">
              <div class="card-block">
                <p>Farmhouse eliminates the middleman. When you buy something on Farmhouse you are actually purchasing directly
                  from the Farmer/Producer. Just like a physical farmers’ market, the farmer sets up their stall and sets
                  their product prices, you purchase directly from the farmer, your money goes directly to the farmer and
                  then the farmer packages and posts your products direct to you. Keep in mind that you will receive a package
                  from each farmer you order from and that could be from anywhere in Australia.</p>
              </div>
            </div>
          </div>
        </div>

        <div id="faq2Accordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header dash-accordion" role="tab" id="faq2Heading">
              <h5 class="mb-0">
                <a data-toggle="collapse" data-parent="#faq2Accordion" href="#faq2Collapse" aria-expanded="true" aria-controls="faq2Collapse">What makes OLF different?
                  <i class="fa fa-caret-down fa-lg" aria-hidden="true"></i>
                </a>
              </h5>
            </div>
            <div id="faq2Collapse" class="collapse" role="tabpanel" aria-labelledby="faq2Heading">
              <div class="card-block">
                <p>Farmhouse eliminates the middleman. When you buy something on Farmhouse you are actually purchasing directly
                  from the Farmer/Producer. Just like a physical farmers’ market, the farmer sets up their stall and sets
                  their product prices, you purchase directly from the farmer, your money goes directly to the farmer and
                  then the farmer packages and posts your products direct to you. Keep in mind that you will receive a package
                  from each farmer you order from and that could be from anywhere in Australia.</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

</div>