<main class="container-fluid jumbotron-dark">

  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h2 class="text-muted responsive white-text text-center">
        Frequently Asked Questions
      </h2>
    </div>
  </div>

</main>

<div class="container mb-5">

  <div class="divider-new">
    <h2 class="h2-responsive wow fadeIn" data-wow-delay="0.2s">Answers for Everyone</h2>
  </div>

  <section id="consumerFaq" class="text-left wow fadeIn" data-wow-delay="0.2s">
    <div class="row">
      <div class="col-12">

        <div id="faqDifferentAccordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header dash-accordion" role="tab" id="faqDifferentHeading">
              <h5 class="mb-0">
                <a class="faq-toggle" data-toggle="collapse" data-parent="#faqDifferentAccordion" href="#faqDifferentCollapse" aria-expanded="false" aria-controls="faqDifferentCollapse">
                  <span class="faq-icon-collapsed"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></span>
                  <span class="faq-icon-expanded"><i class="fa fa-minus-circle fa-lg" aria-hidden="true"></i></span>
                  What is Onlylocalfood.com?
                </a>
              </h5>
            </div>
            <div id="faqDifferentCollapse" class="collapse" role="tabpanel" aria-labelledby="faqDifferentHeading">
              <div class="card-block">
                <p>OLF eliminates the middleman. When you order something on OLF you are actually ordering directly from the Farmer/Producer. Just like a physical farmers’ market, the farmer sets up their stall and sets their product prices, they also add their delivery and pickup locations and schedule. This allows the consumers in those locations to find exactly what is coming to them and when. At checkout, the consumer chooses how and when to get their order based on the options set up by the producer. The order goes directly to the producer to be verified. Then the producer and consumer meet, and the order and payment change hands. Purchases are still between the consumer and the producer, with OLF simply making the connection far easier than it has been in the past.</p>
              </div>
            </div>
          </div>
        </div>

        <div id="faqWhatIsLocalAccordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header dash-accordion" role="tab" id="faqWhatIsLocalHeading">
              <h5 class="mb-0">
                <a class="faq-toggle" data-toggle="collapse" data-parent="#faqWhatIsLocalAccordion" href="#faqWhatIsLocalCollapse" aria-expanded="false" aria-controls="faqWhatIsLocalCollapse">
                  <span class="faq-icon-collapsed"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></span>
                  <span class="faq-icon-expanded"><i class="fa fa-minus-circle fa-lg" aria-hidden="true"></i></span>
                  What area is served? What exactly is local? Where does the food come from?
                </a>
              </h5>
            </div>
            <div id="faqWhatIsLocalCollapse" class="collapse" role="tabpanel" aria-labelledby="faqWhatIsLocalHeading">
              <div class="card-block">
                <p>The beauty of an online space for local food is that the area served is whatever area a producer wants to serve. Producers could potentially come from anywhere. You get to decide how ‘local’ you want local to be. Our aim is simply to make things as local as possible.</p>
              </div>
            </div>
          </div>
        </div>

        <div id="faqDifferentFromOthersAccordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header dash-accordion" role="tab" id="faqDifferentFromOthersHeading">
              <h5 class="mb-0">
                <a class="faq-toggle" data-toggle="collapse" data-parent="#faqDifferentFromOthersAccordion" href="#faqDifferentFromOthersCollapse" aria-expanded="false" aria-controls="faqDifferentFromOthersCollapse">
                  <span class="faq-icon-collapsed"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></span>
                  <span class="faq-icon-expanded"><i class="fa fa-minus-circle fa-lg" aria-hidden="true"></i></span>
                  What makes OLF so different from other online food delivery services?
                </a>
              </h5>
            </div>
            <div id="faqDifferentFromOthersCollapse" class="collapse" role="tabpanel" aria-labelledby="faqDifferentFromOthersHeading">
              <div class="card-block">
                  <ul>
                    <li>In short, we don’t touch the food. We don’t deliver. We don’t ship.</li>
                    <li>Virtually every other local food website out there is a retailer/distributor. They buy the food from producers, and sell to the consumer. This adds a lot of cost to the transaction which can mean producers from the producer. They are already doing deliveries and attending markets, we just making finding and ordering easier for you.</li>
                  </ul>
              </div>
            </div>
          </div>
        </div>

        <h5 class="faq-section-header">Your Account</h5>

        <div id="faqChangePasswordAccordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header dash-accordion" role="tab" id="faqChangePasswordHeading">
              <h5 class="mb-0">
                <a class="faq-toggle" data-toggle="collapse" data-parent="#faqChangePasswordAccordion" href="#faqChangePasswordCollapse" aria-expanded="false" aria-controls="faqHowToPayCollapse">
                  <span class="faq-icon-collapsed"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></span>
                  <span class="faq-icon-expanded"><i class="fa fa-minus-circle fa-lg" aria-hidden="true"></i></span>
                  How do I change/reset my password?
                </a>
              </h5>
            </div>
            <div id="faqChangePasswordCollapse" class="collapse" role="tabpanel" aria-labelledby="faqChangePasswordHeading">
              <div class="card-block">
                <p>Changing your password is handled by our security provider, Auth0. Simply click the 'Sign In/Register' button in the top right (log out first if you have to). Under the email entry section of the form, you'll click a link 'Don't remember your passord?'. Enter your email and a link will be sent to you to complete the reset. Easy peasy!</p>
              </div>
            </div>
          </div>
        </div>
  
      </div>
    </div>
  </section>

  <div class="divider-new">
    <h2 class="h2-responsive wow fadeIn" data-wow-delay="0.2s">Answers for Consumers</h2>
  </div>

  <!-- Section -->
  <section id="consumerFaq" class="text-left wow fadeIn" data-wow-delay="0.2s">
    <div class="row">
      <div class="col-12">

        <h5 class="faq-section-header">Ordering</h5>

        <div id="faqDeliveryFeeAccordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header dash-accordion" role="tab" id="faqDeliveryFeeHeading">
              <h5 class="mb-0">
                <a class="faq-toggle" data-toggle="collapse" data-parent="#faqDeliveryFeeAccordion" href="#faqDeliveryFeeCollapse" aria-expanded="false" aria-controls="faqDeliveryFeeCollapse">
                  <span class="faq-icon-collapsed"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></span>
                  <span class="faq-icon-expanded"><i class="fa fa-minus-circle fa-lg" aria-hidden="true"></i></span>
                  Are there delivery fees?
                </a>
              </h5>
            </div>
            <div id="faqDeliveryFeeCollapse" class="collapse" role="tabpanel" aria-labelledby="faqDeliveryFeeHeading">
              <div class="card-block">
                <p>There could be. Door-to-door deliveries could have a fee attached to them, if the producer chooses. And that fee may apply to all orders, or it may be waived when a certain order value is reached. All this information will be available to see in the schedule details.</p>
              </div>
            </div>
          </div>
        </div>

        <div id="faqConsumerSignUpAccordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header dash-accordion" role="tab" id="faqConsumerSignUpHeading">
              <h5 class="mb-0">
                <a class="faq-toggle" data-toggle="collapse" data-parent="#faqConsumerSignUpAccordion" href="#faqConsumerSignUpCollapse" aria-expanded="false" aria-controls="faqConsumerSignUpCollapse">
                  <span class="faq-icon-collapsed"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></span>
                  <span class="faq-icon-expanded"><i class="fa fa-minus-circle fa-lg" aria-hidden="true"></i></span>
                  As a consumer, why do I need to sign up? Why can't I use it as a guest?
                </a>
              </h5>
            </div>
            <div id="faqConsumerSignUpCollapse" class="collapse" role="tabpanel" aria-labelledby="faqConsumerSignUpHeading">
              <div class="card-block">
                <p>Benefits: passive – information comes to you. No need to hunt. Don’t miss out. Discover new vendors/products. Plan ahead.</p>
              </div>
            </div>
          </div>
        </div>

        <div id="faqAvailableAccordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header dash-accordion" role="tab" id="faqAvailableHeading">
              <h5 class="mb-0">
                <a class="faq-toggle" data-toggle="collapse" data-parent="#faqAvailableAccordion" href="#faqAvailableCollapse" aria-expanded="false" aria-controls="faqAvailableCollapse">
                  <span class="faq-icon-collapsed"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></span>
                  <span class="faq-icon-expanded"><i class="fa fa-minus-circle fa-lg" aria-hidden="true"></i></span>
                  What is available?
                </a>
              </h5>
            </div>
            <div id="faqAvailableCollapse" class="collapse" role="tabpanel" aria-labelledby="faqAvailableHeading">
              <div class="card-block">
                <p>Well, that depends. OLF is producer-driven, meaning that we don’t control or manipulate what is available. Availability will depend on what producers choose to sell and what’s in season.</p>
              </div>
            </div>
          </div>
        </div>

        <div id="faqOrderingProcessAccordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header dash-accordion" role="tab" id="faqOrderingProcessHeading">
              <h5 class="mb-0">
                <a class="faq-toggle" data-toggle="collapse" data-parent="#faqOrderingProcessAccordion" href="#faqOrderingProcessCollapse" aria-expanded="false" aria-controls="faqOrderingProcessCollapse">
                  <span class="faq-icon-collapsed"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></span>
                  <span class="faq-icon-expanded"><i class="fa fa-minus-circle fa-lg" aria-hidden="true"></i></span>
                  How does the ordering process work?
                </a>
              </h5>
            </div>
            <div id="faqOrderingProcessCollapse" class="collapse" role="tabpanel" aria-labelledby="faqOrderingProcessHeading">
              <div class="card-block">
                <p>The ordering process isn’t difficult, but it can take a bit of explaining. We’ll go through each stage of the process both in text, and in a series of videos that will walk you through how to use the site itself.</p>
                <ul> 
                  <li>
                    <p>Searching:</p>
                  </li>
                  <li>
                    <p>Ordering:</p>
                  </li>
                  <li>
                    <p>After you check out:</p>
                  </li>
                  <li>
                    <p>Getting your order and paying:</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div id="faqHowToGetOrderAccordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header dash-accordion" role="tab" id="faqHowToGetOrderHeading">
              <h5 class="mb-0">
                <a class="faq-toggle" data-toggle="collapse" data-parent="#faqHowToGetOrderAccordion" href="#faqHowToGetOrderCollapse" aria-expanded="false" aria-controls="faqHowToGetOrderCollapse">
                  <span class="faq-icon-collapsed"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></span>
                  <span class="faq-icon-expanded"><i class="fa fa-minus-circle fa-lg" aria-hidden="true"></i></span>
                  How do I get my order? When will I get my order?
                </a>
              </h5>
            </div>
            <div id="faqHowToGetOrderCollapse" class="collapse" role="tabpanel" aria-labelledby="faqHowToGetOrderHeading">
              <div class="card-block">
                <p>How you get your order depends on the choice you made as you checked out. Producers set up their own schedules and can choose:</p>
                <ul>
                  <li>door-to-door deliveries: the producer comes to your location (an address and instructions will need to be added at checkout),</li>
                  <li>market pickups (your order can be picked up at the producer’s stall at a farmers’ market or roadside stall),</li>
                  <li>on-farm pickups (you will go to the producer’s location to get your order), or</li>
                  <li>off-farm pickups (you will pick your order up at another, pre-chosen location – perhaps a butcher shop or other delivery point).</li>
                </ul>
                <p> When you get your order is also chosen at checkout time based on the producer’s schedule. We’d suggest that you make a note of the date and time in your calendar as you check out.</p>
              </div>
            </div>
          </div>
        </div>

        <div id="faqHowToPayAccordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header dash-accordion" role="tab" id="faqHowToPayHeading">
              <h5 class="mb-0">
                <a class="faq-toggle" data-toggle="collapse" data-parent="#faqHowToPayAccordion" href="#faqHowToPayCollapse" aria-expanded="false" aria-controls="faqHowToPayCollapse">
                  <span class="faq-icon-collapsed"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></span>
                  <span class="faq-icon-expanded"><i class="fa fa-minus-circle fa-lg" aria-hidden="true"></i></span>
                  How do I pay?
                </a>
              </h5>
            </div>
            <div id="faqHowToPayCollapse" class="collapse" role="tabpanel" aria-labelledby="faqHowToPayHeading">
              <div class="card-block">
                <p>You pay your producer directly when you get your order. When you checkout, you will be asked to provide how you will pay based on the choices given by the producer. The current options are credit card, debit card, e-transfer, cash, and cheque.</p>
              </div>
            </div>
          </div>
        </div>

        <div id="faqNothingForSaleAccordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header dash-accordion" role="tab" id="faqNothingForSaleHeading">
              <h5 class="mb-0">
                <a class="faq-toggle" data-toggle="collapse" data-parent="#faqNothingForSaleAccordion" href="#faqNothingForSaleCollapse" aria-expanded="false" aria-controls="faqNothingForSaleCollapse">
                  <span class="faq-icon-collapsed"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></span>
                  <span class="faq-icon-expanded"><i class="fa fa-minus-circle fa-lg" aria-hidden="true"></i></span>
                  What if there’s nothing for sale in my area?
                </a>
              </h5>
            </div>
            <div id="faqNothingForSaleCollapse" class="collapse" role="tabpanel" aria-labelledby="faqNothingForSaleHeading">
              <div class="card-block">
                <p>This is going to happen at some point. If you visit OLF from Manitoba in the middle of January, you might not see much if anything available. If you’d like to be notified when something is scheduled in your area, sign up to our <a routerLink="/location-notification">Location Notifications</a>. You choose a location or locations, and when a delivery or pickup is scheduled there, you’ll get an email. No need to keep checking back. We’ll do the searching for you.</p>
              </div>
            </div>
          </div>
        </div>

        <div id="faqCanYouShipAccordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header dash-accordion" role="tab" id="faqCanYouShipHeading">
              <h5 class="mb-0">
                <a class="faq-toggle" data-toggle="collapse" data-parent="#faqCanYouShipAccordion" href="#faqCanYouShipCollapse" aria-expanded="false" aria-controls="faqHowToPayCollapse">
                  <span class="faq-icon-collapsed"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></span>
                  <span class="faq-icon-expanded"><i class="fa fa-minus-circle fa-lg" aria-hidden="true"></i></span>
                  Can you ship my order?
                </a>
              </h5>
            </div>
            <div id="faqCanYouShipCollapse" class="collapse" role="tabpanel" aria-labelledby="faqCanYouShipHeading">
              <div class="card-block">
                <p>We currently don’t offer the option for producers to ship products. This may become an option in the future.</p>
              </div>
            </div>
          </div>
        </div>

        <div id="faqBuyFromMultipleAccordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header dash-accordion" role="tab" id="faqBuyFromMultipleHeading">
              <h5 class="mb-0">
                <a class="faq-toggle" data-toggle="collapse" data-parent="#faqBuyFromMultipleAccordion" href="#faqBuyFromMultipleCollapse" aria-expanded="false" aria-controls="faqHowToPayCollapse">
                  <span class="faq-icon-collapsed"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></span>
                  <span class="faq-icon-expanded"><i class="fa fa-minus-circle fa-lg" aria-hidden="true"></i></span>
                  I want to buy from multiple producers, how do I do that?
                </a>
              </h5>
            </div>
            <div id="faqBuyFromMultipleCollapse" class="collapse" role="tabpanel" aria-labelledby="faqBuyFromMultipleHeading">
              <div class="card-block">
                <p>If you chose products from more than one producer, your cart will be split up into multiple carts. You will need to proceed through the checkout process for each cart.</p>
              </div>
            </div>
          </div>
        </div>

        <div id="faqContactProducerAccordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header dash-accordion" role="tab" id="faqContactProducerHeading">
              <h5 class="mb-0">
                <a class="faq-toggle" data-toggle="collapse" data-parent="#faqContactProducerAccordion" href="#faqContactProducerCollapse" aria-expanded="false" aria-controls="faqHowToPayCollapse">
                  <span class="faq-icon-collapsed"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></span>
                  <span class="faq-icon-expanded"><i class="fa fa-minus-circle fa-lg" aria-hidden="true"></i></span>
                  How can I contact a producer?
                </a>
              </h5>
            </div>
            <div id="faqContactProducerCollapse" class="collapse" role="tabpanel" aria-labelledby="faqContactProducerHeading">
              <div class="card-block">
                <p>Currently we are not including producer contact information on the site. All the information you need to create an order should be on OLF already. If you need more information from a producer, you can let us know and we can pass your information on to them. Simply use our contact form <a pageScroll [pageScrollDuration]="750" [routerLink]="['/']" href="#contact">here</a>.</p>
              </div>
            </div>
          </div>
        </div>

        <div id="faqIsOrganicAccordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header dash-accordion" role="tab" id="faqIsOrganicHeading">
              <h5 class="mb-0">
                <a class="faq-toggle" data-toggle="collapse" data-parent="#faqIsOrganicAccordion" href="#faqIsOrganicCollapse" aria-expanded="false" aria-controls="faqHowToPayCollapse">
                  <span class="faq-icon-collapsed"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></span>
                  <span class="faq-icon-expanded"><i class="fa fa-minus-circle fa-lg" aria-hidden="true"></i></span>
                  Is the food organic?
                </a>
              </h5>
            </div>
            <div id="faqIsOrganicCollapse" class="collapse" role="tabpanel" aria-labelledby="faqIsOrganicHeading">
              <div class="card-block">
                <p>OLF doesn’t restrict the types of food available on the site. Some producers will offer organic products and some will not. The information should be easy to find in the Producer Page or product information pages.</p>
              </div>
            </div>
          </div>
        </div>

        <div id="faqContactAccordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header dash-accordion" role="tab" id="faqContactHeading">
              <h5 class="mb-0">
                <a class="faq-toggle" data-toggle="collapse" data-parent="#faqContactAccordion" href="#faqContactCollapse" aria-expanded="false" aria-controls="faqHowToPayCollapse">
                  <span class="faq-icon-collapsed"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></span>
                  <span class="faq-icon-expanded"><i class="fa fa-minus-circle fa-lg" aria-hidden="true"></i></span>
                  I’m still not sure about this, is there someone I can talk to at OLF?
                </a>
              </h5>
            </div>
            <div id="faqContactCollapse" class="collapse" role="tabpanel" aria-labelledby="faqContactHeading">
              <div class="card-block">
                <p>If you need more information, we’d be happy to help. You can use our contact form <a pageScroll [pageScrollDuration]="750" [routerLink]="['/']" href="#contact">here</a>. If you’d like a call back, please include your phone number and the best time to contact you and we’ll do our best to get back to you in a timely manner.</p>
              </div>
            </div>
          </div>
        </div>

        <div id="faqModifyOrderAccordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header dash-accordion" role="tab" id="faqModifyOrderHeading">
              <h5 class="mb-0">
                <a class="faq-toggle" data-toggle="collapse" data-parent="#faqModifyOrderAccordion" href="#faqModifyOrderCollapse" aria-expanded="false" aria-controls="faqHowToPayCollapse">
                  <span class="faq-icon-collapsed"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></span>
                  <span class="faq-icon-expanded"><i class="fa fa-minus-circle fa-lg" aria-hidden="true"></i></span>
                  Can I modify my order after I have checked out?
                </a>
              </h5>
            </div>
            <div id="faqModifyOrderCollapse" class="collapse" role="tabpanel" aria-labelledby="faqModifyOrderHeading">
              <div class="card-block">
                <p>Your order goes through a few stages. When you first create it, it is marked ‘Pending’. Once the producer has reviewed it, they will mark it ‘Accepted’. If you need to make changes, they can only be made while it is ‘Pending’, before being accepted by the producer. If you need to order more products, you will have to create a new, separate order.</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <div class="divider-new">
    <h2 class="h2-responsive wow fadeIn" data-wow-delay="0.2s">Answers for Producers</h2>
  </div>

  <!-- Section -->
  <section id="producerFaq" class="text-left wow fadeIn" data-wow-delay="0.2s">
    <div class="row">
      <div class="col-12">

        <div id="faqWhyJoinAccordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header dash-accordion" role="tab" id="faqWhyJoinHeading">
              <h5 class="mb-0">
                <a class="faq-toggle" data-toggle="collapse" data-parent="#faqWhyJoinAccordion" href="#faqWhyJoinCollapse" aria-expanded="false" aria-controls="faqHowToPayCollapse">
                  <span class="faq-icon-collapsed"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></span>
                  <span class="faq-icon-expanded"><i class="fa fa-minus-circle fa-lg" aria-hidden="true"></i></span>
                  As a producer, why should I join?
                </a>
              </h5>
            </div>
            <div id="faqWhyJoinCollapse" class="collapse" role="tabpanel" aria-labelledby="faqWhyJoinHeading">
              <div class="card-block">
                <p>There are several benefits to joining Onlylocalfood.com:</p>
                <ul>
                  <li>Save time - Your time is valuable, so we aim to reduce the time you spend marketing and answering basic questions about your products and schedule. Potential consumers will be able to find all the info they need on OLF.</li>
                  <li>The power of community – Consumers love farmers’ markets for one reason: many vendors all in one place. OLF is the same idea. And as a benefit to you, consumers that may come to the site looking for one vendor can also see and order your products.</li>
                  <li>A de-facto website – If you don’t want to maintain a website on your own, you can use your Producer Page as a stand-in. It contains virtually all the information consumers need, including your products and schedule. And it doesn’t cost you anything!</li>
                  <li>Take pre-orders – Wouldn’t it be nice to go to a farmers’ market or roadside pickup with hundreds of dollars’ worth of product already sold? Make your day more predictable and profitable.</li>
                  <li>Direct marketing – Tap into OLF’s existing consumer base to market to people that you already know are looking for local food. If someone has signed up for notifications on our site, you can be sure they are more likely to order.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div id="faqGetPaidAccordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header dash-accordion" role="tab" id="faqGetPaidHeading">
              <h5 class="mb-0">
                <a class="faq-toggle" data-toggle="collapse" data-parent="#faqGetPaidAccordion" href="#faqGetPaidCollapse" aria-expanded="false" aria-controls="faqHowToPayCollapse">
                  <span class="faq-icon-collapsed"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></span>
                  <span class="faq-icon-expanded"><i class="fa fa-minus-circle fa-lg" aria-hidden="true"></i></span>
                  How do I get paid?
                </a>
              </h5>
            </div>
            <div id="faqGetPaidCollapse" class="collapse" role="tabpanel" aria-labelledby="faqGetPaidHeading">
              <div class="card-block">
                <p>OLF isn’t the middleman. When you and the consumer connect via delivery or pickup, they pay you directly, not us.</p>
              </div>
            </div>
          </div>
        </div>

        <div id="faqCostAccordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header dash-accordion" role="tab" id="faqCostHeading">
              <h5 class="mb-0">
                <a class="faq-toggle" data-toggle="collapse" data-parent="#faqCostAccordion" href="#faqCostCollapse" aria-expanded="false" aria-controls="faqHowToPayCollapse">
                  <span class="faq-icon-collapsed"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></span>
                  <span class="faq-icon-expanded"><i class="fa fa-minus-circle fa-lg" aria-hidden="true"></i></span>
                  How much does it cost, then?
                </a>
              </h5>
            </div>
            <div id="faqCostCollapse" class="collapse" role="tabpanel" aria-labelledby="faqCostHeading">
              <div class="card-block">
                <ul>
                  <li>We charge a flat 5% of orders sent through the site. We’ll send you an invoice at the end of each month in which you have orders. And your first month of charges is on us!</li>
                  <li>We are aiming to make things as risk-free as possible for you. Only pay for orders that we send your way, and only pay after you’ve been paid for those orders.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div id="faqWhatIsLocalProducerAccordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header dash-accordion" role="tab" id="faqWhatIsLocalProducerHeading">
              <h5 class="mb-0">
                <a class="faq-toggle" data-toggle="collapse" data-parent="#faqWhatIsLocalProducerAccordion" href="#faqWhatIsLocalProducerCollapse" aria-expanded="false" aria-controls="faqHowToPayCollapse">
                  <span class="faq-icon-collapsed"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></span>
                  <span class="faq-icon-expanded"><i class="fa fa-minus-circle fa-lg" aria-hidden="true"></i></span>
                  What exactly is local? Am I restricted to where I can sell?
                </a>
              </h5>
            </div>
            <div id="faqWhatIsLocalProducerCollapse" class="collapse" role="tabpanel" aria-labelledby="faqWhatIsLocalProducerHeading">
              <div class="card-block">
                <p>We aren’t going to restrict where you can sell. If you want to drive a full day to attend a market, that’s up to you. In our opinion, ‘local food’ is simply as ‘local’ as you can get. In fact, it’s more about helping small and medium producers get their goods directly into consumers’ hands.</p>
              </div>
            </div>
          </div>
        </div>

        <div id="faqContactInfoAccordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header dash-accordion" role="tab" id="faqContactInfoHeading">
              <h5 class="mb-0">
                <a class="faq-toggle" data-toggle="collapse" data-parent="#faqContactInfoAccordion" href="#faqContactInfoCollapse" aria-expanded="false" aria-controls="faqHowToPayCollapse">
                  <span class="faq-icon-collapsed"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></span>
                  <span class="faq-icon-expanded"><i class="fa fa-minus-circle fa-lg" aria-hidden="true"></i></span>
                  Why isn’t my contact information on my producer page?
                </a>
              </h5>
            </div>
            <div id="faqContactInfoCollapse" class="collapse" role="tabpanel" aria-labelledby="faqContactInfoHeading">
              <div class="card-block">
                <p>This goes back to our goal of trying to reduce the back-and-forth messaging that can come with selling food direct to the consumer. Buyers will have all the information they need to make a purchase decision right on the site itself, so we’ve made the decision to keep communication options limited. If you don’t agree with this, then we’d like to know more. You can send us a note and even ask us to call you back <a pageScroll [pageScrollDuration]="750" [routerLink]="['/']" href="#contact">here</a>.</p>
              </div>
            </div>
          </div>
        </div>

        <div id="faqHomepageAccordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header dash-accordion" role="tab" id="faqHomepageHeading">
              <h5 class="mb-0">
                <a class="faq-toggle" data-toggle="collapse" data-parent="#faqHomepageAccordion" href="#faqHomepageCollapse" aria-expanded="false" aria-controls="faqHowToPayCollapse">
                  <span class="faq-icon-collapsed"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></span>
                  <span class="faq-icon-expanded"><i class="fa fa-minus-circle fa-lg" aria-hidden="true"></i></span>
                  Can I use my producer page/storefront as my website?
                </a>
              </h5>
            </div>
            <div id="faqHomepageCollapse" class="collapse" role="tabpanel" aria-labelledby="faqHomepageHeading">
              <div class="card-block">
                <p>Absolutely! In fact, as consumers ourselves, we encourage it. A simple, one-stop point of information for potential buyers is ideal.</p>
              </div>
            </div>
          </div>
        </div>

        <div id="faqContactOLFAccordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header dash-accordion" role="tab" id="faqContactOLFHeading">
              <h5 class="mb-0">
                <a class="faq-toggle" data-toggle="collapse" data-parent="#faqContactOLFAccordion" href="#faqContactOLFCollapse" aria-expanded="false" aria-controls="faqHowToPayCollapse">
                  <span class="faq-icon-collapsed"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></span>
                  <span class="faq-icon-expanded"><i class="fa fa-minus-circle fa-lg" aria-hidden="true"></i></span>
                  I’m still not sure about this, is there someone I can talk to at OLF?
                </a>
              </h5>
            </div>
            <div id="faqContactOLFCollapse" class="collapse" role="tabpanel" aria-labelledby="faqContactOLFHeading">
              <div class="card-block">
                <p>If you need more information, we’d be happy to help. You can use our contact form <a pageScroll [pageScrollDuration]="750" [routerLink]="['/']" href="#contact">here</a>. If you’d like a call back, please include your phone number and the best time to contact you and we’ll do our best to get back to you in a timely manner.</p>
              </div>
            </div>
          </div>
        </div>

        <div id="faqMarketingAccordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header dash-accordion" role="tab" id="faqMarketingHeading">
              <h5 class="mb-0">
                <a class="faq-toggle" data-toggle="collapse" data-parent="#faqMarketingAccordion" href="#faqMarketingCollapse" aria-expanded="false" aria-controls="faqHowToPayCollapse">
                  <span class="faq-icon-collapsed"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></span>
                  <span class="faq-icon-expanded"><i class="fa fa-minus-circle fa-lg" aria-hidden="true"></i></span>
                  How is marketing handled?
                </a>
              </h5>
            </div>
            <div id="faqMarketingCollapse" class="collapse" role="tabpanel" aria-labelledby="faqMarketingHeading">
              <div class="card-block">
                <p>We’ve build several marketing strategies at OLF.</p>
                <ul>
                  <li>Social media, of course! At the moment we use Facebook and Twitter to engage consumers that are already interested in local food. If you schedule your deliveries and pickups at least 5 days in advance, we’ll work to get the word out there, even using paid advertising as necessary to increase the reach.</li>
                  <li>Our custom-built notification system – When you schedule an event, emails are automatically generated for everyone on the site that has told us they want to be notified. These emails are sent based on the location(s) a user has actively selected, so you can be sure that they are interested in buying.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div id="faqDistributorAccordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header dash-accordion" role="tab" id="faqDistributorHeading">
              <h5 class="mb-0">
                <a class="faq-toggle" data-toggle="collapse" data-parent="#faqDistributorAccordion" href="#faqDistributorCollapse" aria-expanded="false" aria-controls="faqHowToPayCollapse">
                  <span class="faq-icon-collapsed"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></span>
                  <span class="faq-icon-expanded"><i class="fa fa-minus-circle fa-lg" aria-hidden="true"></i></span>
                  Is OLF the distributor?
                </a>
              </h5>
            </div>
            <div id="faqDistributorCollapse" class="collapse" role="tabpanel" aria-labelledby="faqDistributorHeading">
              <div class="card-block">
                <p>Nope. We are simply a platform that connects you to your consumers. We don’t want to be a middleman, and that helps us keep your cost down.</p>
              </div>
            </div>
          </div>
        </div>

        <div id="faqOLFDifferentAccordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header dash-accordion" role="tab" id="faqOLFDifferentHeading">
              <h5 class="mb-0">
                <a class="faq-toggle" data-toggle="collapse" data-parent="#faqOLFDifferentAccordion" href="#faqOLFDifferentCollapse" aria-expanded="false" aria-controls="faqHowToPayCollapse">
                  <span class="faq-icon-collapsed"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></span>
                  <span class="faq-icon-expanded"><i class="fa fa-minus-circle fa-lg" aria-hidden="true"></i></span>
                  What makes OLF so different from other online food delivery services?
                </a>
              </h5>
            </div>
            <div id="faqOLFDifferentCollapse" class="collapse" role="tabpanel" aria-labelledby="faqOLFDifferentHeading">
              <div class="card-block">
                <p>Virtually every other local food website out there is a retailer/distributor. They buy the food from producers, and sell to consumers themselves. This adds a lot of cost to the transaction which can mean you get paid less, or the consumer pays more. OLF wants you to run your business how you see fit, and we’ll help you market to our growing consumer base.</p>
              </div>
            </div>
          </div>
        </div>

        <div id="faqAddDeliveryFeeAccordion" role="tablist" aria-multiselectable="true">
          <div class="card">
            <div class="card-header dash-accordion" role="tab" id="faqAddDeliveryFeeHeading">
              <h5 class="mb-0">
                <a class="faq-toggle" data-toggle="collapse" data-parent="#faqAddDeliveryFeeAccordion" href="#faqAddDeliveryFeeCollapse" aria-expanded="false" aria-controls="faqHowToPayCollapse">
                  <span class="faq-icon-collapsed"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></span>
                  <span class="faq-icon-expanded"><i class="fa fa-minus-circle fa-lg" aria-hidden="true"></i></span>
                  Can I add a delivery fee to orders?
                </a>
              </h5>
            </div>
            <div id="faqAddDeliveryFeeCollapse" class="collapse" role="tabpanel" aria-labelledby="faqAddDeliveryFeeHeading">
              <div class="card-block">
                <p>You sure can. When you choose to schedule a ‘door-to-door delivery’, you have the option to add a delivery fee. You can also choose to apply that fee to all orders, or to waive the fee when an order hits a certain dollar value.</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

</div>